In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#read in the data
pre=pd.read_csv("before injection mass scan.tsv", sep='\t', index_col=False, skiprows=lambda x: x <=19)

pre["Mass"]=pre['Mass'].round(1)

#rem negative vals
pre[pre < 0] = 0
pre=pre.iloc[::-1]

In [3]:
#read in the data
inj=pd.read_csv("during injection RGA scan.tsv", sep='\t', index_col=False, skiprows=lambda x: x <=19)
inj["Mass"]=inj['Mass'].round(1)
#remove negative values
inj[inj < 0] = 0
inj.head(10)
inj=inj.iloc[::-1]
inj.head(10)

     Mass       Current
490   1.0  3.654900e-12
489   1.1  2.633700e-12
488   1.2  2.042500e-12
487   1.3  1.558700e-12
486   1.4  1.505000e-12
485   1.5  1.451200e-12
484   1.6  2.580000e-12
483   1.7  4.783700e-12
482   1.8  7.148700e-12
481   1.9  8.868700e-12

In [4]:
#pressures
#read in the data
p= pd.read_csv("RGA calibration with N2", sep='\t', index_col=False)
p.drop(columns=["Live comments","I_emission","I_grid","T-platinum","T-CERNOX","helium","DUAL.1"], inplace=True)
p=p.set_axis(['Time', 'injection 100mbar', 'Barion_2', 'Barion_1', 'injection 1mbar'], axis=1, inplace=False)
#add elapsed time

timestamps=pd.to_datetime(p["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
p.insert(1,"Elapsed time",runtime)
p.head()

,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,injection 1mbar
0,19/10/2022 14:23:33,0.0,-0.062245,3.270000e-09,1.060000e-09,0.000454
1,19/10/2022 14:23:43,10.0,-0.062296,3.270000e-09,1.060000e-09,0.000454
2,19/10/2022 14:23:54,21.0,-0.061974,3.280000e-09,1.060000e-09,0.000454
3,19/10/2022 14:24:04,31.0,-0.062394,3.270000e-09,1.060000e-09,0.000467
4,19/10/2022 14:24:14,41.0,-0.062567,3.270000e-09,1.070000e-09,0.000451

In [5]:
#plotting pressures
plt.figure()
plt.plot((p["Elapsed time"]/3600),p['Barion_1'],marker=".", markersize=5,label='BA1')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Pressure evolution during injection")
plt.yscale('log')

In [6]:
#new dataframe for differential values
data=list(zip(inj["Mass"],inj["Current"]-pre["Current"]))
dif=pd.DataFrame(data, columns=["Mass", "Current"])
dif.head()

   Mass       Current
0   1.0  3.278700e-12
1   1.1  2.472500e-12
2   1.2  1.773800e-12
3   1.3  1.451200e-12
4   1.4  1.236300e-12

In [7]:
#plot the differential spectrum
plt.figure()
plt.plot((dif["Mass"]),dif['Current'],marker=".", markersize=5)
plt.xlabel('Molecular mass (amu)')
plt.ylabel('Ion current (A)')
plt.legend()
plt.title("Differential spectrum")
plt.yscale('log')
plt.show()

No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.

In [11]:
#getting the sensitivity values from the differential spectrum
I_refN2=dif["Current"].max()
p_dif=p["Barion_1"].max()-p["Barion_1"].min()
print(p_dif)
s_N2=I_refN2/p_dif
print(s_N2)

6.47894e-06
0.0003166791018283855