In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data and plotting

In [2]:
#read in the data
df1=pd.read_csv("RGA complete desorption measurement_no em.asc", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=16)
df2=pd.read_csv("RGA complete desorption measurement_em on_grid off.asc", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=16)
df3=pd.read_csv("RGA complete desorption measurement_em on_grid on.asc", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=16)
df1.head()

   ScanData             1
0      0.00  3.586220e-13
1      0.03  3.436770e-13
2      0.06  4.251090e-13
3      0.09  3.409520e-13
4      0.13  2.554780e-13

In [3]:
df2.head()

df1 = df1.rename(columns={'ScanData': 'Mass fraction', '1': 'Ion current'})
df2 = df2.rename(columns={'ScanData': 'Mass fraction', '1': 'Ion current'})
df3 = df3.rename(columns={'ScanData': 'Mass fraction', '1': 'Ion current'})

df3.head()

   Mass fraction   Ion current
0           0.00  4.589030e-13
1           0.03  4.086860e-13
2           0.06  5.733860e-13
3           0.09  4.328080e-13
4           0.13  5.049220e-13

In [4]:
#Plotting the all the spectrums overlaid on top
plt.figure(figsize=(14,8))
plt.plot((df1["Mass fraction"]),df1['Ion current'],marker=".", markersize=4,label='Emission off')
plt.plot((df2["Mass fraction"]),df2['Ion current'],marker=".", markersize=4,label='Emission on, grid transparent')
plt.plot((df3["Mass fraction"]),df3['Ion current'],marker=".", markersize=4,label='Emission on, grid repelling')
plt.xlabel('Mass fraction (u)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("RGA scan - full spectrum")
plt.xticks(np.arange(0,50,1.0))
plt.yscale('log')
plt.ylim(7e-13,1e-9)

(7e-13, 1e-09)

In [5]:
#Effect of turning the emission on
grid_transp=df2["Ion current"]-df1["Ion current"]
print(grid_transp)

0       1.018390e-13
1       6.510000e-14
2       1.083720e-13
3       4.659300e-14
4       2.098000e-13
            ...
1595    1.430980e-13
1596    4.637130e-13
1597    6.771540e-13
1598    5.052000e-13
1599   -6.397680e-13
Name: Ion current, Length: 1600, dtype: float64

In [6]:
# plotting grid transp. - bckground
plt.figure(figsize=(14,8))
plt.plot((df1["Mass fraction"]),grid_transp,marker=".", markersize=4,label='Subtracted signal')
plt.xlabel('Mass fraction (u)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("Grid transp - bckground")
plt.xticks(np.arange(0,50,1.0))
plt.yscale('log')
plt.ylim(7e-13,1e-9)

(7e-13, 1e-09)

In [10]:
#Plotting Emission on, grid transp. - Emission on, grid repelling
#essentially total ESD= EGA ESD + sample ESD
#sample ESD= Emission on, grid transp - bckground,grid repelling
plt.figure(figsize=(12,6))
plt.plot((df2["Mass fraction"]),dif["Sample sig"],marker=".", markersize=4,label='Subtracted signal')
plt.xlabel('Mass fraction (u)')
plt.ylabel('Ion current (A)')
plt.legend(loc="upper right")
plt.title("Differential mass spectrum of ESD from the copper sample")
plt.xticks(np.arange(0,52,2.0),rotation='vertical')
plt.yscale('log')
plt.ylim(7e-13,1e-10)

(7e-13, 1e-10)

In [7]:
#subtracting the background from the grid repelling
grid_repelling=df3["Ion current"]-df1["Ion current"]

In [8]:
#sample ESD= Emission on, grid transp - emission on,grid repelling
df2["Sample sig"]=grid_transp-grid_repelling
df2[df2 < 0] = 0
df2=df2.iloc[::-1]
df2.tail()

   Mass fraction   Ion current    Sample sig
4           0.13  4.652780e-13  0.000000e+00
3           0.09  3.875450e-13  0.000000e+00
2           0.06  5.334810e-13  0.000000e+00
1           0.03  4.087770e-13  9.100000e-17
0           0.00  4.604610e-13  1.558000e-15

In [9]:
#differential spectrum
dif=df2[['Mass fraction', 'Sample sig']].copy()
dif.head()

      Mass fraction    Sample sig
1599          49.97  5.126000e-14
1598          49.94  7.137490e-13
1597          49.91  6.117550e-13
1596          49.88  0.000000e+00
1595          49.84  1.878570e-13

### Desorption yield

In [11]:
#Desorption yield
#First, reading in the Emission current
I_em=pd.read_csv("complete desorption measurement", sep="\t")
I_em.drop(columns=['Full_Range_Turbo','Pirani_1','Injection','XHVTrap'], inplace=True)
I_em.drop(labels=[0,1], axis=0)

,Time,Penning_1,Penning_2,I_Em,Live comments
2,12/10/2022 14:04:23,2.600000e-10,3.600000e-10,1.768900e-12,NaN
3,12/10/2022 14:04:28,2.600000e-10,3.600000e-10,2.357900e-12,NaN
4,12/10/2022 14:04:34,2.600000e-10,3.600000e-10,3.879300e-12,NaN
5,12/10/2022 14:04:40,2.600000e-10,3.600000e-10,4.801500e-12,NaN
6,12/10/2022 14:04:46,2.600000e-10,3.600000e-10,9.268000e-13,NaN
...,...,...,...,...,...
1668,12/10/2022 16:28:12,1.400000e-09,3.200000e-09,1.097650e-10,NaN
1669,12/10/2022 16:28:18,1.400000e-09,3.200000e-09,1.151130e-10,NaN
1670,12/10/2022 16:28:24,1.400000e-09,3.200000e-09,1.112000e-10,NaN
1671,12/10/2022 16:28:29,1.400000e-09,3.200000e-09,1.156240e-10,NaN
1672,12/10/2022 16:28:35,1.400000e-09,3.200000e-09,1.154020e-10,NaN

In [12]:
#adding an elapsed time column
timestamp=[]
for i in I_em["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(I_em["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
I_em.insert(1,"Elapsed time",runtime)
I_em.drop(index=I_em.index[0], 
        axis=0, 
        inplace=True)

I_em.head()

,Time,Elapsed time,Penning_1,Penning_2,I_Em,Live comments
1,12/10/2022 14:04:17,5.0,2.600000e-10,3.600000e-10,8.016000e-13,NaN
2,12/10/2022 14:04:23,11.0,2.600000e-10,3.600000e-10,1.768900e-12,NaN
3,12/10/2022 14:04:28,16.0,2.600000e-10,3.600000e-10,2.357900e-12,NaN
4,12/10/2022 14:04:34,22.0,2.600000e-10,3.600000e-10,3.879300e-12,NaN
5,12/10/2022 14:04:40,28.0,2.600000e-10,3.600000e-10,4.801500e-12,NaN

## Plotting I_em, pressures

In [13]:
#Plotting the I_em
plt.figure(figsize=(10,6))
plt.plot(I_em["Elapsed time"]/3600,I_em["I_Em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Emission current (A)')
plt.legend()
plt.title("Emission current over time")
plt.yscale('log')

In [14]:
#Plotting the pressure of PE2
plt.figure(figsize=(10,6))
plt.plot(I_em["Elapsed time"]/3600,I_em["Penning_2"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Chamber pressure over time")
plt.yscale('log')
plt.ylim(1e-10,1e-8)

(1e-10, 1e-08)

### Grid current (and subtraction) - TODO

In [15]:
#Reading in the HiVolta measurement file to get the grid current
hv=pd.read_csv("HiVolta req complete desorption measurement", sep=",", index_col=False)
hv.columns=["Date","Time","Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon1","Imon2","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"] 
hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
print(hv["Imon1"])
hv["hv_grid"]=[element * 1e-6 for element in hv["Imon1"]]
hv.head()

0       0.029
1       0.029
2       0.029
3       0.029
4       0.029
        ...
7262    0.296
7263    0.296
7264    0.296
7265    0.296
7266    0.296
Name: Imon1, Length: 7267, dtype: float64

         Date          Time  Imon1  Imon2       hv_grid
0  12/10/2022  14:05:43.989  0.029  0.035  2.900000e-08
1  12/10/2022  14:05:45.161  0.029  0.035  2.900000e-08
2  12/10/2022  14:05:46.328  0.029  0.035  2.900000e-08
3  12/10/2022  14:05:47.503  0.029  0.035  2.900000e-08
4  12/10/2022  14:05:48.676  0.029  0.035  2.900000e-08

In [16]:
#TODO:applying the grid current subtraction to the emission current
#hv["Imon2"]=[element * 1e-6 for element in hv["Imon2"]]
#print(hv["Imon2"])
#hv["Corrected em"]=hv["Imon2"]-hv_grid
#hv.head()

# Primary desorption calculation method
### Elena's formula for the cryo setup
$$
\eta=\frac{C_{H2}\cdot (\Delta p_1 - \Delta p_2)q_e}{k_B\cdot T \cdot I_e}
$$
In the case of the RT setup, we dont know the exact conductance due to not having a calibrated orifice. And the $\Delta p$ in this case is the difference of partial pressures (for the gas in question) e.g grid transparent - grid repelling. Because we use the partial pressures, $I_e$ here is the total emission current.
### RT setup:
So the formula in the case of the RT setup would be:
$$
\eta_{gas}=\frac{Q\cdot q_e}{k_B \cdot T \cdot I_{e, tot}}=\frac{\Delta p_{partial} \cdot S_{gas}\cdot q_e}{k_B \cdot T \cdot I_{e, tot}}
$$
where $\Delta p_{partial}$ would be:
$$
\Delta p_{partial}=p_{par, transm.}-p_{par, repel.}
$$

and
$$
p_{par}=\frac{ref_{peak}\cdot p_{tot}}{\Sigma_{refpeaks}}
$$

### Effective pumping speeds:
Here a simplification is made:
$$
S_{gas}=c \cdot S_{eff,N2}
$$
where  $S_{eff,N2}=42 [\frac {l}{s}]$ is known and $c$ is:
$$
c=\frac{C_1}{C_2}=\sqrt{\frac{M_2}{M_1}}
$$

 $M_2$ and $M_1$ are the molar masses of the gas species

In [49]:
#calculating the effective pumping speeds in m3/s
S_h2=(np.sqrt(2/28)*44)/1000
print(S_h2)
S_co2=(np.sqrt(44/28)*44)/1000
print(S_co2)
S_h2o=(np.sqrt(18/28)*44)/1000
print(S_h2o)

0.011759494644146674
0.05515691900646476
0.03527848393244002

In [50]:
#Gas species detected desorbing from the Cu sample include H2 and CO2, others in marginal amounts
#For this calculation it is assumed that H2 and CO2 make up 100% of the total I_em
#step 1 constants
k_B=1.38e-23
T=296
q_e=1.6e-19
I_emission=I_em["I_Em"].max()

In [34]:
#peak indices 
h2_peak=dif.index[(dif["Mass fraction"]>1.5) & (dif["Mass fraction"]<2.5)].tolist()

print(h2_peak)
co2_peak=dif.index[(dif["Mass fraction"]>43.5) & (dif["Mass fraction"]<44.5)].tolist()

print(co2_peak)
h2o_peak=dif.index[(dif["Mass fraction"]>17.5) & (dif["Mass fraction"]<19.5)].tolist()
print(h2o_peak)

[79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49]
[1423, 1422, 1421, 1420, 1419, 1418, 1417, 1416, 1415, 1414, 1413, 1412, 1411, 1410, 1409, 1408, 1407, 1406, 1405, 1404, 1403, 1402, 1401, 1400, 1399, 1398, 1397, 1396, 1395, 1394, 1393]
[623, 622, 621, 620, 619, 618, 617, 616, 615, 614, 613, 612, 611, 610, 609, 608, 607, 606, 605, 604, 603, 602, 601, 600, 599, 598, 597, 596, 595, 594, 593, 592, 591, 590, 589, 588, 587, 586, 585, 584, 583, 582, 581, 580, 579, 578, 577, 576, 575, 574, 573, 572, 571, 570, 569, 568, 567, 566, 565, 564, 563, 562, 561]

In [35]:
#ref peak values
h2_ref=dif["Sample sig"][h2_peak].max()


h2o_ref=dif["Sample sig"][h2o_peak].max()


co2_ref=dif["Sample sig"][co2_peak].max()
print(h2_ref)
print(h2o_ref)
print(co2_ref)


#the sums
sum_ref=h2_ref+h2o_ref+co2_ref
print(sum_ref)
#total pressure
p_tot=I_em["Penning_2"].max()
print(p_tot)

1.031499999999998e-11
6.5164999999999995e-12
2.0667399999999997e-11
3.749889999999997e-11
5.6e-09

In [39]:
#calculating partial pressures
#assuming here that h2, h2o and co2 make up 100% of the desorbed gas
#refpeaks: h2- 2 AMU, h2o - 18 AMU, CO2 - 44 AMU
h2_par=h2_ref*p_tot/sum_ref

print("H2:",h2_par)
h2o_par=h2o_ref*p_tot/sum_ref

print("H2O:",h2o_par)

co2_par=co2_ref*p_tot/sum_ref

print("CO2:",co2_par)

H2: 1.5404185189432205e-09
H2O: 9.731592126702389e-10
CO2: 3.086422268386541e-09

In [ ]:
#

In [52]:
#approximated desorption yields
eta_co2=(co2_par*S_co2*q_e)/(k_B*T*I_emission)
print(eta_co2)
eta_h2=(h2_par*S_h2*q_e)/(k_B*T*I_emission)
print(eta_h2)
eta_h2o=(h2o_par*S_h2o*q_e)/(k_B*T*I_emission)
print(eta_h2o)

0.006537774000574477
0.0006956678781331028
0.001318464293122939