In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data

In [2]:
#read in the data
df1=pd.read_csv("background.tsv", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=19)
df2=pd.read_csv("em on, grid transparent.tsv", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=19)
df3=pd.read_csv("em on, grid repelling.tsv", delim_whitespace=True, index_col=False, skiprows=lambda x: x <=19)
df3.head()

        Mass       Current
0  50.000000  6.450000e-13
1  49.900002  5.375000e-13
2  49.799999  5.375000e-13
3  49.700001  5.912000e-13
4  49.599998  6.987000e-13

In [3]:
#reading the Emission current, pressures
vaclog=pd.read_csv("pressure log", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,04/11/2022 16:55:58,7.0,-0.050363,1.240000e-08,3.700000e-09,4.996000e-09,0.000002,0.001462,0.0,-113.019,54.545,NaN,NaN
2,NaN,04/11/2022 16:56:05,14.0,-0.050682,1.240000e-08,3.670000e-09,4.996000e-09,0.000002,0.001474,0.0,-113.243,54.657,NaN,NaN
3,NaN,04/11/2022 16:56:12,21.0,-0.050732,1.230000e-08,3.670000e-09,4.996000e-09,0.000002,0.001461,0.0,-113.243,54.657,NaN,NaN
4,NaN,04/11/2022 16:56:19,28.0,-0.052902,1.240000e-08,3.660000e-09,4.996000e-09,0.000002,0.001454,0.0,-113.355,54.770,NaN,NaN
5,NaN,04/11/2022 16:56:27,36.0,-0.052705,1.230000e-08,3.640000e-09,4.996000e-09,0.000002,0.001453,0.0,-113.243,54.545,NaN,NaN

In [4]:
#Reading in the HiVolta measurement file to get the grid current
hv = pd.read_csv("hv log", sep=",")
hv.columns=["Date","Time","Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon1","Imon2","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"] 
hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["Imon1"]]
hv["em"]=[element * 1e-6 for element in hv["Imon2"]]

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)
hv.drop(index=hv.index[0], 
        axis=0, 
        inplace=True)

hv.head()

,Date,Time,Elapsed time,Imon1,Imon2,hv_grid,em
1,04/11/2022,16:54:32.511,1.184,-0.0036,0.0075,-3.600000e-09,7.500000e-09
2,04/11/2022,16:54:33.685,2.358,-0.0036,0.0075,-3.600000e-09,7.500000e-09
3,04/11/2022,16:54:34.864,3.537,-0.0036,0.0075,-3.600000e-09,7.500000e-09
4,04/11/2022,16:54:36.044,4.717,-0.0036,0.0075,-3.600000e-09,7.500000e-09
5,04/11/2022,16:54:37.229,5.902,-0.0036,0.0075,-3.600000e-09,7.500000e-09

### Data processing

In [5]:
#Filtering background signal
df2["sig"] = df2["Current"]-df1["Current"]
df3["sig"] = df3["Current"]-df1["Current"]
#set negative values to 0
df2["sig"][df2["sig"] < 0] = 0
df2["sig"] = df2["sig"].iloc[::-1] 

df3["sig"][df3["sig"] < 0] = 0
df3["sig"] = df3["sig"].iloc[::-1]

df3.head()

        Mass       Current           sig
0  50.000000  6.450000e-13  5.913000e-13
1  49.900002  5.375000e-13  4.300000e-13
2  49.799999  5.375000e-13  4.838000e-13
3  49.700001  5.912000e-13  4.300000e-13
4  49.599998  6.987000e-13  5.375000e-13

In [6]:
#getting the differential spectrum
sub = df2["sig"]-df3["sig"]
dif = pd.DataFrame(data=sub)
dif.insert(0,"Mass",df2["Mass"])  
dif.head()

        Mass           sig
0  50.000000 -5.913000e-13
1  49.900002 -4.300000e-13
2  49.799999 -4.838000e-13
3  49.700001 -4.300000e-13
4  49.599998 -5.375000e-13

### Plotting

In [7]:
#Plotting the all the spectrums overlaid on top
plt.figure(figsize=(14,8))
plt.plot((df1["Mass"]),df1['Current'],marker=".", markersize=4,label='Emission off (background)')
plt.plot((df2["Mass"]),df2['Current'],marker=".", markersize=4,label='Emission on, grid transparent')
plt.plot((df3["Mass"]),df3['Current'],marker=".", markersize=4,label='Emission on, grid repelling')
plt.xlabel('Mass fraction (a.m.u)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("RGA scans overlay")
plt.xticks(np.arange(0,52,2.0),rotation='vertical')
plt.yscale('log')

In [8]:
#Plotting Emission on, grid transp. - Emission on, grid repelling
#essentially total ESD= EGA ESD + sample ESD
#sample ESD= Emission on, grid transp - bckground,grid repelling
plt.figure(figsize=(12,6))
plt.plot((dif["Mass"]),dif["sig"],marker=".", markersize=4,label='differential spectrum')
plt.xlabel('Mass fraction (u)')
plt.ylabel('Ion current (A)')
plt.legend(loc="upper right")
plt.title("Differential mass spectrum of ESD from the copper sample")
plt.xticks(np.arange(0,52,2.0),rotation='vertical')
plt.yscale('log')
plt.ylim(1e-15,2e-13)

(1e-15, 2e-13)

In [9]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["Imon1"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["Imon2"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s, us)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("HiVolta current recording")
plt.yscale('log')

In [14]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"]/3600,vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2 pressure reading')
plt.plot(vaclog["Elapsed time"]/3600,vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1 pressure reading')

plt.xlabel('Elapsed time (h)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Barion 2 pressure evolution")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
ax.yaxis.set_minor_formatter(LogFormatter(minor_thresholds=(2,0.5)))
plt.show()

# Primary desorption calculation method
### Elena's formula for the cryo setup
$$
\eta=\frac{C_{H2}\cdot (\Delta p_1 - \Delta p_2)q_e}{k_B\cdot T \cdot I_e}
$$

Where $\Delta p_i=p(t)_i - p(t=0)_i$ and $i=1,2$
In the case of the 4K setup, we know the exact conductance of gasses. The formula above applies well.

In [31]:
#calculation delta_p-s
dp1 = np.mean(vaclog["Barion_1"].nlargest(20))-vaclog["Barion_1"].min()*100
dp2 = np.mean(vaclog["Barion_2"].nlargest(20))-vaclog["Barion_2"].min()*100
print(dp1, dp2)

#Constants
k_B = 1.38e-23
T = 296
q_e = 1.6e-19
c_h2 = 37.91/1000
#Emission current
I_em = np.mean(hv["Imon2"].nlargest(30))*1e-6
print(I_em)
#Conductance for CO2 in m3/s
c_co2 = 8.08/1000

-2.98648e-07 -9.954749999999998e-07
1.5866633333333332e-06

In [37]:
#Desorption yield
eta_h2 = (c_h2*(dp1-dp2)*q_e)/(k_B*T*I_em)
eta_co2 = (c_co2*(dp1-dp2)*q_e)/(k_B*T*I_em)
print("The desorption yield for H2 [mol/el]:",eta_h2,"\n","The desorption yield for CO2 [mol/el]:",eta_co2)

The desorption yield for H2 [mol/el]: 0.6521434759751206
 The desorption yield for CO2 [mol/el]: 0.13899549685779414