In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter
import math
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data files

In [2]:
#read in the data
df= pd.read_csv("vaclog", sep='\t', index_col=False)
df.drop(columns=["I_emission","I_grid","T-platinum"], inplace=True)

In [3]:
#add elapsed time

df_timestamps=pd.to_datetime(df["Time"],format="%d/%m/%Y %H:%M:%S")

runtime=(df_timestamps-df_timestamps[0]).dt.total_seconds()    
df.insert(1,"Elapsed time",runtime)
df

,Live comments,Elapsed time,Time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-CERNOX
0,NaN,0.0,01/03/2023 12:11:24,78.324,5.810000e-10,4.300000e-10,4.996000e-09,5.337000e-07,1.1,0.0,88.776
1,NaN,7.0,01/03/2023 12:11:31,78.325,5.660000e-10,4.240000e-10,4.996000e-09,5.324000e-07,1.1,0.0,88.888
2,NaN,14.0,01/03/2023 12:11:38,78.324,5.650000e-10,4.250000e-10,4.996000e-09,5.305000e-07,1.1,0.0,88.664
3,NaN,20.0,01/03/2023 12:11:44,78.324,5.640000e-10,4.240000e-10,4.996000e-09,5.292000e-07,1.1,0.0,88.888
4,NaN,27.0,01/03/2023 12:11:51,78.324,5.630000e-10,4.230000e-10,4.996000e-09,5.267000e-07,1.1,0.0,88.776
...,...,...,...,...,...,...,...,...,...,...,...
2066,NaN,14108.0,01/03/2023 16:06:32,77.501,7.530000e-09,8.130000e-09,5.179000e-09,3.754000e-07,1.1,260.0,4297.177
2067,NaN,14115.0,01/03/2023 16:06:39,77.501,7.470000e-09,8.060000e-09,5.081000e-09,3.754000e-07,1.1,260.0,4297.065
2068,NaN,14122.0,01/03/2023 16:06:46,77.501,7.450000e-09,8.000000e-09,5.050000e-09,3.754000e-07,1.1,260.0,4297.177
2069,NaN,14129.0,01/03/2023 16:06:53,77.501,7.400000e-09,7.980000e-09,5.154000e-09,3.754000e-07,1.1,259.0,4297.289
2070,NaN,14135.0,01/03/2023 16:06:59,77.501,7.360000e-09,7.960000e-09,4.996000e-09,3.754000e-07,1.1,260.0,4297.065

In [4]:
#Reading in the HiVolta measurement file 
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["I_em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
#hv["I_em"]=abs(hv["I_em"])
#hv["hv_grid"]=abs(hv["hv_grid"])
hv["datetime"] = pd.to_datetime(hv['Date'] + ' ' + hv['Time'],format="%d/%m/%Y %H:%M:%S.%f")
#hv['datetime'] = hv['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S.%f')
#hv.insert(0,"datetime",hv["Date"]+" "+hv["Time"])

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps1=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps1-timestamps1[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)


hv

,Date,Time,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,...,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,Comment,hv_grid,I_em,datetime
0,01/03/2023,14:27:53.522,0.000,0.0,0.08,0.06,0.08,0.0,0.00,0.0,...,0.0064,0.0085,0.0098,0.0099,-0.0050,-0.0141,NaN,9.700000e-09,8.400000e-09,2023-03-01 14:27:53.522
1,01/03/2023,14:27:54.706,1.184,0.0,0.08,0.06,0.08,0.0,0.00,0.0,...,0.0064,0.0085,0.0098,0.0099,-0.0050,-0.0141,NaN,9.700000e-09,8.400000e-09,2023-03-01 14:27:54.706
2,01/03/2023,14:27:55.883,2.361,0.0,0.08,0.06,0.08,0.0,0.00,0.0,...,0.0064,0.0085,0.0098,0.0099,-0.0050,-0.0141,NaN,9.700000e-09,8.400000e-09,2023-03-01 14:27:55.883
3,01/03/2023,14:27:57.068,3.546,0.0,0.08,0.06,0.08,0.0,0.00,0.0,...,0.0064,0.0085,0.0098,0.0099,-0.0050,-0.0141,NaN,9.700000e-09,8.400000e-09,2023-03-01 14:27:57.068
4,01/03/2023,14:27:58.248,4.726,0.0,0.08,0.06,0.08,0.0,0.00,0.0,...,0.0064,0.0085,0.0098,0.0099,-0.0050,-0.0141,NaN,9.700000e-09,8.400000e-09,2023-03-01 14:27:58.248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5017,01/03/2023,16:07:46.878,5993.356,0.0,100.08,1000.12,1000.24,1000.2,500.02,0.0,...,18.2871,18.3117,18.2933,18.2838,-0.0037,-0.0143,NaN,-5.636000e-07,3.995500e-06,2023-03-01 16:07:46.878
5018,01/03/2023,16:07:48.081,5994.559,0.0,100.08,1000.12,1000.24,1000.2,500.02,0.0,...,18.2887,18.3136,18.2958,18.2870,-0.0037,-0.0143,NaN,-5.631000e-07,3.995500e-06,2023-03-01 16:07:48.081
5019,01/03/2023,16:07:49.282,5995.760,0.0,100.08,1000.12,1000.24,1000.2,500.02,0.0,...,18.2891,18.3142,18.2962,18.2866,-0.0037,-0.0143,NaN,-5.653000e-07,3.995500e-06,2023-03-01 16:07:49.282
5020,01/03/2023,16:07:50.477,5996.955,0.0,100.08,1000.12,1000.24,1000.2,500.02,0.0,...,18.2896,18.3142,18.2962,18.2856,-0.0037,-0.0143,NaN,-5.619000e-07,3.996800e-06,2023-03-01 16:07:50.477
5021,01/03/2023,16:07:51.677,5998.155,0.0,100.08,1000.12,1000.24,1000.2,500.02,0.0,...,18.2888,18.3132,18.2956,18.2839,-0.0037,-0.0143,NaN,-5.648000e-07,3.997300e-06,2023-03-01 16:07:51.677

## Plots for debugging and data manipulation

In [5]:
#find the timestamp in vaclog, where emission started
#emission on: 1/03/2023,15:04:19.430
x = pd.Timestamp(2023, 3, 1, 15,4,19)

#then find the time value closest to it in the vaclog scan file 
print("\n","Result 1:",df.iloc[(df_timestamps - x).abs().argsort(),:])
print("\n","Result 2:",hv.iloc[(hv["datetime"] - x).abs().argsort(),:])

 Result 1:      Live comments  Elapsed time                 Time  injection 100mbar  \
1519           NaN       10372.0  01/03/2023 15:04:16             78.145
1520           NaN       10379.0  01/03/2023 15:04:23             78.144
1518           NaN       10365.0  01/03/2023 15:04:09             78.144
1521           NaN       10386.0  01/03/2023 15:04:30             78.144
1522           NaN       10392.0  01/03/2023 15:04:36             78.144
...            ...           ...                  ...                ...
4              NaN          27.0  01/03/2023 12:11:51             78.324
3              NaN          20.0  01/03/2023 12:11:44             78.324
2              NaN          14.0  01/03/2023 12:11:38             78.324
1              NaN           7.0  01/03/2023 12:11:31             78.325
0              NaN           0.0  01/03/2023 12:11:24             78.324

          Barion_2      Barion_1  DUAL experiment  DUAL insulation  \
1519  1.360000e-09  1.860000e-09     4.996000e-09     3.574000e-07
1520  1.360000e-09  1.860000e-09     4.996000e-09     3.574000e-07
1518  1.370000e-09  1.860000e-09     4.996000e-09     3.574000e-07
1521  1.350000e-09  1.840000e-09     4.996000e-09     3.574000e-07
1522  1.350000e-09  1.840000e-09     4.996000e-09     3.574000e-07
...            ...           ...              ...              ...
4     5.630000e-10  4.230000e-10     4.996000e-09     5.267000e-07
3     5.640000e-10  4.240000e-10     4.996000e-09     5.292000e-07
2     5.650000e-10  4.250000e-10     4.996000e-09     5.305000e-07
1     5.660000e-10  4.240000e-10     4.996000e-09     5.324000e-07
0     5.810000e-10  4.300000e-10     4.996000e-09     5.337000e-07

      injection 1mbar  helium  T-CERNOX
1519              1.1   281.0  4282.474
1520              1.1   281.0  4282.587
1518              1.1   281.0  4282.474
1521              1.1   281.0  4282.474
1522              1.1   281.0  4282.587
...               ...     ...       ...
4                 1.1     0.0    88.776
3                 1.1     0.0    88.888
2                 1.1     0.0    88.664
1                 1.1     0.0    88.888
0                 1.1     0.0    88.776

[2071 rows x 11 columns]

 Result 2:             Date          Time  Elapsed time   VMon1   VMon2    VMon3  \
1850  01/03/2023  15:04:19.430      2185.908  499.20   99.52     0.10
1849  01/03/2023  15:04:18.247      2184.725  461.46   70.38     0.00
1851  01/03/2023  15:04:20.626      2187.104  499.84   99.82     0.40
1848  01/03/2023  15:04:16.686      2183.164  311.14    0.08     0.08
1852  01/03/2023  15:04:21.827      2188.305  499.86   99.94     0.44
...          ...           ...           ...     ...     ...      ...
5017  01/03/2023  16:07:46.878      5993.356    0.00  100.08  1000.12
5018  01/03/2023  16:07:48.081      5994.559    0.00  100.08  1000.12
5019  01/03/2023  16:07:49.282      5995.760    0.00  100.08  1000.12
5020  01/03/2023  16:07:50.477      5996.955    0.00  100.08  1000.12
5021  01/03/2023  16:07:51.677      5998.155    0.00  100.08  1000.12

        VMon4   VMon5   VMon6  VMon7  ...    IMon3    IMon4    IMon5    IMon6  \
1850     0.00     0.0    0.00    0.0  ...   0.2601   0.2260   0.1471   0.1029
1849     0.00     0.0    0.00    0.0  ...   1.2302   0.9021   0.6114   0.2916
1851     0.14     0.0    0.00    0.0  ...   0.0578   0.0348   0.0196   0.0320
1848     0.08     0.0    0.00    0.0  ...   0.0066   0.0052   0.0104   0.0082
1852     0.18     0.0    0.00    0.0  ...   0.0424   0.0259   0.0159   0.0244
...       ...     ...     ...    ...  ...      ...      ...      ...      ...
5017  1000.24  1000.2  500.02    0.0  ...  18.2871  18.3117  18.2933  18.2838
5018  1000.24  1000.2  500.02    0.0  ...  18.2887  18.3136  18.2958  18.2870
5019  1000.24  1000.2  500.02    0.0  ...  18.2891  18.3142  18.2962  18.2866
5020  1000.24  1000.2  500.02    0.0  ...  18.2896  18.3142  18.2962  18.2856
5021  1000.24  1000.2  500.02    0.0  ...  18.2888  18.3132  18.2956  18.2839

       IMon7   IMon8  Comment       hv_grid          I_em  \
1850 -0.0065 -0.0143      NaN  3.870000e-08  3.276000e-07
1849 -0.0065 -0.0143      NaN  5.180000e-07  1.574000e-06
1851 -0.0065 -0.0143      NaN  3.160000e-08  6.300000e-08
1848 -0.0065 -0.0143      NaN  4.849000e-07  1.290000e-08
1852 -0.0065 -0.0143      NaN  2.810000e-08  4.720000e-08
...      ...     ...      ...           ...           ...
5017 -0.0037 -0.0143      NaN -5.636000e-07  3.995500e-06
5018 -0.0037 -0.0143      NaN -5.631000e-07  3.995500e-06
5019 -0.0037 -0.0143      NaN -5.653000e-07  3.995500e-06
5020 -0.0037 -0.0143      NaN -5.619000e-07  3.996800e-06
5021 -0.0037 -0.0143      NaN -5.648000e-07  3.997300e-06

                    datetime
1850 2023-03-01 15:04:19.430
1849 2023-03-01 15:04:18.247
1851 2023-03-01 15:04:20.626
1848 2023-03-01 15:04:16.686
1852 2023-03-01 15:04:21.827
...                      ...
5017 2023-03-01 16:07:46.878
5018 2023-03-01 16:07:48.081
5019 2023-03-01 16:07:49.282
5020 2023-03-01 16:07:50.477
5021 2023-03-01 16:07:51.677

[5022 rows x 23 columns]

----------------------------------

In [6]:
#slicing the hv dataframe 
#include only the part with electron activity

EM = hv[1850:5021]

#slicing the df dataset
#include only the part with electron activity

esd = df.iloc[list((df["Elapsed time"]).between(10372,14135))]
print(esd)

     Live comments  Elapsed time                 Time  injection 100mbar  \
1519           NaN       10372.0  01/03/2023 15:04:16             78.145
1520           NaN       10379.0  01/03/2023 15:04:23             78.144
1521           NaN       10386.0  01/03/2023 15:04:30             78.144
1522           NaN       10392.0  01/03/2023 15:04:36             78.144
1523           NaN       10399.0  01/03/2023 15:04:43             78.144
...            ...           ...                  ...                ...
2066           NaN       14108.0  01/03/2023 16:06:32             77.501
2067           NaN       14115.0  01/03/2023 16:06:39             77.501
2068           NaN       14122.0  01/03/2023 16:06:46             77.501
2069           NaN       14129.0  01/03/2023 16:06:53             77.501
2070           NaN       14135.0  01/03/2023 16:06:59             77.501

          Barion_2      Barion_1  DUAL experiment  DUAL insulation  \
1519  1.360000e-09  1.860000e-09     4.996000e-09     3.574000e-07
1520  1.360000e-09  1.860000e-09     4.996000e-09     3.574000e-07
1521  1.350000e-09  1.840000e-09     4.996000e-09     3.574000e-07
1522  1.350000e-09  1.840000e-09     4.996000e-09     3.574000e-07
1523  1.360000e-09  1.870000e-09     4.996000e-09     3.574000e-07
...            ...           ...              ...              ...
2066  7.530000e-09  8.130000e-09     5.179000e-09     3.754000e-07
2067  7.470000e-09  8.060000e-09     5.081000e-09     3.754000e-07
2068  7.450000e-09  8.000000e-09     5.050000e-09     3.754000e-07
2069  7.400000e-09  7.980000e-09     5.154000e-09     3.754000e-07
2070  7.360000e-09  7.960000e-09     4.996000e-09     3.754000e-07

      injection 1mbar  helium  T-CERNOX
1519              1.1   281.0  4282.474
1520              1.1   281.0  4282.587
1521              1.1   281.0  4282.474
1522              1.1   281.0  4282.587
1523              1.1   280.0  4282.587
...               ...     ...       ...
2066              1.1   260.0  4297.177
2067              1.1   260.0  4297.065
2068              1.1   260.0  4297.177
2069              1.1   259.0  4297.289
2070              1.1   260.0  4297.065

[552 rows x 11 columns]

In [7]:
#plotting the sliced data
#Plotting the general pressure evolution for overview

fig, ax = plt.subplots()

ax.plot((esd["Elapsed time"]-10372)/3600,esd['Barion_1']/0.46,color="cyan",marker=".", markersize=4,label='BA1')
ax.plot((esd["Elapsed time"]-10372)/3600,esd['Barion_2']/0.46,color="red",marker=".", markersize=4,label='BA2')
plt.legend(loc="upper right")
#plotting the sliced HiVolta log
ax2=ax.twinx()
ax2.plot((EM["Elapsed time"]-2186)/3600,EM["I_em"],marker=".", markersize=4,label='Emission current')
#ax2.plot(EM["Elapsed time"]/3600,EM["hv_grid"],marker=".", markersize=4,label='Grid current')

ax.set_xlabel('Elapsed time (s)')
ax.set_ylabel('Pressure (mbar)')
ax2.set_ylabel('Current (A)')

ax.set_yscale('linear')
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
plt.legend(loc="upper right")
plt.title("Pressure and current evolution during ESD. H2 equivalent")

Text(0.5, 1.0, 'Pressure and current evolution during ESD. H2 equivalent')

In [8]:
plt.figure(figsize=(12,6))
plt.plot(EM["Elapsed time"]/3600,EM["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(EM["Elapsed time"]/3600,EM["I_em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution during electron emission")


plt.yscale('log')

In [9]:
#Temperature curve for CERNOX 
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [10]:
#Plotting the general pressure evolution for overview
fig, ax = plt.subplots()

l5 = ax.plot(df["Elapsed time"]/3600, polyfit(A,df["T-CERNOX"]),marker=".", color="cyan", markersize=5,label='Temperature')
ax.set_ylabel('Temperature (K)')

ax.set_xlabel('Elapsed time (h)')
ax2=ax.twinx()

l1 = ax2.plot((df["Elapsed time"]/3600),df['Barion_1']/0.46,marker=".", markersize=5,label='BA1')
l2 = ax2.plot((df["Elapsed time"]/3600),df['Barion_2']/0.46,marker=".", markersize=5,label='BA2')
l3 = ax2.plot((df["Elapsed time"]/3600),df['DUAL experiment'],marker=".", markersize=5,label='DUAL')
ax2.set_ylabel('Pressure (mbar)')

ax2.legend(handles = l1+l2+l3+l5, loc="upper left")
plt.title("Pressure evolution + temperatures. H2 equivalent.")
ax2.set_yscale('log')

In [11]:
#TODO - calculating coverages for plotting pressure v coverage
#in the first assumption coverage is assumed to be equivalent to the number of molecules injected 
#coverage at any given time point in [M/cm2] -> M/s * total injection time 
#First - Determine the inj start point, set elapsed time here to 0. 
inj = df.loc[df["Barion_2"] >= 9e-8]
inj.drop(columns="Elapsed time", inplace=True)
print(inj)
timestamps2 = pd.to_datetime(inj["Time"],format="%d/%m/%Y %H:%M:%S")
runtime2 = (timestamps2-timestamps2[1265]).dt.total_seconds()    
inj.insert(1,"Elapsed time",runtime2)

     Live comments                 Time  injection 100mbar      Barion_2  \
1265           NaN  01/03/2023 14:35:18             78.412  2.180000e-07
1266           NaN  01/03/2023 14:35:25             78.408  2.960000e-07
1267           NaN  01/03/2023 14:35:32             78.408  1.870000e-07
1268           NaN  01/03/2023 14:35:38             78.408  1.500000e-07
1269           NaN  01/03/2023 14:35:45             78.407  1.490000e-07
...            ...                  ...                ...           ...
1960           NaN  01/03/2023 15:54:31             77.541  1.160000e-06
1961           NaN  01/03/2023 15:54:38             77.537  1.160000e-06
1962           NaN  01/03/2023 15:54:45             77.525  1.160000e-06
1963           NaN  01/03/2023 15:54:52             77.509  1.160000e-06
1964           NaN  01/03/2023 15:54:59             77.501  1.160000e-06

          Barion_1  DUAL experiment  DUAL insulation  injection 1mbar  helium  \
1265  2.220000e-07     2.040000e-07     3.548000e-07              1.1   291.0
1266  3.000000e-07     1.474000e-07     3.544000e-07              1.1   291.0
1267  1.890000e-07     1.399000e-07     3.544000e-07              1.1   291.0
1268  1.520000e-07     1.106000e-07     3.544000e-07              1.1   291.0
1269  1.510000e-07     1.103000e-07     3.544000e-07              1.1   291.0
...            ...              ...              ...              ...     ...
1960  1.160000e-06     8.890000e-07     3.823000e-07              1.1   264.0
1961  1.160000e-06     8.890000e-07     3.818000e-07              1.1   264.0
1962  1.160000e-06     8.890000e-07     3.818000e-07              1.1   264.0
1963  1.160000e-06     8.890000e-07     3.818000e-07              1.1   264.0
1964  1.160000e-06     8.900000e-07     3.818000e-07              1.1   264.0

      T-CERNOX
1265  4274.057
1266  4274.169
1267  4274.169
1268  4274.169
1269  4274.506
...        ...
1960  4293.585
1961  4293.585
1962  4293.698
1963  4293.698
1964  4293.698

[345 rows x 10 columns]

C:\Users\etiirine\AppData\Local\Temp\ipykernel_23172\1870170200.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inj.drop(columns="Elapsed time", inplace=True)

## Subtracting baseline

In [12]:
#TODO - subtract the baseline from graph 2 (linear pressure scale) and plot again
#adding H2 equiv pressure readings
inj.insert(3, "corr BA2", inj["Barion_2"]/0.46)
inj.insert(4, "corr BA1", inj["Barion_1"]/0.46)

### Thermal transpiration
Applied for the gauge readings using the formula below:
    $$
    \frac{p_2}{p_1}=\sqrt \frac{T_2}{T_1}
    $$
Here $p_2$ and $T_2$ are the pressure and temperature in the cold part and $p_1$, $T_1$ are the pressure, temperature the gauge is exposed to.

In [13]:
#implementing the formula
T2 = 4.2
T1 = 293
p_coef = np.sqrt(T2/T1)
inj.insert(3, "H2 4K BA2", (inj["corr BA2"]*p_coef))
inj.insert(4, "H2 4K BA1", (inj["corr BA1"]*p_coef))

In [14]:
print(p_coef)
inj.head()

0.11972665112564158

,Live comments,Elapsed time,Time,H2 4K BA2,H2 4K BA1,corr BA2,corr BA1,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-CERNOX
1265,NaN,0.0,01/03/2023 14:35:18,5.674002e-08,5.778112e-08,4.739130e-07,4.826087e-07,78.412,2.180000e-07,2.220000e-07,2.040000e-07,3.548000e-07,1.1,291.0,4274.057
1266,NaN,7.0,01/03/2023 14:35:25,7.704150e-08,7.808260e-08,6.434783e-07,6.521739e-07,78.408,2.960000e-07,3.000000e-07,1.474000e-07,3.544000e-07,1.1,291.0,4274.169
1267,NaN,14.0,01/03/2023 14:35:32,4.867149e-08,4.919204e-08,4.065217e-07,4.108696e-07,78.408,1.870000e-07,1.890000e-07,1.399000e-07,3.544000e-07,1.1,291.0,4274.169
1268,NaN,20.0,01/03/2023 14:35:38,3.904130e-08,3.956185e-08,3.260870e-07,3.304348e-07,78.408,1.500000e-07,1.520000e-07,1.106000e-07,3.544000e-07,1.1,291.0,4274.169
1269,NaN,27.0,01/03/2023 14:35:45,3.878102e-08,3.930157e-08,3.239130e-07,3.282609e-07,78.407,1.490000e-07,1.510000e-07,1.103000e-07,3.544000e-07,1.1,291.0,4274.506

In [15]:
#define baseline
base1 = inj[inj["corr BA1"].between(1e-7,4e-7)]
base2 = inj[inj["corr BA2"].between(1e-7,4e-7)]

#take the average of the baseline and apply thermal transpiration coef to these values
avg2 = np.mean(base1["corr BA2"])*p_coef
avg1 = np.mean(base2["corr BA1"])*p_coef
print(avg1)
print(avg2)

3.8429045398471315e-08
3.794746861184183e-08

In [16]:
#subtract the baseline from the graph to get the actual pressure evolution on the sample

#Plotting the h2 equiv base pressure subtracted data
fig, ax = plt.subplots()
#subtract the baseline from the graph to get the actual pressure evolution on the sample

ax.plot((inj["Elapsed time"]/3600),inj['H2 4K BA1'].sub(avg1),marker=".", markersize=5,label='BA1')
ax.plot((inj["Elapsed time"]/3600),inj['H2 4K BA2'].sub(avg2),marker=".", markersize=5,label='BA2')
plt.legend(loc="upper left")

ax.set_xlabel('Elapsed time (h)')
ax.set_ylabel('Pressure (mbar)')
ax.set_yscale('linear')

plt.legend(loc="upper right")
plt.title("Pressure evolution on the sample, p increase from inj flux subtracted. \n Pressures H2 equivalent, thermal transp. corrected ")

Text(0.5, 1.0, 'Pressure evolution on the sample, p increase from inj flux subtracted. \n Pressures H2 equivalent, thermal transp. corrected ')

### Injection pressure linearity

In [17]:
#defining a function for the straight line
def func(x,a,b):
    return a*x + b
#curve fit for the data
y = inj["injection 100mbar"].values
x = (inj["Elapsed time"]/3600).values
params, cov = curve_fit(func,x,y)
#straight line parameters
a, b = params
print(f"Fitted line: y = {a:.2f}*x+{b:.2f}")

Fitted line: y = -0.50*x+78.38

In [18]:
#checking inj pressure linearity, graph
fig, ax = plt.subplots()
y_fit = func(x,a,b)
ax.plot((inj["Elapsed time"]/3600),inj["injection 100mbar"],marker=".", markersize=5,label='inj volume pressure')
ax.plot((inj["Elapsed time"]/3600),y_fit, "--",color="red", label="Y= -ax + b fit") 
ax.legend(loc="upper right")

ax.set_xlabel('Elapsed time (h)')
ax.set_ylabel('Pressure (mbar)')
ax.set_yscale('linear')
plt.title("Injection pressure evolution 100mbar conductance gauge")

Text(0.5, 1.0, 'Injection pressure evolution 100mbar conductance gauge')

### Formula for sum of the differential injection flux
$$
N=\frac{\Sigma dp\cdot V_{inj}}{k_B\cdot T}=\frac{\Sigma (p_{inj,t(x)}-p_{inj,t(x-1)})\cdot V_{inj}}{k_B \cdot T}   \space \left[{M}\right]
$$

In [19]:
#constants in SI units
T = 293
k_B = 1.38e-23
V_inj = 6.515e-5
S_sample= 276
#implement the formula above
dp = abs(np.diff(inj["injection 100mbar"]*100))
print(np.mean(dp))
#dt = np.diff(inj["Elapsed time"])
#dif = abs(dp)*V_inj/dt
dp = np.insert(dp,0,0)
N_x = (dp.cumsum())*V_inj/(k_B*T)
print(N_x)
N_cov = (N_x/S_sample)
print(N_cov)

0.2781976744185909
[0.00000000e+00 6.44507098e+15 6.44507098e+15 6.44507098e+15
 8.05633872e+15 1.28901420e+16 1.28901420e+16 1.28901420e+16
 1.61126774e+16 2.09464807e+16 2.25577484e+16 2.41690162e+16
 2.90028194e+16 2.90028194e+16 2.90028194e+16 3.54478904e+16
 3.70591581e+16 4.18929614e+16 4.18929614e+16 4.83380323e+16
 4.83380323e+16 5.31718356e+16 5.47831033e+16 5.63943711e+16
 6.12281743e+16 6.12281743e+16 6.12281743e+16 6.12281743e+16
 6.92845130e+16 6.92845130e+16 7.41183163e+16 7.41183163e+16
 7.57295840e+16 7.73408518e+16 8.53971905e+16 8.70084582e+16
 8.70084582e+16 8.70084582e+16 9.34535292e+16 9.34535292e+16
 9.34535292e+16 9.98986002e+16 9.98986002e+16 1.04732403e+17
 1.06343671e+17 1.07954939e+17 1.19233813e+17 1.19233813e+17
 1.27290152e+17 1.28901420e+17 1.35346491e+17 1.35346491e+17
 1.35346491e+17 1.43402829e+17 1.43402829e+17 1.45014097e+17
 1.51459168e+17 1.51459168e+17 1.51459168e+17 1.57904239e+17
 1.57904239e+17 1.57904239e+17 1.57904239e+17 1.64349310e+17
 1.64349310e+17 1.64349310e+17 1.70794381e+17 1.70794381e+17
 1.70794381e+17 1.77239452e+17 1.78850720e+17 1.78850720e+17
 1.86907058e+17 1.86907058e+17 1.86907058e+17 1.86907058e+17
 1.93352129e+17 1.93352129e+17 1.94963397e+17 1.99797200e+17
 1.99797200e+17 1.99797200e+17 2.06242271e+17 2.06242271e+17
 2.06242271e+17 2.12687342e+17 2.12687342e+17 2.19132413e+17
 2.19132413e+17 2.25577484e+17 2.25577484e+17 2.25577484e+17
 2.25577484e+17 2.32022555e+17 2.32022555e+17 2.38467626e+17
 2.38467626e+17 2.40078894e+17 2.44912697e+17 2.44912697e+17
 2.44912697e+17 2.52969036e+17 2.54580304e+17 2.54580304e+17
 2.59414107e+17 2.61025375e+17 2.61025375e+17 2.67470446e+17
 2.67470446e+17 2.67470446e+17 2.69081713e+17 2.75526784e+17
 2.77138052e+17 2.83583123e+17 2.83583123e+17 2.83583123e+17
 2.91639462e+17 2.93250730e+17 3.06140872e+17 3.06140872e+17
 3.10974675e+17 3.12585943e+17 3.12585943e+17 3.19031014e+17
 3.19031014e+17 3.19031014e+17 3.25476084e+17 3.27087352e+17
 3.28698620e+17 3.35143691e+17 3.35143691e+17 3.35143691e+17
 3.41588762e+17 3.41588762e+17 3.43200030e+17 3.44811297e+17
 3.44811297e+17 3.51256368e+17 3.51256368e+17 3.51256368e+17
 3.57701439e+17 3.57701439e+17 3.57701439e+17 3.57701439e+17
 3.64146510e+17 3.64146510e+17 3.64146510e+17 3.70591581e+17
 3.70591581e+17 3.70591581e+17 3.77036652e+17 3.77036652e+17
 3.78647920e+17 3.85092991e+17 3.86704259e+17 3.93149330e+17
 3.93149330e+17 3.99594401e+17 4.01205668e+17 4.01205668e+17
 4.07650739e+17 4.09262007e+17 4.10873275e+17 4.15707078e+17
 4.17318346e+17 4.17318346e+17 4.22152149e+17 4.22152149e+17
 4.23763417e+17 4.28597220e+17 4.28597220e+17 4.28597220e+17
 4.33431023e+17 4.35042291e+17 4.36653559e+17 4.41487362e+17
 4.41487362e+17 4.41487362e+17 4.41487362e+17 4.47932433e+17
 4.47932433e+17 4.47932433e+17 4.47932433e+17 4.47932433e+17
 4.54377504e+17 4.54377504e+17 4.54377504e+17 4.60822575e+17
 4.60822575e+17 4.67267646e+17 4.67267646e+17 4.67267646e+17
 4.73712717e+17 4.94659198e+17 4.96270465e+17 4.96270465e+17
 5.04326804e+17 5.05938072e+17 5.13994411e+17 5.13994411e+17
 5.20439482e+17 5.22050749e+17 5.28495820e+17 5.36552159e+17
 5.42997230e+17 5.42997230e+17 5.49442301e+17 5.55887372e+17
 5.55887372e+17 5.62332443e+17 5.62332443e+17 5.68777514e+17
 5.68777514e+17 5.75222585e+17 5.81667656e+17 5.88112727e+17
 5.88112727e+17 5.94557798e+17 5.96169066e+17 5.99391601e+17
 6.01002869e+17 6.05836672e+17 6.13893011e+17 6.13893011e+17
 6.20338082e+17 6.20338082e+17 6.26783153e+17 6.28394421e+17
 6.36450759e+17 6.36450759e+17 6.41284562e+17 6.41284562e+17
 6.47729633e+17 6.55785972e+17 6.67064846e+17 6.67064846e+17
 6.75121185e+17 6.81566256e+17 6.83177524e+17 6.89622595e+17
 6.89622595e+17 6.96067666e+17 6.97678934e+17 7.02512737e+17
 7.10569076e+17 7.12180343e+17 7.18625414e+17 7.26681753e+17
 7.26681753e+17 7.33126824e+17 7.33126824e+17 7.37960627e+17
 7.41183163e+17 7.44405698e+17 7.52462037e+17 7.54073305e+17
 7.62129643e+17 7.63740911e+17 7.70185982e+17 7.70185982e+17
 7.76631053e+17 7.76631053e+17 7.83076124e+17 7.91132463e+17
 7.92743731e+17 7.99188802e+17 8.05633872e+17 8.05633872e+17
 8.05633872e+17 8.13690211e+17 8.18524014e+17 8.20135282e+17
 8.26580353e+17 8.31414156e+17 8.31414156e+17 8.31414156e+17
 8.37859227e+17 8.39470495e+17 8.41081763e+17 8.53971905e+17
 8.62028244e+17 8.66862047e+17 8.74918386e+17 8.74918386e+17
 8.81363456e+17 8.87808527e+17 8.87808527e+17 8.87808527e+17
 8.92642331e+17 8.92642331e+17 9.00698669e+17 9.07143740e+17
 9.08755008e+17 9.11977544e+17 9.13588811e+17 9.18422615e+17
 9.18422615e+17 9.26478953e+17 9.32924024e+17 9.37757828e+17
 9.44202899e+17 9.52259237e+17 9.63538111e+17 9.69983182e+17
 9.71594450e+17 9.78039521e+17 9.82873324e+17 9.89318395e+17
 9.97374734e+17 1.00381981e+18 1.00865361e+18 1.02960009e+18
 1.04249023e+18 1.06021418e+18 1.06665925e+18 1.08116066e+18
 1.09888460e+18 1.11338601e+18 1.12627615e+18 1.14400010e+18
 1.15689024e+18 1.16978038e+18 1.19072686e+18 1.21006208e+18
 1.22134095e+18 1.23423109e+18 1.24712123e+18 1.26645645e+18
 1.27934659e+18 1.29868180e+18 1.31318321e+18 1.32446209e+18
 1.33735223e+18 1.36796632e+18 1.38085646e+18 1.40019167e+18
 1.41308181e+18 1.42597195e+18 1.44691843e+18 1.46464238e+18
 1.47753252e+18 1.48397759e+18 1.50331281e+18 1.52909309e+18
 1.54198323e+18]
[0.00000000e+00 2.33517064e+13 2.33517064e+13 2.33517064e+13
 2.91896331e+13 4.67034129e+13 4.67034129e+13 4.67034129e+13
 5.83792661e+13 7.58930460e+13 8.17309726e+13 8.75688992e+13
 1.05082679e+14 1.05082679e+14 1.05082679e+14 1.28434385e+14
 1.34272312e+14 1.51786092e+14 1.51786092e+14 1.75137798e+14
 1.75137798e+14 1.92651578e+14 1.98489505e+14 2.04327431e+14
 2.21841211e+14 2.21841211e+14 2.21841211e+14 2.21841211e+14
 2.51030844e+14 2.51030844e+14 2.68544624e+14 2.68544624e+14
 2.74382551e+14 2.80220477e+14 3.09410110e+14 3.15248037e+14
 3.15248037e+14 3.15248037e+14 3.38599744e+14 3.38599744e+14
 3.38599744e+14 3.61951450e+14 3.61951450e+14 3.79465230e+14
 3.85303156e+14 3.91141083e+14 4.32006569e+14 4.32006569e+14
 4.61196202e+14 4.67034129e+14 4.90385835e+14 4.90385835e+14
 4.90385835e+14 5.19575468e+14 5.19575468e+14 5.25413395e+14
 5.48765102e+14 5.48765102e+14 5.48765102e+14 5.72116808e+14
 5.72116808e+14 5.72116808e+14 5.72116808e+14 5.95468514e+14
 5.95468514e+14 5.95468514e+14 6.18820221e+14 6.18820221e+14
 6.18820221e+14 6.42171927e+14 6.48009854e+14 6.48009854e+14
 6.77199487e+14 6.77199487e+14 6.77199487e+14 6.77199487e+14
 7.00551193e+14 7.00551193e+14 7.06389120e+14 7.23902900e+14
 7.23902900e+14 7.23902900e+14 7.47254606e+14 7.47254606e+14
 7.47254606e+14 7.70606313e+14 7.70606313e+14 7.93958019e+14
 7.93958019e+14 8.17309726e+14 8.17309726e+14 8.17309726e+14
 8.17309726e+14 8.40661432e+14 8.40661432e+14 8.64013139e+14
 8.64013139e+14 8.69851065e+14 8.87364845e+14 8.87364845e+14
 8.87364845e+14 9.16554478e+14 9.22392405e+14 9.22392405e+14
 9.39906185e+14 9.45744111e+14 9.45744111e+14 9.69095818e+14
 9.69095818e+14 9.69095818e+14 9.74933744e+14 9.98285451e+14
 1.00412338e+15 1.02747508e+15 1.02747508e+15 1.02747508e+15
 1.05666472e+15 1.06250264e+15 1.10920606e+15 1.10920606e+15
 1.12671984e+15 1.13255776e+15 1.13255776e+15 1.15590947e+15
 1.15590947e+15 1.15590947e+15 1.17926118e+15 1.18509910e+15
 1.19093703e+15 1.21428874e+15 1.21428874e+15 1.21428874e+15
 1.23764044e+15 1.23764044e+15 1.24347837e+15 1.24931630e+15
 1.24931630e+15 1.27266800e+15 1.27266800e+15 1.27266800e+15
 1.29601971e+15 1.29601971e+15 1.29601971e+15 1.29601971e+15
 1.31937141e+15 1.31937141e+15 1.31937141e+15 1.34272312e+15
 1.34272312e+15 1.34272312e+15 1.36607483e+15 1.36607483e+15
 1.37191275e+15 1.39526446e+15 1.40110239e+15 1.42445409e+15
 1.42445409e+15 1.44780580e+15 1.45364373e+15 1.45364373e+15
 1.47699543e+15 1.48283336e+15 1.48867129e+15 1.50618507e+15
 1.51202299e+15 1.51202299e+15 1.52953677e+15 1.52953677e+15
 1.53537470e+15 1.55288848e+15 1.55288848e+15 1.55288848e+15
 1.57040226e+15 1.57624019e+15 1.58207811e+15 1.59959189e+15
 1.59959189e+15 1.59959189e+15 1.59959189e+15 1.62294360e+15
 1.62294360e+15 1.62294360e+15 1.62294360e+15 1.62294360e+15
 1.64629530e+15 1.64629530e+15 1.64629530e+15 1.66964701e+15
 1.66964701e+15 1.69299872e+15 1.69299872e+15 1.69299872e+15
 1.71635042e+15 1.79224347e+15 1.79808140e+15 1.79808140e+15
 1.82727103e+15 1.83310896e+15 1.86229859e+15 1.86229859e+15
 1.88565030e+15 1.89148822e+15 1.91483993e+15 1.94402956e+15
 1.96738127e+15 1.96738127e+15 1.99073297e+15 2.01408468e+15
 2.01408468e+15 2.03743639e+15 2.03743639e+15 2.06078809e+15
 2.06078809e+15 2.08413980e+15 2.10749151e+15 2.13084321e+15
 2.13084321e+15 2.15419492e+15 2.16003285e+15 2.17170870e+15
 2.17754663e+15 2.19506041e+15 2.22425004e+15 2.22425004e+15
 2.24760175e+15 2.24760175e+15 2.27095345e+15 2.27679138e+15
 2.30598101e+15 2.30598101e+15 2.32349479e+15 2.32349479e+15
 2.34684650e+15 2.37603613e+15 2.41690162e+15 2.41690162e+15
 2.44609125e+15 2.46944296e+15 2.47528088e+15 2.49863259e+15
 2.49863259e+15 2.52198430e+15 2.52782222e+15 2.54533600e+15
 2.57452564e+15 2.58036356e+15 2.60371527e+15 2.63290490e+15
 2.63290490e+15 2.65625661e+15 2.65625661e+15 2.67377039e+15
 2.68544624e+15 2.69712209e+15 2.72631173e+15 2.73214965e+15
 2.76133929e+15 2.76717721e+15 2.79052892e+15 2.79052892e+15
 2.81388063e+15 2.81388063e+15 2.83723233e+15 2.86642197e+15
 2.87225989e+15 2.89561160e+15 2.91896331e+15 2.91896331e+15
 2.91896331e+15 2.94815294e+15 2.96566672e+15 2.97150465e+15
 2.99485635e+15 3.01237013e+15 3.01237013e+15 3.01237013e+15
 3.03572184e+15 3.04155976e+15 3.04739769e+15 3.09410110e+15
 3.12329074e+15 3.14080452e+15 3.16999415e+15 3.16999415e+15
 3.19334586e+15 3.21669756e+15 3.21669756e+15 3.21669756e+15
 3.23421134e+15 3.23421134e+15 3.26340098e+15 3.28675268e+15
 3.29259061e+15 3.30426646e+15 3.31010439e+15 3.32761817e+15
 3.32761817e+15 3.35680780e+15 3.38015951e+15 3.39767329e+15
 3.42102499e+15 3.45021463e+15 3.49108011e+15 3.51443182e+15
 3.52026975e+15 3.54362145e+15 3.56113523e+15 3.58448694e+15
 3.61367657e+15 3.63702828e+15 3.65454206e+15 3.73043511e+15
 3.77713852e+15 3.84135571e+15 3.86470742e+15 3.91724876e+15
 3.98146595e+15 4.03400729e+15 4.08071070e+15 4.14492789e+15
 4.19163131e+15 4.23833472e+15 4.31422777e+15 4.38428289e+15
 4.42514837e+15 4.47185178e+15 4.51855520e+15 4.58861032e+15
 4.63531373e+15 4.70536885e+15 4.75791019e+15 4.79877568e+15
 4.84547909e+15 4.95639969e+15 5.00310311e+15 5.07315823e+15
 5.11986164e+15 5.16656505e+15 5.24245810e+15 5.30667529e+15
 5.35337870e+15 5.37673041e+15 5.44678553e+15 5.54019235e+15
 5.58689577e+15]

In [20]:
inj.insert(2, "Coverage",N_cov)

In [21]:
inj.head()

,Live comments,Elapsed time,Coverage,Time,H2 4K BA2,H2 4K BA1,corr BA2,corr BA1,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-CERNOX
1265,NaN,0.0,0.000000e+00,01/03/2023 14:35:18,5.674002e-08,5.778112e-08,4.739130e-07,4.826087e-07,78.412,2.180000e-07,2.220000e-07,2.040000e-07,3.548000e-07,1.1,291.0,4274.057
1266,NaN,7.0,2.335171e+13,01/03/2023 14:35:25,7.704150e-08,7.808260e-08,6.434783e-07,6.521739e-07,78.408,2.960000e-07,3.000000e-07,1.474000e-07,3.544000e-07,1.1,291.0,4274.169
1267,NaN,14.0,2.335171e+13,01/03/2023 14:35:32,4.867149e-08,4.919204e-08,4.065217e-07,4.108696e-07,78.408,1.870000e-07,1.890000e-07,1.399000e-07,3.544000e-07,1.1,291.0,4274.169
1268,NaN,20.0,2.335171e+13,01/03/2023 14:35:38,3.904130e-08,3.956185e-08,3.260870e-07,3.304348e-07,78.408,1.500000e-07,1.520000e-07,1.106000e-07,3.544000e-07,1.1,291.0,4274.169
1269,NaN,27.0,2.918963e+13,01/03/2023 14:35:45,3.878102e-08,3.930157e-08,3.239130e-07,3.282609e-07,78.407,1.490000e-07,1.510000e-07,1.103000e-07,3.544000e-07,1.1,291.0,4274.506

In [22]:
#Plot coverage evolution
fig, ax = plt.subplots()

ax.plot((inj["Elapsed time"]/3600),inj["Coverage"],marker=".", markersize=5,label='Coverage')
ax.legend(loc="upper right")

ax.set_xlabel('Elapsed time (h)')
ax.set_ylabel('Coverage (M/s*cm2)')
ax.set_yscale('linear')
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
ax.set_yscale('linear')

plt.title("Coverage over time")

Text(0.5, 1.0, 'Coverage over time')

In [23]:
## dropping coverage values close to 0 (from before injection)
inj_new = inj.loc[inj['Coverage'] > 1e+13]
inj_new.head()
#inj_new["H2 4K BA2"].sub(avg2).describe()

,Live comments,Elapsed time,Coverage,Time,H2 4K BA2,H2 4K BA1,corr BA2,corr BA1,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-CERNOX
1266,NaN,7.0,2.335171e+13,01/03/2023 14:35:25,7.704150e-08,7.808260e-08,6.434783e-07,6.521739e-07,78.408,2.960000e-07,3.000000e-07,1.474000e-07,3.544000e-07,1.1,291.0,4274.169
1267,NaN,14.0,2.335171e+13,01/03/2023 14:35:32,4.867149e-08,4.919204e-08,4.065217e-07,4.108696e-07,78.408,1.870000e-07,1.890000e-07,1.399000e-07,3.544000e-07,1.1,291.0,4274.169
1268,NaN,20.0,2.335171e+13,01/03/2023 14:35:38,3.904130e-08,3.956185e-08,3.260870e-07,3.304348e-07,78.408,1.500000e-07,1.520000e-07,1.106000e-07,3.544000e-07,1.1,291.0,4274.169
1269,NaN,27.0,2.918963e+13,01/03/2023 14:35:45,3.878102e-08,3.930157e-08,3.239130e-07,3.282609e-07,78.407,1.490000e-07,1.510000e-07,1.103000e-07,3.544000e-07,1.1,291.0,4274.506
1270,NaN,34.0,4.670341e+13,01/03/2023 14:35:52,3.878102e-08,3.930157e-08,3.239130e-07,3.282609e-07,78.404,1.490000e-07,1.510000e-07,1.100000e-07,3.544000e-07,1.1,291.0,4274.281

In [27]:
#plotting pressure vs coverage
fig, ax = plt.subplots()

ax.plot((inj_new["Coverage"]),inj_new["H2 4K BA2"].sub(avg2),marker=".", markersize=5,label='isotherm')
ax.legend(loc="upper left")
xrange = np.arange(min(inj_new["Coverage"]),max(inj_new["Coverage"]),1e+15)
print(xrange)
ax.set_xticks(xrange)
ax.yaxis.set_major_formatter(ScalarFormatter())
ax.minorticks_off()

ax.set_xlabel('Coverage (M/s*cm2)')
ax.set_ylabel('Pressure (mbar)')
ax.set_yscale('log')

plt.xlim(1e15,6e15)
plt.title("H2 adsorption isotherm")

[2.33517064e+13 1.02335171e+15 2.02335171e+15 3.02335171e+15
 4.02335171e+15 5.02335171e+15]

Text(0.5, 1.0, 'H2 adsorption isotherm')