In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import math
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date
pd.options.display.max_rows = 100

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data

In [2]:
#read in the data
mid = pd.read_csv("experiment MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())
#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
print(time.describe())
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,4,5.5,12,15,16,18,28,32,40,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)


#time["Elapsed time, mass 40"].describe()

       mass 2.0_value  mass 4.0_value  mass 5.5_value  mass 12.0_value  \
count    4.610000e+02    4.610000e+02    4.610000e+02     4.610000e+02
mean     2.241549e-11    1.087270e-12    1.839111e-14     1.877213e-13
std      8.715757e-13    3.059772e-14    5.074247e-15     1.440962e-14
min      2.161390e-11    1.025200e-12    8.900000e-15     1.201000e-13
25%      2.201010e-11    1.068300e-12    1.530000e-14     1.783000e-13
50%      2.222560e-11    1.083900e-12    1.790000e-14     1.870000e-13
75%      2.276520e-11    1.105700e-12    2.070000e-14     1.971000e-13
max      3.829790e-11    1.453100e-12    7.310000e-14     2.843000e-13

       mass 15.0_value  mass 16.0_value  mass 18.0_value  mass 28.0_value  \
count     4.610000e+02     4.610000e+02     4.610000e+02     4.610000e+02
mean      3.657592e-14     4.559069e-13     8.521360e-13     9.560581e-13
std       2.406796e-14     1.973723e-14     3.049056e-14     4.995829e-14
min       1.550000e-14     3.731000e-13     6.891000e-13     8.104000e-13
25%       2.500000e-14     4.443000e-13     8.381000e-13     9.232000e-13
50%       2.990000e-14     4.558000e-13     8.566000e-13     9.552000e-13
75%       3.530000e-14     4.664000e-13     8.710000e-13     9.902000e-13
max       1.382000e-13     5.823000e-13     9.091000e-13     1.076100e-12

       mass 32.0_value  mass 40.0_value  mass 44.0_value
count     4.610000e+02     4.610000e+02     1.340000e+02
mean      2.979176e-14     1.890369e-14     1.251254e-13
std       8.781615e-15     4.726209e-15     1.241434e-13
min       1.490000e-14     1.040000e-14     0.000000e+00
25%       2.480000e-14     1.580000e-14     0.000000e+00
50%       2.910000e-14     1.840000e-14     1.075000e-13
75%       3.370000e-14     2.090000e-14     1.612000e-13
max       1.112000e-13     5.760000e-14     5.912000e-13
                  mass 2.0_time            mass 4.0_time  \
count                       461                      461
unique                      461                      461
top     2022/12/13 16:41:38.247  2022/12/13 16:41:38.497
freq                          1                        1

                  mass 5.5_time           mass 12.0_time  \
count                       461                      461
unique                      461                      461
top     2022/12/13 16:41:38.747  2022/12/13 16:41:38.997
freq                          1                        1

                 mass 15.0_time           mass 16.0_time  \
count                       461                      461
unique                      461                      461
top     2022/12/13 16:41:39.247  2022/12/13 16:41:39.497
freq                          1                        1

                 mass 18.0_time           mass 28.0_time  \
count                       461                      461
unique                      461                      461
top     2022/12/13 16:41:39.748  2022/12/13 16:41:39.998
freq                          1                        1

                 mass 32.0_time           mass 40.0_time  \
count                       461                      461
unique                      461                      461
top     2022/12/13 16:41:40.248  2022/12/13 16:41:40.499
freq                          1                        1

                 mass 44.0_time
count                       134
unique                      134
top     2022/12/13 16:42:19.200
freq                          1

,mass 2.0_time,mass 4.0_time,mass 5.5_time,mass 12.0_time,mass 15.0_time,mass 16.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 40.0_time,...,"Elapsed time, mass 4","Elapsed time, mass 5.5","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 16","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 40","Elapsed time, mass 44"
2,2022/12/13 16:41:38.247,2022/12/13 16:41:38.497,2022/12/13 16:41:38.747,2022/12/13 16:41:38.997,2022/12/13 16:41:39.247,2022/12/13 16:41:39.497,2022/12/13 16:41:39.748,2022/12/13 16:41:39.998,2022/12/13 16:41:40.248,2022/12/13 16:41:40.499,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN
3,2022/12/13 16:41:44.572,2022/12/13 16:41:44.822,2022/12/13 16:41:45.072,2022/12/13 16:41:45.322,2022/12/13 16:41:45.572,2022/12/13 16:41:45.822,2022/12/13 16:41:46.073,2022/12/13 16:41:46.323,2022/12/13 16:41:46.573,2022/12/13 16:41:46.824,...,6.325,6.325,6.325,6.325,6.325,6.325,6.325,6.325,6.325,NaN
4,2022/12/13 16:41:50.897,2022/12/13 16:41:51.147,2022/12/13 16:41:51.397,2022/12/13 16:41:51.647,2022/12/13 16:41:51.897,2022/12/13 16:41:52.148,2022/12/13 16:41:52.398,2022/12/13 16:41:52.648,2022/12/13 16:41:52.899,2022/12/13 16:41:53.149,...,12.650,12.650,12.650,12.650,12.651,12.650,12.650,12.651,12.650,NaN
5,2022/12/13 16:41:57.222,2022/12/13 16:41:57.472,2022/12/13 16:41:57.722,2022/12/13 16:41:57.972,2022/12/13 16:41:58.222,2022/12/13 16:41:58.473,2022/12/13 16:41:58.723,2022/12/13 16:41:58.973,2022/12/13 16:41:59.224,2022/12/13 16:41:59.474,...,18.975,18.975,18.975,18.975,18.976,18.975,18.975,18.976,18.975,NaN
6,2022/12/13 16:42:03.547,2022/12/13 16:42:03.797,2022/12/13 16:42:04.047,2022/12/13 16:42:04.297,2022/12/13 16:42:04.547,2022/12/13 16:42:04.798,2022/12/13 16:42:05.048,2022/12/13 16:42:05.298,2022/12/13 16:42:05.549,2022/12/13 16:42:05.799,...,25.300,25.300,25.300,25.300,25.301,25.300,25.300,25.301,25.300,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,2022/12/13 17:29:42.447,2022/12/13 17:29:42.697,2022/12/13 17:29:42.947,2022/12/13 17:29:43.197,2022/12/13 17:29:43.447,2022/12/13 17:29:43.698,2022/12/13 17:29:43.948,2022/12/13 17:29:44.198,2022/12/13 17:29:44.449,2022/12/13 17:29:44.699,...,2884.200,2884.200,2884.200,2884.200,2884.201,2884.200,2884.200,2884.201,2884.200,NaN
459,2022/12/13 17:29:48.772,2022/12/13 17:29:49.022,2022/12/13 17:29:49.272,2022/12/13 17:29:49.522,2022/12/13 17:29:49.772,2022/12/13 17:29:50.023,2022/12/13 17:29:50.273,2022/12/13 17:29:50.524,2022/12/13 17:29:50.774,2022/12/13 17:29:51.024,...,2890.525,2890.525,2890.525,2890.525,2890.526,2890.525,2890.526,2890.526,2890.525,NaN
460,2022/12/13 17:29:55.097,2022/12/13 17:29:55.347,2022/12/13 17:29:55.597,2022/12/13 17:29:55.847,2022/12/13 17:29:56.097,2022/12/13 17:29:56.348,2022/12/13 17:29:56.598,2022/12/13 17:29:56.848,2022/12/13 17:29:57.099,2022/12/13 17:29:57.349,...,2896.850,2896.850,2896.850,2896.850,2896.851,2896.850,2896.850,2896.851,2896.850,NaN
461,2022/12/13 17:30:01.422,2022/12/13 17:30:01.672,2022/12/13 17:30:01.922,2022/12/13 17:30:02.172,2022/12/13 17:30:02.422,2022/12/13 17:30:02.673,2022/12/13 17:30:02.923,2022/12/13 17:30:03.173,2022/12/13 17:30:03.424,2022/12/13 17:30:03.674,...,2903.175,2903.175,2903.175,2903.175,2903.176,2903.175,2903.175,2903.176,2903.175,NaN
462,2022/12/13 17:30:07.747,2022/12/13 17:30:07.997,2022/12/13 17:30:08.247,2022/12/13 17:30:08.497,2022/12/13 17:30:08.747,2022/12/13 17:30:08.998,2022/12/13 17:30:09.248,2022/12/13 17:30:09.498,2022/12/13 17:30:09.749,2022/12/13 17:30:09.999,...,2909.500,2909.500,2909.500,2909.500,2909.501,2909.500,2909.500,2909.501,2909.500,NaN

In [3]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,13/12/2022 16:40:04,7.0,-0.046909,3.760000e-09,1.860000e-09,4.996000e-09,4.919000e-07,0.35235,207.0,-5.387,4280.342,NaN,NaN
2,NaN,13/12/2022 16:40:11,14.0,-0.046614,2.990000e-09,1.580000e-09,4.996000e-09,4.919000e-07,0.35236,207.0,-5.050,4280.342,NaN,NaN
3,NaN,13/12/2022 16:40:18,21.0,-0.046566,3.380000e-09,1.710000e-09,4.996000e-09,4.913000e-07,0.35236,206.0,-5.050,4280.791,NaN,NaN
4,NaN,13/12/2022 16:40:25,28.0,-0.046811,2.290000e-09,8.920000e-10,4.996000e-09,4.913000e-07,0.35236,207.0,-5.387,4280.566,NaN,NaN
5,NaN,13/12/2022 16:40:32,35.0,-0.046417,1.250000e-09,5.480000e-10,4.996000e-09,4.919000e-07,0.35234,206.0,-5.163,4280.679,NaN,NaN

In [4]:
#Reading in the HiVolta measurement file 
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
hv["em"]=abs(hv["em"])
hv["hv_grid"]=abs(hv["hv_grid"])
hv.insert(0,"datetime",hv["Date"]+" "+hv["Time"])
print(hv.head())
#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)

hv.describe()

                  datetime        Date          Time  VMon1   VMon2    VMon3  \
0  13/12/2022 16:38:03.758  13/12/2022  16:38:03.758   0.14  100.08  1000.04
1  13/12/2022 16:38:04.956  13/12/2022  16:38:04.956   0.14  100.08  1000.04
2  13/12/2022 16:40:53.207  13/12/2022  16:40:53.207   0.08    0.06     0.08
3  13/12/2022 16:40:54.393  13/12/2022  16:40:54.393   0.08    0.06     0.08
4  13/12/2022 16:40:56.610  13/12/2022  16:40:56.610   0.08    0.06     0.08

     VMon4    VMon5  VMon6  VMon7  ...  IMon2    IMon3    IMon4    IMon5  \
0  1000.18  1000.18    0.0    0.0  ...  1.373  34.3760  34.3981  34.3979
1  1000.18  1000.18    0.0    0.0  ...  1.377  34.3761  34.4017  34.3984
2     0.08     0.00    0.0    0.0  ...  0.000   0.1312   0.0526   0.0983
3     0.08     0.00    0.0    0.0  ...  0.000   0.1312   0.0526   0.0983
4     0.08     0.00    0.0    0.0  ...  0.000   0.1312   0.0526   0.0983

    IMon6   IMon7   IMon8  Comment       hv_grid        em
0 -0.0129 -0.0297 -0.0135      NaN  4.035000e-07  0.000001
1 -0.0129 -0.0297 -0.0135      NaN  4.011000e-07  0.000001
2 -0.0128 -0.0305 -0.0135      NaN  4.046000e-07  0.000000
3 -0.0128 -0.0305 -0.0135      NaN  4.046000e-07  0.000000
4 -0.0128 -0.0305 -0.0135      NaN  1.600000e-09  0.000000

[5 rows x 22 columns]

,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,VMon8,IMon1,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,hv_grid,em
count,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.0,2456.0,2.456000e+03,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2456.000000,2.456000e+03,2.456000e+03
mean,1643.923447,165.992573,81.647484,814.144560,813.629536,725.277915,0.0,0.0,2.000000e-02,-0.034670,0.257568,26.050754,26.064608,26.052901,-0.012822,-0.028052,-0.011060,5.130187e-08,2.753339e-07
std,852.556416,234.804849,38.763412,387.699055,388.187202,445.265767,0.0,0.0,8.467175e-16,0.071952,0.360388,12.914011,12.923975,12.922912,0.001148,0.002000,0.001669,6.120949e-08,3.469987e-07
min,0.000000,0.040000,0.060000,0.000000,0.000000,0.000000,0.0,0.0,2.000000e-02,-0.666100,-2.880800,-0.515900,-0.569200,-0.367000,-0.015200,-0.030600,-0.013600,0.000000e+00,0.000000e+00
25%,906.133000,0.060000,100.060000,999.980000,1000.040000,0.000000,0.0,0.0,2.000000e-02,-0.099425,0.015300,20.552725,20.568075,20.513600,-0.013000,-0.029900,-0.012400,3.500000e-09,1.612500e-08
50%,1643.663500,0.120000,100.080000,1000.040000,1000.160000,1000.140000,0.0,0.0,2.000000e-02,-0.002900,0.018600,33.550650,33.569250,33.562000,-0.012700,-0.027800,-0.010900,1.970000e-08,1.860000e-08
75%,2381.312250,499.920000,100.100000,1000.040000,1000.160000,1000.160000,0.0,0.0,2.000000e-02,0.017600,0.630750,33.619200,33.637800,33.628100,-0.012000,-0.026700,-0.009700,9.962500e-08,6.359000e-07
max,3118.554000,499.980000,100.180000,1000.120000,1000.220000,1000.480000,0.0,0.0,2.000000e-02,0.538900,2.759900,34.376100,34.401700,34.398400,-0.011200,-0.023900,-0.007400,6.661000e-07,2.880800e-06

# Data processing

In [5]:
#Filtering background signal and aligning data

#Find the timestamp where emission was turned on and off
print("Result 1:",hv.loc[hv["Comment"]=="emission on"])
print("Result 2:", hv.loc[hv["Comment"]=="grid repelling"])
x=pd.Timestamp(2022, 12, 13, 16,50,28)
y=pd.Timestamp(2022, 12, 13, 16,54, 32)

#then find the time value closest to it in the MID scan file 
print("\n","Result 3:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - x).abs().argsort(),:])
print("\n","Result 4:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - y).abs().argsort(),:])

#take a mass with a signal known to be in the background
bck=np.mean(mid["mass 5.5_value"])

#apply background correction to the rest of the mass spectrum
mid["mass 2 corr"]=mid["mass 2.0_value"]-bck

#account for the thermal transpiration factor
T2 = 4.2
T1 = 296.5
T_coef = np.sqrt(T2/T1)
mid["mass 2 corr"] = mid["mass 2 corr"]*T_coef

#From the signal, get the partial pressures 
h2_sens=2.13e-2
p_h2=mid["mass 2 corr"][86:124]/(h2_sens*0.46)
print(p_h2.describe())

#baseline for partial pressure delta
base_h2=mid["mass 2 corr"][0:86]/(h2_sens*0.46)
base_h2.describe()

Result 1:                     datetime        Date  Elapsed time          Time  VMon1  \
338  13/12/2022 16:47:38.667  13/12/2022       574.909  16:47:38.667   0.06
339  13/12/2022 16:47:39.861  13/12/2022       576.103  16:47:39.861   0.06
340  13/12/2022 16:47:41.059  13/12/2022       577.301  16:47:41.059   0.06
341  13/12/2022 16:47:42.251  13/12/2022       578.493  16:47:42.251   0.06
479  13/12/2022 16:50:28.222  13/12/2022       744.464  16:50:28.222   0.12
480  13/12/2022 16:50:29.391  13/12/2022       745.633  16:50:29.391   0.10
481  13/12/2022 16:50:30.584  13/12/2022       746.826  16:50:30.584   0.12
482  13/12/2022 16:50:31.770  13/12/2022       748.012  16:50:31.770   0.12

      VMon2   VMon3    VMon4   VMon5  VMon6  ...   IMon2    IMon3    IMon4  \
338  100.10  999.92   999.96    0.00    0.0  ...  0.0118  20.4542  20.4598
339  100.10  999.92   999.96    0.00    0.0  ...  0.0118  20.4550  20.4645
340  100.10  999.92   999.96    0.00    0.0  ...  0.0118  20.4576  20.4645
341  100.10  999.92   999.96    0.00    0.0  ...  0.0118  20.4577  20.4645
479  100.06  999.94  1000.06  999.24    0.0  ...  0.7644  31.6914  31.6427
480  100.06  999.98  1000.08  999.50    0.0  ...  0.7456  31.6834  31.6466
481  100.06  999.98  1000.08  999.62    0.0  ...  0.7327  31.6870  31.6583
482  100.06  999.98  1000.08  999.68    0.0  ...  0.7274  31.6913  31.6640

       IMon5   IMon6   IMon7   IMon8      Comment       hv_grid            em
338  20.4208 -0.0146 -0.0306 -0.0135  emission on  2.100000e-09  1.180000e-08
339  20.4259 -0.0146 -0.0306 -0.0135  emission on  2.100000e-09  1.180000e-08
340  20.4259 -0.0146 -0.0306 -0.0135  emission on  2.100000e-09  1.180000e-08
341  20.4259 -0.0146 -0.0306 -0.0135  emission on  2.100000e-09  1.180000e-08
479  31.6723 -0.0151 -0.0303 -0.0135  emission on  1.371000e-07  7.644000e-07
480  31.6724 -0.0151 -0.0303 -0.0135  emission on  1.272000e-07  7.456000e-07
481  31.6802 -0.0151 -0.0303 -0.0135  emission on  1.213000e-07  7.327000e-07
482  31.6856 -0.0151 -0.0303 -0.0135  emission on  1.166000e-07  7.274000e-07

[8 rows x 23 columns]
Result 2:                     datetime        Date  Elapsed time          Time   VMon1  \
679  13/12/2022 16:54:28.825  13/12/2022       985.067  16:54:28.825  301.16
680  13/12/2022 16:54:30.030  13/12/2022       986.272  16:54:30.030  431.38
681  13/12/2022 16:54:31.227  13/12/2022       987.469  16:54:31.227  499.22
682  13/12/2022 16:54:32.429  13/12/2022       988.671  16:54:32.429  499.88

      VMon2    VMon3    VMon4    VMon5  VMon6  ...   IMon2    IMon3    IMon4  \
679  100.12  1000.02  1000.14  1000.06    0.0  ...  0.0421  33.0249  33.0147
680  100.12  1000.02  1000.14  1000.06    0.0  ...  0.0370  33.0147  33.0147
681  100.10  1000.04  1000.14  1000.06    0.0  ...  0.0291  33.0063  33.0152
682  100.10  1000.04  1000.14  1000.06    0.0  ...  0.0240  33.0020  33.0152

       IMon5   IMon6   IMon7   IMon8         Comment       hv_grid  \
679  32.9957 -0.0142 -0.0299 -0.0126  grid repelling  5.215000e-07
680  32.9980 -0.0142 -0.0299 -0.0126  grid repelling  5.320000e-07
681  32.9999 -0.0142 -0.0299 -0.0126  grid repelling  1.011000e-07
682  33.0000 -0.0142 -0.0299 -0.0126  grid repelling  3.440000e-08

               em
679  4.210000e-08
680  3.700000e-08
681  2.910000e-08
682  2.400000e-08

[4 rows x 23 columns]

 Result 3:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
86   2022/12/13 16:50:29.547    2.489430e-11  2022/12/13 16:50:29.797
85   2022/12/13 16:50:23.222    2.326460e-11  2022/12/13 16:50:23.472
87   2022/12/13 16:50:35.872    2.416170e-11  2022/12/13 16:50:36.122
84   2022/12/13 16:50:16.897    2.199340e-11  2022/12/13 16:50:17.147
88   2022/12/13 16:50:42.197    2.383000e-11  2022/12/13 16:50:42.447
..                       ...             ...                      ...
458  2022/12/13 17:29:42.447    2.179670e-11  2022/12/13 17:29:42.697
459  2022/12/13 17:29:48.772    2.179670e-11  2022/12/13 17:29:49.022
460  2022/12/13 17:29:55.097    2.186220e-11  2022/12/13 17:29:55.347
461  2022/12/13 17:30:01.422    2.167730e-11  2022/12/13 17:30:01.672
462  2022/12/13 17:30:07.747    2.168000e-11  2022/12/13 17:30:07.997

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
86     1.223000e-12  2022/12/13 16:50:30.047    2.330000e-14
85     1.117800e-12  2022/12/13 16:50:23.722    1.600000e-14
87     1.165200e-12  2022/12/13 16:50:36.372    2.600000e-14
84     1.065200e-12  2022/12/13 16:50:17.397    2.160000e-14
88     1.156900e-12  2022/12/13 16:50:42.697    1.390000e-14
..              ...                      ...             ...
458    1.025200e-12  2022/12/13 17:29:42.947    1.800000e-14
459    1.069700e-12  2022/12/13 17:29:49.272    1.690000e-14
460    1.069700e-12  2022/12/13 17:29:55.597    1.440000e-14
461    1.048600e-12  2022/12/13 17:30:01.922    1.650000e-14
462    1.053800e-12  2022/12/13 17:30:08.247    2.620000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
86   2022/12/13 16:50:30.297     1.984000e-13  2022/12/13 16:50:30.547
85   2022/12/13 16:50:23.972     2.065000e-13  2022/12/13 16:50:24.222
87   2022/12/13 16:50:36.622     1.975000e-13  2022/12/13 16:50:36.872
84   2022/12/13 16:50:17.647     2.076000e-13  2022/12/13 16:50:17.897
88   2022/12/13 16:50:42.947     2.149000e-13  2022/12/13 16:50:43.197
..                       ...              ...                      ...
458  2022/12/13 17:29:43.197     1.874000e-13  2022/12/13 17:29:43.447
459  2022/12/13 17:29:49.522     1.780000e-13  2022/12/13 17:29:49.772
460  2022/12/13 17:29:55.847     1.696000e-13  2022/12/13 17:29:56.097
461  2022/12/13 17:30:02.172     1.820000e-13  2022/12/13 17:30:02.422
462  2022/12/13 17:30:08.497     1.920000e-13  2022/12/13 17:30:08.747

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
86      3.240000e-14  ...  2022/12/13 16:50:31.048     8.194000e-13
85      2.490000e-14  ...  2022/12/13 16:50:24.723     8.465000e-13
87      3.610000e-14  ...  2022/12/13 16:50:37.373     8.574000e-13
84      3.350000e-14  ...  2022/12/13 16:50:18.398     8.201000e-13
88      3.950000e-14  ...  2022/12/13 16:50:43.698     8.747000e-13
..               ...  ...                      ...              ...
458     2.560000e-14  ...  2022/12/13 17:29:43.948     8.811000e-13
459     2.690000e-14  ...  2022/12/13 17:29:50.273     8.689000e-13
460     3.660000e-14  ...  2022/12/13 17:29:56.598     8.772000e-13
461     2.920000e-14  ...  2022/12/13 17:30:02.923     8.623000e-13
462     2.760000e-14  ...  2022/12/13 17:30:09.248     8.554000e-13

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
86   2022/12/13 16:50:31.299     9.954000e-13  2022/12/13 16:50:31.549
85   2022/12/13 16:50:24.974     1.021000e-12  2022/12/13 16:50:25.224
87   2022/12/13 16:50:37.624     9.886000e-13  2022/12/13 16:50:37.874
84   2022/12/13 16:50:18.649     9.773000e-13  2022/12/13 16:50:18.899
88   2022/12/13 16:50:43.948     1.011000e-12  2022/12/13 16:50:44.199
..                       ...              ...                      ...
458  2022/12/13 17:29:44.198     8.446000e-13  2022/12/13 17:29:44.449
459  2022/12/13 17:29:50.524     8.994000e-13  2022/12/13 17:29:50.774
460  2022/12/13 17:29:56.848     9.478000e-13  2022/12/13 17:29:57.099
461  2022/12/13 17:30:03.173     8.991000e-13  2022/12/13 17:30:03.424
462  2022/12/13 17:30:09.498     8.778000e-13  2022/12/13 17:30:09.749

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
86      3.020000e-14  2022/12/13 16:50:31.799     1.440000e-14
85      3.270000e-14  2022/12/13 16:50:25.474     1.850000e-14
87      2.850000e-14  2022/12/13 16:50:38.124     2.380000e-14
84      3.380000e-14  2022/12/13 16:50:19.149     1.040000e-14
88      2.840000e-14  2022/12/13 16:50:44.449     1.300000e-14
..               ...                      ...              ...
458     2.430000e-14  2022/12/13 17:29:44.699     2.960000e-14
459     3.220000e-14  2022/12/13 17:29:51.024     1.580000e-14
460     3.590000e-14  2022/12/13 17:29:57.349     1.940000e-14
461     3.110000e-14  2022/12/13 17:30:03.674     2.000000e-14
462     2.280000e-14  2022/12/13 17:30:09.999     1.850000e-14

              mass 44.0_time  mass 44.0_value
86                       NaN              NaN
85                       NaN              NaN
87                       NaN              NaN
84   2022/12/13 16:50:19.900     5.370000e-14
88   2022/12/13 16:50:45.200     5.370000e-14
..                       ...              ...
458                      NaN              NaN
459                      NaN              NaN
460                      NaN              NaN
461                      NaN              NaN
462                      NaN              NaN

[461 rows x 22 columns]

 Result 4:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
124  2022/12/13 16:54:29.897    2.240460e-11  2022/12/13 16:54:30.147
125  2022/12/13 16:54:36.222    2.228040e-11  2022/12/13 16:54:36.472
123  2022/12/13 16:54:23.572    2.301840e-11  2022/12/13 16:54:23.822
126  2022/12/13 16:54:42.547    2.224120e-11  2022/12/13 16:54:42.797
122  2022/12/13 16:54:17.247    2.282600e-11  2022/12/13 16:54:17.497
..                       ...             ...                      ...
458  2022/12/13 17:29:42.447    2.179670e-11  2022/12/13 17:29:42.697
459  2022/12/13 17:29:48.772    2.179670e-11  2022/12/13 17:29:49.022
460  2022/12/13 17:29:55.097    2.186220e-11  2022/12/13 17:29:55.347
461  2022/12/13 17:30:01.422    2.167730e-11  2022/12/13 17:30:01.672
462  2022/12/13 17:30:07.747    2.168000e-11  2022/12/13 17:30:07.997

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
124    1.093300e-12  2022/12/13 16:54:30.397    1.670000e-14
125    1.060800e-12  2022/12/13 16:54:36.722    1.720000e-14
123    1.095300e-12  2022/12/13 16:54:24.072    1.460000e-14
126    1.088100e-12  2022/12/13 16:54:43.047    1.740000e-14
122    1.118000e-12  2022/12/13 16:54:17.747    1.710000e-14
..              ...                      ...             ...
458    1.025200e-12  2022/12/13 17:29:42.947    1.800000e-14
459    1.069700e-12  2022/12/13 17:29:49.272    1.690000e-14
460    1.069700e-12  2022/12/13 17:29:55.597    1.440000e-14
461    1.048600e-12  2022/12/13 17:30:01.922    1.650000e-14
462    1.053800e-12  2022/12/13 17:30:08.247    2.620000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
124  2022/12/13 16:54:30.647     1.864000e-13  2022/12/13 16:54:30.897
125  2022/12/13 16:54:36.972     1.878000e-13  2022/12/13 16:54:37.222
123  2022/12/13 16:54:24.322     1.797000e-13  2022/12/13 16:54:24.572
126  2022/12/13 16:54:43.297     1.878000e-13  2022/12/13 16:54:43.547
122  2022/12/13 16:54:17.997     1.846000e-13  2022/12/13 16:54:18.247
..                       ...              ...                      ...
458  2022/12/13 17:29:43.197     1.874000e-13  2022/12/13 17:29:43.447
459  2022/12/13 17:29:49.522     1.780000e-13  2022/12/13 17:29:49.772
460  2022/12/13 17:29:55.847     1.696000e-13  2022/12/13 17:29:56.097
461  2022/12/13 17:30:02.172     1.820000e-13  2022/12/13 17:30:02.422
462  2022/12/13 17:30:08.497     1.920000e-13  2022/12/13 17:30:08.747

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
124     2.830000e-14  ...  2022/12/13 16:54:31.398     8.448000e-13
125     3.050000e-14  ...  2022/12/13 16:54:37.723     8.788000e-13
123     2.920000e-14  ...  2022/12/13 16:54:25.073     8.493000e-13
126     2.370000e-14  ...  2022/12/13 16:54:44.048     8.308000e-13
122     2.970000e-14  ...  2022/12/13 16:54:18.748     8.158000e-13
..               ...  ...                      ...              ...
458     2.560000e-14  ...  2022/12/13 17:29:43.948     8.811000e-13
459     2.690000e-14  ...  2022/12/13 17:29:50.273     8.689000e-13
460     3.660000e-14  ...  2022/12/13 17:29:56.598     8.772000e-13
461     2.920000e-14  ...  2022/12/13 17:30:02.923     8.623000e-13
462     2.760000e-14  ...  2022/12/13 17:30:09.248     8.554000e-13

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
124  2022/12/13 16:54:31.649     9.990000e-13  2022/12/13 16:54:31.899
125  2022/12/13 16:54:37.974     9.487000e-13  2022/12/13 16:54:38.224
123  2022/12/13 16:54:25.324     1.009400e-12  2022/12/13 16:54:25.574
126  2022/12/13 16:54:44.299     9.420000e-13  2022/12/13 16:54:44.549
122  2022/12/13 16:54:18.999     9.516000e-13  2022/12/13 16:54:19.249
..                       ...              ...                      ...
458  2022/12/13 17:29:44.198     8.446000e-13  2022/12/13 17:29:44.449
459  2022/12/13 17:29:50.524     8.994000e-13  2022/12/13 17:29:50.774
460  2022/12/13 17:29:56.848     9.478000e-13  2022/12/13 17:29:57.099
461  2022/12/13 17:30:03.173     8.991000e-13  2022/12/13 17:30:03.424
462  2022/12/13 17:30:09.498     8.778000e-13  2022/12/13 17:30:09.749

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
124     2.410000e-14  2022/12/13 16:54:32.149     1.290000e-14
125     2.890000e-14  2022/12/13 16:54:38.474     2.370000e-14
123     3.170000e-14  2022/12/13 16:54:25.824     1.420000e-14
126     2.860000e-14  2022/12/13 16:54:44.799     1.590000e-14
122     2.880000e-14  2022/12/13 16:54:19.499     1.910000e-14
..               ...                      ...              ...
458     2.430000e-14  2022/12/13 17:29:44.699     2.960000e-14
459     3.220000e-14  2022/12/13 17:29:51.024     1.580000e-14
460     3.590000e-14  2022/12/13 17:29:57.349     1.940000e-14
461     3.110000e-14  2022/12/13 17:30:03.674     2.000000e-14
462     2.280000e-14  2022/12/13 17:30:09.999     1.850000e-14

              mass 44.0_time  mass 44.0_value
124                      NaN              NaN
125                      NaN              NaN
123                      NaN              NaN
126  2022/12/13 16:54:45.550     4.837000e-13
122  2022/12/13 16:54:20.250     0.000000e+00
..                       ...              ...
458                      NaN              NaN
459                      NaN              NaN
460                      NaN              NaN
461                      NaN              NaN
462                      NaN              NaN

[461 rows x 22 columns]
count    3.800000e+01
mean     2.807253e-10
std      3.401219e-12
min      2.704203e-10
25%      2.794356e-10
50%      2.806123e-10
75%      2.829856e-10
max      2.892435e-10
Name: mass 2 corr, dtype: float64

count    8.600000e+01
mean     2.681651e-10
std      5.140469e-12
min      2.635911e-10
25%      2.662504e-10
50%      2.671891e-10
75%      2.685186e-10
max      3.021717e-10
Name: mass 2 corr, dtype: float64

## Point-by-point desorption

Couple of approaches were investigated to align hv and mid datasets both with different sampling rates, starting times and lengths. 

The larger dataset with the higher sampling rate was reindexed to fit the mid-dataset with fewer points and lower sampling rate.

In [6]:
#make a sub-df from mid that includes only mass 2 data
h2 = mid.loc[:, ["mass 2.0_time", "mass 2.0_value"]]
#rename columns
h2 = h2.rename(columns={"mass 2.0_time": "datetime","mass 2.0_value": "Ion current"}).reset_index(drop=True)

print(h2)

                    datetime   Ion current
0    2022/12/13 16:41:38.247  2.195250e-11
1    2022/12/13 16:41:44.572  2.178220e-11
2    2022/12/13 16:41:50.897  2.171820e-11
3    2022/12/13 16:41:57.222  2.174880e-11
4    2022/12/13 16:42:03.547  2.194720e-11
..                       ...           ...
456  2022/12/13 17:29:42.447  2.179670e-11
457  2022/12/13 17:29:48.772  2.179670e-11
458  2022/12/13 17:29:55.097  2.186220e-11
459  2022/12/13 17:30:01.422  2.167730e-11
460  2022/12/13 17:30:07.747  2.168000e-11

[461 rows x 2 columns]

In [7]:
# Convert the 'time' column to datetime index for both dataframes
hv.index = (pd.to_datetime(hv['datetime']).dt.round(freq="S"))
h2.index = (pd.to_datetime(h2['datetime']).dt.round(freq="S"))
print(hv)

# Reindex df1 to match the datetime index of df2
hv = hv.reindex(h2.index, method='nearest', limit=1)

#Drop the "datetime" columns
hv.drop('datetime', axis=1, inplace=True)
h2.drop('datetime', axis=1, inplace=True)

# Now df1 and df2 have the same datetime index and can be joined or aligned
# by joining on the index
hv_aligned = hv.merge(h2,left_index=True, right_index=True, how="inner")

print("aligned",hv_aligned)

                                    datetime        Date  Elapsed time  \
datetime
2022-12-13 16:38:04  13/12/2022 16:38:03.758  13/12/2022         0.000
2022-12-13 16:38:05  13/12/2022 16:38:04.956  13/12/2022         1.198
2022-12-13 16:40:53  13/12/2022 16:40:53.207  13/12/2022       169.449
2022-12-13 16:40:54  13/12/2022 16:40:54.393  13/12/2022       170.635
2022-12-13 16:40:57  13/12/2022 16:40:56.610  13/12/2022       172.852
...                                      ...         ...           ...
2022-12-13 17:29:58  13/12/2022 17:29:57.571  13/12/2022      3113.813
2022-12-13 17:29:59  13/12/2022 17:29:58.761  13/12/2022      3115.003
2022-12-13 17:30:00  13/12/2022 17:29:59.938  13/12/2022      3116.180
2022-12-13 17:30:01  13/12/2022 17:30:01.128  13/12/2022      3117.370
2022-12-13 17:30:02  13/12/2022 17:30:02.312  13/12/2022      3118.554

                             Time  VMon1   VMon2    VMon3    VMon4    VMon5  \
datetime
2022-12-13 16:38:04  16:38:03.758   0.14  100.08  1000.04  1000.18  1000.18
2022-12-13 16:38:05  16:38:04.956   0.14  100.08  1000.04  1000.18  1000.18
2022-12-13 16:40:53  16:40:53.207   0.08    0.06     0.08     0.08     0.00
2022-12-13 16:40:54  16:40:54.393   0.08    0.06     0.08     0.08     0.00
2022-12-13 16:40:57  16:40:56.610   0.08    0.06     0.08     0.08     0.00
...                           ...    ...     ...      ...      ...      ...
2022-12-13 17:29:58  17:29:57.571   0.06    0.10     0.18     0.14     0.00
2022-12-13 17:29:59  17:29:58.761   0.06    0.10     0.18     0.16     0.00
2022-12-13 17:30:00  17:29:59.938   0.06    0.10     0.18     0.16     0.00
2022-12-13 17:30:01  17:30:01.128   0.06    0.10     0.18     0.16     0.00
2022-12-13 17:30:02  17:30:02.312   0.06    0.10     0.18     0.16     0.00

                     VMon6  ...   IMon2    IMon3    IMon4    IMon5   IMon6  \
datetime                    ...
2022-12-13 16:38:04    0.0  ...  1.3730  34.3760  34.3981  34.3979 -0.0129
2022-12-13 16:38:05    0.0  ...  1.3770  34.3761  34.4017  34.3984 -0.0129
2022-12-13 16:40:53    0.0  ...  0.0000   0.1312   0.0526   0.0983 -0.0128
2022-12-13 16:40:54    0.0  ...  0.0000   0.1312   0.0526   0.0983 -0.0128
2022-12-13 16:40:57    0.0  ...  0.0000   0.1312   0.0526   0.0983 -0.0128
...                    ...  ...     ...      ...      ...      ...     ...
2022-12-13 17:29:58    0.0  ...  0.0067   0.0129   0.0105   0.0123 -0.0141
2022-12-13 17:29:59    0.0  ...  0.0062   0.0129   0.0105   0.0117 -0.0141
2022-12-13 17:30:00    0.0  ...  0.0062   0.0129   0.0105   0.0181 -0.0142
2022-12-13 17:30:01    0.0  ...  0.0062   0.0129   0.0105   0.0173 -0.0142
2022-12-13 17:30:02    0.0  ...  0.0062   0.0129   0.0105   0.0171 -0.0142

                      IMon7   IMon8  Comment       hv_grid            em
datetime
2022-12-13 16:38:04 -0.0297 -0.0135      NaN  4.035000e-07  1.373000e-06
2022-12-13 16:38:05 -0.0297 -0.0135      NaN  4.011000e-07  1.377000e-06
2022-12-13 16:40:53 -0.0305 -0.0135      NaN  4.046000e-07  0.000000e+00
2022-12-13 16:40:54 -0.0305 -0.0135      NaN  4.046000e-07  0.000000e+00
2022-12-13 16:40:57 -0.0305 -0.0135      NaN  1.600000e-09  0.000000e+00
...                     ...     ...      ...           ...           ...
2022-12-13 17:29:58 -0.0258 -0.0100      NaN  1.000000e-10  6.700000e-09
2022-12-13 17:29:59 -0.0258 -0.0100      NaN  1.000000e-10  6.200000e-09
2022-12-13 17:30:00 -0.0258 -0.0100      NaN  1.000000e-10  6.200000e-09
2022-12-13 17:30:01 -0.0258 -0.0100      NaN  1.000000e-10  6.200000e-09
2022-12-13 17:30:02 -0.0258 -0.0100      NaN  1.000000e-10  6.200000e-09

[2456 rows x 23 columns]
aligned                            Date  Elapsed time          Time  VMon1  VMon2  \
datetime
2022-12-13 16:41:38  13/12/2022       214.220  16:41:37.978   0.04   0.08
2022-12-13 16:41:45  13/12/2022       221.326  16:41:45.084   0.04   0.08
2022-12-13 16:41:51  13/12/2022       227.224  16:41:50.982   0.04   0.08
2022-12-13 16:41:57  13/12/2022       233.147  16:41:56.905   0.04   0.08
2022-12-13 16:42:04  13/12/2022       240.253  16:42:04.011   0.04   0.08
...                         ...           ...           ...    ...    ...
2022-12-13 17:29:42  13/12/2022      3098.404  17:29:42.162   0.06   0.10
2022-12-13 17:29:49  13/12/2022      3105.513  17:29:49.271   0.06   0.10
2022-12-13 17:29:55  13/12/2022      3111.444  17:29:55.202   0.06   0.10
2022-12-13 17:30:01  13/12/2022      3117.370  17:30:01.128   0.06   0.10
2022-12-13 17:30:08  13/12/2022      3118.554  17:30:02.312   0.06   0.10

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2022-12-13 16:41:38   0.16   0.14    0.0    0.0    0.0  ...  0.0131  0.0100
2022-12-13 16:41:45   0.16   0.14    0.0    0.0    0.0  ...  0.0131  0.0091
2022-12-13 16:41:51   0.16   0.18    0.0    0.0    0.0  ...  0.0131  0.0090
2022-12-13 16:41:57   0.16   0.14    0.0    0.0    0.0  ...  0.0131  0.0093
2022-12-13 16:42:04   0.16   0.18    0.0    0.0    0.0  ...  0.0131  0.0090
...                    ...    ...    ...    ...    ...  ...     ...     ...
2022-12-13 17:29:42   0.18   0.14    0.0    0.0    0.0  ...  0.0130  0.0108
2022-12-13 17:29:49   0.18   0.18    0.0    0.0    0.0  ...  0.0129  0.0108
2022-12-13 17:29:55   0.18   0.16    0.0    0.0    0.0  ...  0.0129  0.0041
2022-12-13 17:30:01   0.18   0.16    0.0    0.0    0.0  ...  0.0129  0.0105
2022-12-13 17:30:08   0.18   0.16    0.0    0.0    0.0  ...  0.0129  0.0105

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2022-12-13 16:41:38  0.0168 -0.0128 -0.0305 -0.0132      NaN  2.900000e-09
2022-12-13 16:41:45  0.0175 -0.0130 -0.0302 -0.0124      NaN  2.900000e-09
2022-12-13 16:41:51  0.0135 -0.0130 -0.0301 -0.0124      NaN  2.900000e-09
2022-12-13 16:41:57  0.0293 -0.0130 -0.0301 -0.0124      NaN  2.900000e-09
2022-12-13 16:42:04  0.0162 -0.0130 -0.0301 -0.0124      NaN  2.900000e-09
...                     ...     ...     ...     ...      ...           ...
2022-12-13 17:29:42  0.0229 -0.0113 -0.0258 -0.0100      NaN  1.000000e-10
2022-12-13 17:29:49  0.0173 -0.0113 -0.0258 -0.0100      NaN  1.000000e-10
2022-12-13 17:29:55  0.0201 -0.0141 -0.0258 -0.0100      NaN  1.000000e-10
2022-12-13 17:30:01  0.0173 -0.0142 -0.0258 -0.0100      NaN  1.000000e-10
2022-12-13 17:30:08  0.0171 -0.0142 -0.0258 -0.0100      NaN  1.000000e-10

                               em   Ion current
datetime
2022-12-13 16:41:38  7.100000e-09  2.195250e-11
2022-12-13 16:41:45  6.400000e-09  2.178220e-11
2022-12-13 16:41:51  6.400000e-09  2.171820e-11
2022-12-13 16:41:57  6.400000e-09  2.174880e-11
2022-12-13 16:42:04  6.000000e-09  2.194720e-11
...                           ...           ...
2022-12-13 17:29:42  7.400000e-09  2.179670e-11
2022-12-13 17:29:49  7.400000e-09  2.179670e-11
2022-12-13 17:29:55  7.400000e-09  2.186220e-11
2022-12-13 17:30:01  6.200000e-09  2.167730e-11
2022-12-13 17:30:08  6.200000e-09  2.168000e-11

[461 rows x 23 columns]

In [8]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [9]:
#Filtering background signal for interpolated datasets

#take a mass with a signal known to be in the background
bck=np.mean(mid["mass 5.5_value"])

#apply background correction to the rest of the mass spectrum
hv_aligned["mass 2 corr"]=hv_aligned["Ion current"]-bck

#From the signal, get the partial pressures 
h2_sens=2.13e-2 #A/mbar
p_h2_ip=hv_aligned["mass 2 corr"]/(h2_sens*0.46) #H2 equivalent pressures

#account for the thermal transpiration factor
T2 = 4.2
T1 = 296.5
T_coef = np.sqrt(T2/T1)
p_h2_ip = p_h2_ip*T_coef 

#insert partial pressures into the dataframe
hv_aligned.insert(22,"hydrogen pp",p_h2_ip)

In [10]:
hv_aligned.fillna(0,inplace=True)
hv_aligned["hydrogen pp"].describe()

count    4.610000e+02
mean     2.720612e-10
std      1.058717e-11
min      2.623242e-10
25%      2.671369e-10
50%      2.697546e-10
75%      2.763092e-10
max      4.649874e-10
Name: hydrogen pp, dtype: float64

### Plotting

In [11]:
#plot the aligned dataframe results
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.plot(hv_aligned["Elapsed time"],hv_aligned["em"],linestyle="-",marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")


plt.yscale('log')

In [12]:
#plot the h2 mid 
#seems to be too little rows?
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")


plt.yscale('linear')

In [13]:
#Plotting the all the relevant MID spectrums
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 4'],mid["mass 4.0_value"],marker=".", markersize=4,label='M4')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M14')
plt.plot(time['Elapsed time, mass 16'],mid["mass 16.0_value"],marker=".", markersize=4,label='M16')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time['Elapsed time, mass 40'],mid["mass 40.0_value"],marker=".", markersize=4,label='M40')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID scan 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
plt.text(200, 2.5e-11, 'No emission', fontdict = font)
plt.text(525, 2.9e-11, '\u2193 Initial desorption peak', fontdict = font)
plt.text(1100, 2.6e-11, 'Grid transparent', fontdict = font)
plt.text(1670, 1.5e-11, 'Grid repelling', fontdict = font)
plt.text(2005, 4.46e-11, '\u2193 EGA rotated', fontdict = font)
plt.text(2306, 2.6e-11, 'Grid transparent', fontdict = font)
plt.yscale('log')

In [14]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")


plt.yscale('log')

In [15]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [16]:
## Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("Temperature evolution 1 ML tech. surface pre-injection, EGA in 80mm, dynamic vacuum")
plt.yscale('linear')

# Primary desorption calculation method
### Elena's formula for the cryo setup
$$
\eta=\frac{C_{H2}\cdot (\Delta p_1 - \Delta p_2)q_e}{k_B\cdot T \cdot I_e}
$$

Where $\Delta p_i=p(t)_i - p(t=0)_i$ and $i=1,2$
In the case of the 4K setup, we know the exact conductance of gasses. The formula above applies well.

Due to the EGA being fully retracted, it is safe to assume that the desorption takes place at approximately room temperature

In [17]:
#calculation delta_p-s
dp1 = (np.mean(p_h2)-np.mean(base_h2))*100
print(dp1)

#Constants
k_B = 1.38e-23
T = 293
print(T)
q_e = 1.6e-19
c_h2 = 37.91/1000
s_h2=42/1000
x_h2=1/((1/c_h2)+(1/s_h2))
print(x_h2)
#Emission current
#ignore the inrush current values
#hv["em"].where(hv["em"] <= 1.5e-6, np.nan, inplace=True)

I_em = np.nanmean(hv["em"].nlargest(30))
print(I_em)
#Conductance for CO in m3/s
c_co=10.13/1000
c_co2 = 8.08/1000

1.2560152475322217e-09
293
0.01992516581153798
8.3639e-07

In [18]:
#Desorption yield
eta_h2_tot = (x_h2*dp1*q_e)/(k_B*T*I_em)
#eta_co = (c_co*(dp1-dp2)*q_e)/(k_B*T*I_em)
print("The total desorption yield for H2 [mol/el]:",eta_h2_tot,"\n",)#""The desorption yield for CO2 [mol/el]:",eta_co2)

The total desorption yield for H2 [mol/el]: 0.001184026165795611

## Calculating desorption yield point-by-point

$$
\eta=\frac{C_{H2}\cdot (p_{n} - p_{n-1}) \cdot q_e}{k_B\cdot T \cdot I_{n}}
$$

In [19]:
#partial pressure delta

p_delta = hv_aligned["hydrogen pp"].diff().fillna(hv_aligned["hydrogen pp"])*100
p_delta = p_delta.clip(lower=0)
print(p_delta)
#hv_shifted = hv_aligned.shift(periods=1)
#print(hv_shifted)
#p_delta = hv_aligned["hydrogen pp"] - hv_shifted["hydrogen pp"]
#print(hv_aligned["hydrogen pp"].describe())
#print(hv_shifted["hydrogen pp"].describe())
print(p_delta.describe())

datetime
2022-12-13 16:41:38    2.664372e-08
2022-12-13 16:41:45    0.000000e+00
2022-12-13 16:41:51    0.000000e+00
2022-12-13 16:41:57    3.717032e-11
2022-12-13 16:42:04    2.409997e-10
                           ...
2022-12-13 17:29:42    1.104177e-10
2022-12-13 17:29:49    0.000000e+00
2022-12-13 17:29:55    7.956392e-11
2022-12-13 17:30:01    0.000000e+00
2022-12-13 17:30:08    3.279734e-12
Name: hydrogen pp, Length: 461, dtype: float64
count    4.610000e+02
mean     1.809630e-10
std      1.546310e-09
min      0.000000e+00
25%      0.000000e+00
50%      2.550904e-12
75%      1.181919e-10
max      2.664372e-08
Name: hydrogen pp, dtype: float64

In [20]:
#constants are already defined
#emission current and H2 partial pressures are now available at the same sampling rates
hv_aligned["em"].where(hv_aligned["em"] <= 2e-6, np.nan, inplace=True)
print(hv_aligned.describe())
I_n = hv_aligned["em"].replace(0, np.nan).dropna()

print(I_n)
#I_n.where(em <= 1.5e-6, np.nan, inplace=True)

eta = ((x_h2*p_delta*q_e)/(k_B*T*I_n)).dropna()
eta = eta.loc[eta.index[1]:]
print("desorption yields point-by-point:","\n", eta)

       Elapsed time       VMon1       VMon2       VMon3        VMon4  \
count    461.000000  461.000000  461.000000   461.00000   461.000000
mean    1669.336124  168.007158   82.601518   823.95705   823.447852
std      842.610361  235.571298   37.956151   379.90360   380.378359
min      214.220000    0.040000    0.060000     0.12000     0.020000
25%      942.410000    0.060000  100.060000   999.98000  1000.060000
50%     1669.464000    0.120000  100.080000  1000.04000  1000.160000
75%     2396.641000  499.920000  100.100000  1000.04000  1000.160000
max     3118.554000  499.980000  100.140000  1000.12000  1000.220000

             VMon5  VMon6  VMon7         VMon8       IMon1  ...       IMon4  \
count   461.000000  461.0  461.0  4.610000e+02  461.000000  ...  461.000000
mean    734.420521    0.0    0.0  2.000000e-02   -0.035415  ...   26.384906
std     440.737092    0.0    0.0  2.327055e-16    0.074513  ...   12.682600
min       0.000000    0.0    0.0  2.000000e-02   -0.481500  ...   -0.066000
25%       0.000000    0.0    0.0  2.000000e-02   -0.099800  ...   20.584300
50%    1000.140000    0.0    0.0  2.000000e-02   -0.002900  ...   33.593100
75%    1000.160000    0.0    0.0  2.000000e-02    0.017600  ...   33.638000
max    1000.460000    0.0    0.0  2.000000e-02    0.532000  ...   33.689500

            IMon5       IMon6       IMon7       IMon8       hv_grid  \
count  461.000000  461.000000  461.000000  461.000000  4.610000e+02
mean    26.373116   -0.012829   -0.028011   -0.011024  5.261063e-08
std     12.681777    0.001159    0.001997    0.001658  6.352340e-08
min     -0.054800   -0.015200   -0.030600   -0.013600  0.000000e+00
25%     20.534200   -0.013500   -0.029900   -0.012400  3.800000e-09
50%     33.581000   -0.012700   -0.027800   -0.010900  1.970000e-08
75%     33.628600   -0.012000   -0.026700   -0.009700  9.980000e-08
max     33.677300   -0.011200   -0.023900   -0.007400  5.320000e-07

                 em   hydrogen pp   Ion current   mass 2 corr
count  4.590000e+02  4.610000e+02  4.610000e+02  4.610000e+02
mean   2.659680e-07  2.720612e-10  2.241549e-11  2.239710e-11
std    3.086866e-07  1.058717e-11  8.715757e-13  8.715757e-13
min    1.200000e-09  2.623242e-10  2.161390e-11  2.159551e-11
25%    1.640000e-08  2.671369e-10  2.201010e-11  2.199171e-11
50%    1.880000e-08  2.697546e-10  2.222560e-11  2.220721e-11
75%    6.344000e-07  2.763092e-10  2.276520e-11  2.274681e-11
max    8.688000e-07  4.649874e-10  3.829790e-11  3.827951e-11

[8 rows x 22 columns]
datetime
2022-12-13 16:41:38    7.100000e-09
2022-12-13 16:41:45    6.400000e-09
2022-12-13 16:41:51    6.400000e-09
2022-12-13 16:41:57    6.400000e-09
2022-12-13 16:42:04    6.000000e-09
                           ...
2022-12-13 17:29:42    7.400000e-09
2022-12-13 17:29:49    7.400000e-09
2022-12-13 17:29:55    7.400000e-09
2022-12-13 17:30:01    6.200000e-09
2022-12-13 17:30:08    6.200000e-09
Name: em, Length: 459, dtype: float64
desorption yields point-by-point:
 datetime
2022-12-13 16:41:45    0.000000
2022-12-13 16:41:51    0.000000
2022-12-13 16:41:57    0.004579
2022-12-13 16:42:04    0.031669
2022-12-13 16:42:10    0.000000
                         ...
2022-12-13 17:29:42    0.011765
2022-12-13 17:29:49    0.000000
2022-12-13 17:29:55    0.008477
2022-12-13 17:30:01    0.000000
2022-12-13 17:30:08    0.000417
Length: 458, dtype: float64

In [21]:
#slicing eta to match hv_aligned["Elapsed time"]:
# Slice x using the index of y
hv_downsampled = hv_aligned.loc[eta.index, :]

In [22]:
#plotting point-by-point eta
plt.figure(figsize=(10,6))
plt.plot(hv_downsampled["Elapsed time"],eta,marker=".", markersize=4,label='eta')
#plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Electon stimulated desorption yield (M/el)')
plt.legend()
plt.title("ESD vs time, df.join(how=inner)")
ax = plt.gca()
ax.set_yscale('log')
ax.grid(which="major",axis="x")
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()