In [8]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

In [9]:
df= pd.read_table("grid transparent,em on,pumping",sep='\t')
df.drop(columns=['Full_Range_Turbo','Pirani_1','Injection','XHVTrap'], inplace=True)
df.drop(labels=[0,1], axis=0)

,Time,Penning_1,Penning_2,I_Em,Live comments
2,10/10/2022 11:08:04,2.900000e-10,4.100000e-10,2.449200e-12,NaN
3,10/10/2022 11:08:05,2.900000e-10,4.100000e-10,1.493200e-12,NaN
4,10/10/2022 11:08:06,2.900000e-10,4.100000e-10,2.024800e-12,"Grid 0V, EGA bias -2000V, I_Em measured on sam..."
5,10/10/2022 11:08:12,2.900000e-10,4.100000e-10,3.542700e-12,NaN
6,10/10/2022 11:08:18,2.900000e-10,4.100000e-10,4.951000e-12,NaN
...,...,...,...,...,...
235,10/10/2022 11:26:28,4.800000e-10,7.900000e-10,3.052500e-12,NaN
236,10/10/2022 11:26:34,4.800000e-10,7.900000e-10,1.441000e-13,NaN
237,10/10/2022 11:26:40,4.700000e-10,7.800000e-10,1.179800e-12,NaN
238,10/10/2022 11:26:46,4.700000e-10,7.700000e-10,5.574000e-13,NaN
239,10/10/2022 11:26:51,4.600000e-10,7.600000e-10,2.552500e-12,NaN

In [10]:
timestamp=[]
for i in df["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(df["Time"],format="%d/%m/%Y %H:%M:%S")

In [11]:
print(timestamps)

0     2022-10-10 11:07:55
1     2022-10-10 11:08:01
2     2022-10-10 11:08:04
3     2022-10-10 11:08:05
4     2022-10-10 11:08:06
              ...
235   2022-10-10 11:26:28
236   2022-10-10 11:26:34
237   2022-10-10 11:26:40
238   2022-10-10 11:26:46
239   2022-10-10 11:26:51
Name: Time, Length: 240, dtype: datetime64[ns]

In [12]:
#runtime=[]
#for i in range(len(df["Timestamp"])):
#    runtime.append((timestamps[i]-timestamps[0]).dt.total_seconds())
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
df.insert(1,"Elapsed time",runtime)

In [13]:
df.head()
df.to_csv("processed data, grid transparent")

In [14]:
#overall pressure evolution
plt.figure()
plt.plot((df["Elapsed time"]/3600),df['Penning_1'],marker=".", markersize=5,label='PE1')
plt.plot((df["Elapsed time"]/3600),df['Penning_2'],marker=".", markersize=5,label='PE2')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Pressure evolution, grid transparent")
plt.yscale('log')