In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df= pd.read_table("grid opaque,em on,pumping_repeat measurement",sep='\t')
df.drop(columns=['Full_Range_Turbo','Pirani_1','Injection','XHVTrap'], inplace=True)
df.drop(labels=[0,1], axis=0)

,Time,Penning_1,Penning_2,I_Em,Live comments
2,10/10/2022 09:59:02,2.800000e-10,3.800000e-10,2.393500e-12,NaN
3,10/10/2022 09:59:03,2.700000e-10,3.800000e-10,4.078400e-12,NaN
4,10/10/2022 09:59:04,2.800000e-10,3.800000e-10,7.433000e-13,NaN
5,10/10/2022 09:59:10,2.700000e-10,3.800000e-10,1.148700e-12,NaN
6,10/10/2022 09:59:16,2.800000e-10,3.800000e-10,4.831000e-12,NaN
...,...,...,...,...,...
808,10/10/2022 11:06:13,2.900000e-10,4.100000e-10,9.111000e-13,NaN
809,10/10/2022 11:06:19,2.900000e-10,4.100000e-10,1.040600e-12,NaN
810,10/10/2022 11:06:25,2.900000e-10,4.100000e-10,1.465700e-12,NaN
811,10/10/2022 11:06:30,2.900000e-10,4.100000e-10,2.576100e-12,NaN
812,10/10/2022 11:06:36,2.900000e-10,4.100000e-10,7.906400e-12,NaN

In [3]:
timestamp=[]
for i in df["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(df["Time"],format="%d/%m/%Y %H:%M:%S")

In [4]:
print(timestamps)

0     2022-10-10 09:58:55
1     2022-10-10 09:58:56
2     2022-10-10 09:59:02
3     2022-10-10 09:59:03
4     2022-10-10 09:59:04
              ...
808   2022-10-10 11:06:13
809   2022-10-10 11:06:19
810   2022-10-10 11:06:25
811   2022-10-10 11:06:30
812   2022-10-10 11:06:36
Name: Time, Length: 813, dtype: datetime64[ns]

In [5]:
#runtime=[]
#for i in range(len(df["Timestamp"])):
#    runtime.append((timestamps[i]-timestamps[0]).dt.total_seconds())
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
df.insert(1,"Elapsed time",runtime)

In [6]:
df.to_csv("processed data, grid repelling")

In [7]:
#overall pressure evolution
plt.figure()
plt.plot((df["Elapsed time"]/3600),df['Penning_1'],marker=".", markersize=5,label='PE1')
plt.plot((df["Elapsed time"]/3600),df['Penning_2'],marker=".", markersize=5,label='PE2')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Pressure evolution, grid repelling")
plt.yscale('log')