In [13]:
import pandas as pd
from scipy.optimize import curve_fit
from scipy.integrate import quad
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import math
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

## Reading in the data

In [14]:
#read in the data
mid = pd.read_csv("MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True) #to get rid of the spikes in the beginning

#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column

#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    offset = [475.157,475.157,475.157,475.157,475.157,475.158,475.658]#max value of "Elapsed time" in baseline MID
    masses = [2,12,15,18,28,32,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        print(timestamp)
        runtime = offset[itr]+(timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)
#time["Elapsed time, mass 40"].describe()

2      2023-01-31 12:19:17.734
3      2023-01-31 12:19:22.708
4      2023-01-31 12:19:27.682
5      2023-01-31 12:19:32.656
6      2023-01-31 12:19:37.630
                 ...
3453   2023-01-31 17:05:23.008
3454   2023-01-31 17:05:27.982
3455   2023-01-31 17:05:32.956
3456   2023-01-31 17:05:37.930
3457   2023-01-31 17:05:42.904
Name: mass 2.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:17.934
3      2023-01-31 12:19:22.908
4      2023-01-31 12:19:27.882
5      2023-01-31 12:19:32.856
6      2023-01-31 12:19:37.830
                 ...
3453   2023-01-31 17:05:23.208
3454   2023-01-31 17:05:28.182
3455   2023-01-31 17:05:33.156
3456   2023-01-31 17:05:38.130
3457   2023-01-31 17:05:43.104
Name: mass 12.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.134
3      2023-01-31 12:19:23.108
4      2023-01-31 12:19:28.082
5      2023-01-31 12:19:33.056
6      2023-01-31 12:19:38.030
                 ...
3453   2023-01-31 17:05:23.408
3454   2023-01-31 17:05:28.382
3455   2023-01-31 17:05:33.356
3456   2023-01-31 17:05:38.330
3457   2023-01-31 17:05:43.304
Name: mass 15.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.334
3      2023-01-31 12:19:23.309
4      2023-01-31 12:19:28.282
5      2023-01-31 12:19:33.257
6      2023-01-31 12:19:38.230
                 ...
3453   2023-01-31 17:05:23.609
3454   2023-01-31 17:05:28.582
3455   2023-01-31 17:05:33.557
3456   2023-01-31 17:05:38.530
3457   2023-01-31 17:05:43.504
Name: mass 18.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.534
3      2023-01-31 12:19:23.509
4      2023-01-31 12:19:28.482
5      2023-01-31 12:19:33.457
6      2023-01-31 12:19:38.430
                 ...
3453   2023-01-31 17:05:23.809
3454   2023-01-31 17:05:28.782
3455   2023-01-31 17:05:33.757
3456   2023-01-31 17:05:38.730
3457   2023-01-31 17:05:43.704
Name: mass 28.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.734
3      2023-01-31 12:19:23.709
4      2023-01-31 12:19:28.682
5      2023-01-31 12:19:33.657
6      2023-01-31 12:19:38.630
                 ...
3453   2023-01-31 17:05:24.009
3454   2023-01-31 17:05:28.983
3455   2023-01-31 17:05:33.957
3456   2023-01-31 17:05:38.931
3457   2023-01-31 17:05:43.905
Name: mass 32.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:19.436
3      2023-01-31 12:19:24.410
4      2023-01-31 12:19:29.384
5      2023-01-31 12:19:34.358
6      2023-01-31 12:19:39.332
                 ...
3453   2023-01-31 17:05:24.710
3454   2023-01-31 17:05:29.684
3455   2023-01-31 17:05:34.658
3456   2023-01-31 17:05:39.632
3457   2023-01-31 17:05:44.606
Name: mass 44.0_time, Length: 3456, dtype: datetime64[ns]

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 12:19:17.734,2023/01/31 12:19:17.934,2023/01/31 12:19:18.134,2023/01/31 12:19:18.334,2023/01/31 12:19:18.534,2023/01/31 12:19:18.734,2023/01/31 12:19:19.436,475.157,475.157,475.157,475.157,475.157,475.158,475.658
3,2023/01/31 12:19:22.708,2023/01/31 12:19:22.908,2023/01/31 12:19:23.108,2023/01/31 12:19:23.309,2023/01/31 12:19:23.509,2023/01/31 12:19:23.709,2023/01/31 12:19:24.410,480.131,480.131,480.131,480.132,480.132,480.133,480.632
4,2023/01/31 12:19:27.682,2023/01/31 12:19:27.882,2023/01/31 12:19:28.082,2023/01/31 12:19:28.282,2023/01/31 12:19:28.482,2023/01/31 12:19:28.682,2023/01/31 12:19:29.384,485.105,485.105,485.105,485.105,485.105,485.106,485.606
5,2023/01/31 12:19:32.656,2023/01/31 12:19:32.856,2023/01/31 12:19:33.056,2023/01/31 12:19:33.257,2023/01/31 12:19:33.457,2023/01/31 12:19:33.657,2023/01/31 12:19:34.358,490.079,490.079,490.079,490.080,490.080,490.081,490.580
6,2023/01/31 12:19:37.630,2023/01/31 12:19:37.830,2023/01/31 12:19:38.030,2023/01/31 12:19:38.230,2023/01/31 12:19:38.430,2023/01/31 12:19:38.630,2023/01/31 12:19:39.332,495.053,495.053,495.053,495.053,495.053,495.054,495.554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3453,2023/01/31 17:05:23.008,2023/01/31 17:05:23.208,2023/01/31 17:05:23.408,2023/01/31 17:05:23.609,2023/01/31 17:05:23.809,2023/01/31 17:05:24.009,2023/01/31 17:05:24.710,17640.431,17640.431,17640.431,17640.432,17640.432,17640.433,17640.932
3454,2023/01/31 17:05:27.982,2023/01/31 17:05:28.182,2023/01/31 17:05:28.382,2023/01/31 17:05:28.582,2023/01/31 17:05:28.782,2023/01/31 17:05:28.983,2023/01/31 17:05:29.684,17645.405,17645.405,17645.405,17645.405,17645.405,17645.407,17645.906
3455,2023/01/31 17:05:32.956,2023/01/31 17:05:33.156,2023/01/31 17:05:33.356,2023/01/31 17:05:33.557,2023/01/31 17:05:33.757,2023/01/31 17:05:33.957,2023/01/31 17:05:34.658,17650.379,17650.379,17650.379,17650.380,17650.380,17650.381,17650.880
3456,2023/01/31 17:05:37.930,2023/01/31 17:05:38.130,2023/01/31 17:05:38.330,2023/01/31 17:05:38.530,2023/01/31 17:05:38.730,2023/01/31 17:05:38.931,2023/01/31 17:05:39.632,17655.353,17655.353,17655.353,17655.353,17655.353,17655.355,17655.854
3457,2023/01/31 17:05:42.904,2023/01/31 17:05:43.104,2023/01/31 17:05:43.304,2023/01/31 17:05:43.504,2023/01/31 17:05:43.704,2023/01/31 17:05:43.905,2023/01/31 17:05:44.606,17660.327,17660.327,17660.327,17660.327,17660.327,17660.329,17660.828

2      2023-01-31 12:19:17.734
3      2023-01-31 12:19:22.708
4      2023-01-31 12:19:27.682
5      2023-01-31 12:19:32.656
6      2023-01-31 12:19:37.630
                 ...
3453   2023-01-31 17:05:23.008
3454   2023-01-31 17:05:27.982
3455   2023-01-31 17:05:32.956
3456   2023-01-31 17:05:37.930
3457   2023-01-31 17:05:42.904
Name: mass 2.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:17.934
3      2023-01-31 12:19:22.908
4      2023-01-31 12:19:27.882
5      2023-01-31 12:19:32.856
6      2023-01-31 12:19:37.830
                 ...
3453   2023-01-31 17:05:23.208
3454   2023-01-31 17:05:28.182
3455   2023-01-31 17:05:33.156
3456   2023-01-31 17:05:38.130
3457   2023-01-31 17:05:43.104
Name: mass 12.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.134
3      2023-01-31 12:19:23.108
4      2023-01-31 12:19:28.082
5      2023-01-31 12:19:33.056
6      2023-01-31 12:19:38.030
                 ...
3453   2023-01-31 17:05:23.408
3454   2023-01-31 17:05:28.382
3455   2023-01-31 17:05:33.356
3456   2023-01-31 17:05:38.330
3457   2023-01-31 17:05:43.304
Name: mass 15.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.334
3      2023-01-31 12:19:23.309
4      2023-01-31 12:19:28.282
5      2023-01-31 12:19:33.257
6      2023-01-31 12:19:38.230
                 ...
3453   2023-01-31 17:05:23.609
3454   2023-01-31 17:05:28.582
3455   2023-01-31 17:05:33.557
3456   2023-01-31 17:05:38.530
3457   2023-01-31 17:05:43.504
Name: mass 18.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.534
3      2023-01-31 12:19:23.509
4      2023-01-31 12:19:28.482
5      2023-01-31 12:19:33.457
6      2023-01-31 12:19:38.430
                 ...
3453   2023-01-31 17:05:23.809
3454   2023-01-31 17:05:28.782
3455   2023-01-31 17:05:33.757
3456   2023-01-31 17:05:38.730
3457   2023-01-31 17:05:43.704
Name: mass 28.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:18.734
3      2023-01-31 12:19:23.709
4      2023-01-31 12:19:28.682
5      2023-01-31 12:19:33.657
6      2023-01-31 12:19:38.630
                 ...
3453   2023-01-31 17:05:24.009
3454   2023-01-31 17:05:28.983
3455   2023-01-31 17:05:33.957
3456   2023-01-31 17:05:38.931
3457   2023-01-31 17:05:43.905
Name: mass 32.0_time, Length: 3456, dtype: datetime64[ns]
2      2023-01-31 12:19:19.436
3      2023-01-31 12:19:24.410
4      2023-01-31 12:19:29.384
5      2023-01-31 12:19:34.358
6      2023-01-31 12:19:39.332
                 ...
3453   2023-01-31 17:05:24.710
3454   2023-01-31 17:05:29.684
3455   2023-01-31 17:05:34.658
3456   2023-01-31 17:05:39.632
3457   2023-01-31 17:05:44.606
Name: mass 44.0_time, Length: 3456, dtype: datetime64[ns]

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 12:19:17.734,2023/01/31 12:19:17.934,2023/01/31 12:19:18.134,2023/01/31 12:19:18.334,2023/01/31 12:19:18.534,2023/01/31 12:19:18.734,2023/01/31 12:19:19.436,475.157,475.157,475.157,475.157,475.157,475.158,475.658
3,2023/01/31 12:19:22.708,2023/01/31 12:19:22.908,2023/01/31 12:19:23.108,2023/01/31 12:19:23.309,2023/01/31 12:19:23.509,2023/01/31 12:19:23.709,2023/01/31 12:19:24.410,480.131,480.131,480.131,480.132,480.132,480.133,480.632
4,2023/01/31 12:19:27.682,2023/01/31 12:19:27.882,2023/01/31 12:19:28.082,2023/01/31 12:19:28.282,2023/01/31 12:19:28.482,2023/01/31 12:19:28.682,2023/01/31 12:19:29.384,485.105,485.105,485.105,485.105,485.105,485.106,485.606
5,2023/01/31 12:19:32.656,2023/01/31 12:19:32.856,2023/01/31 12:19:33.056,2023/01/31 12:19:33.257,2023/01/31 12:19:33.457,2023/01/31 12:19:33.657,2023/01/31 12:19:34.358,490.079,490.079,490.079,490.080,490.080,490.081,490.580
6,2023/01/31 12:19:37.630,2023/01/31 12:19:37.830,2023/01/31 12:19:38.030,2023/01/31 12:19:38.230,2023/01/31 12:19:38.430,2023/01/31 12:19:38.630,2023/01/31 12:19:39.332,495.053,495.053,495.053,495.053,495.053,495.054,495.554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3453,2023/01/31 17:05:23.008,2023/01/31 17:05:23.208,2023/01/31 17:05:23.408,2023/01/31 17:05:23.609,2023/01/31 17:05:23.809,2023/01/31 17:05:24.009,2023/01/31 17:05:24.710,17640.431,17640.431,17640.431,17640.432,17640.432,17640.433,17640.932
3454,2023/01/31 17:05:27.982,2023/01/31 17:05:28.182,2023/01/31 17:05:28.382,2023/01/31 17:05:28.582,2023/01/31 17:05:28.782,2023/01/31 17:05:28.983,2023/01/31 17:05:29.684,17645.405,17645.405,17645.405,17645.405,17645.405,17645.407,17645.906
3455,2023/01/31 17:05:32.956,2023/01/31 17:05:33.156,2023/01/31 17:05:33.356,2023/01/31 17:05:33.557,2023/01/31 17:05:33.757,2023/01/31 17:05:33.957,2023/01/31 17:05:34.658,17650.379,17650.379,17650.379,17650.380,17650.380,17650.381,17650.880
3456,2023/01/31 17:05:37.930,2023/01/31 17:05:38.130,2023/01/31 17:05:38.330,2023/01/31 17:05:38.530,2023/01/31 17:05:38.730,2023/01/31 17:05:38.931,2023/01/31 17:05:39.632,17655.353,17655.353,17655.353,17655.353,17655.353,17655.355,17655.854
3457,2023/01/31 17:05:42.904,2023/01/31 17:05:43.104,2023/01/31 17:05:43.304,2023/01/31 17:05:43.504,2023/01/31 17:05:43.704,2023/01/31 17:05:43.905,2023/01/31 17:05:44.606,17660.327,17660.327,17660.327,17660.327,17660.327,17660.329,17660.828

In [15]:
#read in the baseline MID
basel = pd.read_csv("baseline MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
basel.drop([0,1], inplace=True)

#bring the time data into a new df
time1 = pd.DataFrame(basel.iloc[:,0::2]) #- get every second column

#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,12,15,18,28,32,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time1)

#time["Elapsed time, mass 40"].describe()

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 10:58:20.029,2023/01/31 10:58:20.279,2023/01/31 10:58:20.529,2023/01/31 10:58:20.779,2023/01/31 10:58:21.029,2023/01/31 10:58:21.279,2023/01/31 10:58:22.031,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023/01/31 10:58:25.353,2023/01/31 10:58:25.603,2023/01/31 10:58:25.853,2023/01/31 10:58:26.103,2023/01/31 10:58:26.353,2023/01/31 10:58:26.603,2023/01/31 10:58:27.355,5.324,5.324,5.324,5.324,5.324,5.324,5.324
4,2023/01/31 10:58:30.677,2023/01/31 10:58:30.927,2023/01/31 10:58:31.177,2023/01/31 10:58:31.428,2023/01/31 10:58:31.678,2023/01/31 10:58:31.928,2023/01/31 10:58:32.679,10.648,10.648,10.648,10.649,10.649,10.649,10.648
5,2023/01/31 10:58:36.001,2023/01/31 10:58:36.251,2023/01/31 10:58:36.501,2023/01/31 10:58:36.751,2023/01/31 10:58:37.001,2023/01/31 10:58:37.252,2023/01/31 10:58:38.003,15.972,15.972,15.972,15.972,15.972,15.973,15.972
6,2023/01/31 10:58:41.325,2023/01/31 10:58:41.575,2023/01/31 10:58:41.825,2023/01/31 10:58:42.076,2023/01/31 10:58:42.326,2023/01/31 10:58:42.576,2023/01/31 10:58:43.327,21.296,21.296,21.296,21.297,21.297,21.297,21.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2023/01/31 11:05:47.245,2023/01/31 11:05:47.495,2023/01/31 11:05:47.745,2023/01/31 11:05:47.996,2023/01/31 11:05:48.246,2023/01/31 11:05:48.496,2023/01/31 11:05:49.247,447.216,447.216,447.216,447.217,447.217,447.217,447.216
87,2023/01/31 11:05:52.569,2023/01/31 11:05:52.819,2023/01/31 11:05:53.069,2023/01/31 11:05:53.319,2023/01/31 11:05:53.569,2023/01/31 11:05:53.820,2023/01/31 11:05:54.571,452.540,452.540,452.540,452.540,452.540,452.541,452.540
88,2023/01/31 11:05:57.893,2023/01/31 11:05:58.143,2023/01/31 11:05:58.393,2023/01/31 11:05:58.643,2023/01/31 11:05:58.893,2023/01/31 11:05:59.144,2023/01/31 11:05:59.895,457.864,457.864,457.864,457.864,457.864,457.865,457.864
89,2023/01/31 11:06:03.217,2023/01/31 11:06:03.467,2023/01/31 11:06:03.717,2023/01/31 11:06:03.968,2023/01/31 11:06:04.218,2023/01/31 11:06:04.468,2023/01/31 11:06:05.219,463.188,463.188,463.188,463.189,463.189,463.189,463.188
90,2023/01/31 11:06:08.541,2023/01/31 11:06:08.791,2023/01/31 11:06:09.041,2023/01/31 11:06:09.291,2023/01/31 11:06:09.541,2023/01/31 11:06:09.792,2023/01/31 11:06:10.543,468.512,468.512,468.512,468.512,468.512,468.513,468.512

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 10:58:20.029,2023/01/31 10:58:20.279,2023/01/31 10:58:20.529,2023/01/31 10:58:20.779,2023/01/31 10:58:21.029,2023/01/31 10:58:21.279,2023/01/31 10:58:22.031,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023/01/31 10:58:25.353,2023/01/31 10:58:25.603,2023/01/31 10:58:25.853,2023/01/31 10:58:26.103,2023/01/31 10:58:26.353,2023/01/31 10:58:26.603,2023/01/31 10:58:27.355,5.324,5.324,5.324,5.324,5.324,5.324,5.324
4,2023/01/31 10:58:30.677,2023/01/31 10:58:30.927,2023/01/31 10:58:31.177,2023/01/31 10:58:31.428,2023/01/31 10:58:31.678,2023/01/31 10:58:31.928,2023/01/31 10:58:32.679,10.648,10.648,10.648,10.649,10.649,10.649,10.648
5,2023/01/31 10:58:36.001,2023/01/31 10:58:36.251,2023/01/31 10:58:36.501,2023/01/31 10:58:36.751,2023/01/31 10:58:37.001,2023/01/31 10:58:37.252,2023/01/31 10:58:38.003,15.972,15.972,15.972,15.972,15.972,15.973,15.972
6,2023/01/31 10:58:41.325,2023/01/31 10:58:41.575,2023/01/31 10:58:41.825,2023/01/31 10:58:42.076,2023/01/31 10:58:42.326,2023/01/31 10:58:42.576,2023/01/31 10:58:43.327,21.296,21.296,21.296,21.297,21.297,21.297,21.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,2023/01/31 11:05:47.245,2023/01/31 11:05:47.495,2023/01/31 11:05:47.745,2023/01/31 11:05:47.996,2023/01/31 11:05:48.246,2023/01/31 11:05:48.496,2023/01/31 11:05:49.247,447.216,447.216,447.216,447.217,447.217,447.217,447.216
87,2023/01/31 11:05:52.569,2023/01/31 11:05:52.819,2023/01/31 11:05:53.069,2023/01/31 11:05:53.319,2023/01/31 11:05:53.569,2023/01/31 11:05:53.820,2023/01/31 11:05:54.571,452.540,452.540,452.540,452.540,452.540,452.541,452.540
88,2023/01/31 11:05:57.893,2023/01/31 11:05:58.143,2023/01/31 11:05:58.393,2023/01/31 11:05:58.643,2023/01/31 11:05:58.893,2023/01/31 11:05:59.144,2023/01/31 11:05:59.895,457.864,457.864,457.864,457.864,457.864,457.865,457.864
89,2023/01/31 11:06:03.217,2023/01/31 11:06:03.467,2023/01/31 11:06:03.717,2023/01/31 11:06:03.968,2023/01/31 11:06:04.218,2023/01/31 11:06:04.468,2023/01/31 11:06:05.219,463.188,463.188,463.188,463.189,463.189,463.189,463.188
90,2023/01/31 11:06:08.541,2023/01/31 11:06:08.791,2023/01/31 11:06:09.041,2023/01/31 11:06:09.291,2023/01/31 11:06:09.541,2023/01/31 11:06:09.792,2023/01/31 11:06:10.543,468.512,468.512,468.512,468.512,468.512,468.513,468.512

In [16]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()

#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)
#creating a new df by dropping the rows where system was warm
cut_vaclog = vaclog.loc[vaclog["Elapsed time"] >= 3310]
cut_vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
448,NaN,31/01/2023 11:52:18,3310.0,68.216,4.930000e-10,1.210000e-09,4.996000e-09,4.996000e-07,1.1,17.0,-5.275,2809.191,NaN,NaN
449,NaN,31/01/2023 11:52:25,3317.0,68.216,4.930000e-10,1.210000e-09,4.996000e-09,4.978000e-07,1.1,17.0,-5.387,2785.173,NaN,NaN
450,NaN,31/01/2023 11:52:32,3324.0,68.215,4.930000e-10,1.210000e-09,4.996000e-09,4.966000e-07,1.1,18.0,-5.275,2774.175,NaN,NaN
451,NaN,31/01/2023 11:52:39,3331.0,68.216,4.920000e-10,1.210000e-09,4.996000e-09,4.960000e-07,1.1,17.0,-5.163,2789.214,NaN,NaN
452,NaN,31/01/2023 11:52:46,3338.0,68.216,4.920000e-10,1.210000e-09,4.996000e-09,4.960000e-07,1.1,18.0,-5.275,2817.384,NaN,NaN

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
448,NaN,31/01/2023 11:52:18,3310.0,68.216,4.930000e-10,1.210000e-09,4.996000e-09,4.996000e-07,1.1,17.0,-5.275,2809.191,NaN,NaN
449,NaN,31/01/2023 11:52:25,3317.0,68.216,4.930000e-10,1.210000e-09,4.996000e-09,4.978000e-07,1.1,17.0,-5.387,2785.173,NaN,NaN
450,NaN,31/01/2023 11:52:32,3324.0,68.215,4.930000e-10,1.210000e-09,4.996000e-09,4.966000e-07,1.1,18.0,-5.275,2774.175,NaN,NaN
451,NaN,31/01/2023 11:52:39,3331.0,68.216,4.920000e-10,1.210000e-09,4.996000e-09,4.960000e-07,1.1,17.0,-5.163,2789.214,NaN,NaN
452,NaN,31/01/2023 11:52:46,3338.0,68.216,4.920000e-10,1.210000e-09,4.996000e-09,4.960000e-07,1.1,18.0,-5.275,2817.384,NaN,NaN

### Data processing

In [17]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [18]:
#Combining the time df's
t_comb = pd.concat([time1,time],join="inner")
#t_comb.drop([0,1,91,92], inplace=True)

t_comb

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 10:58:20.029,2023/01/31 10:58:20.279,2023/01/31 10:58:20.529,2023/01/31 10:58:20.779,2023/01/31 10:58:21.029,2023/01/31 10:58:21.279,2023/01/31 10:58:22.031,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023/01/31 10:58:25.353,2023/01/31 10:58:25.603,2023/01/31 10:58:25.853,2023/01/31 10:58:26.103,2023/01/31 10:58:26.353,2023/01/31 10:58:26.603,2023/01/31 10:58:27.355,5.324,5.324,5.324,5.324,5.324,5.324,5.324
4,2023/01/31 10:58:30.677,2023/01/31 10:58:30.927,2023/01/31 10:58:31.177,2023/01/31 10:58:31.428,2023/01/31 10:58:31.678,2023/01/31 10:58:31.928,2023/01/31 10:58:32.679,10.648,10.648,10.648,10.649,10.649,10.649,10.648
5,2023/01/31 10:58:36.001,2023/01/31 10:58:36.251,2023/01/31 10:58:36.501,2023/01/31 10:58:36.751,2023/01/31 10:58:37.001,2023/01/31 10:58:37.252,2023/01/31 10:58:38.003,15.972,15.972,15.972,15.972,15.972,15.973,15.972
6,2023/01/31 10:58:41.325,2023/01/31 10:58:41.575,2023/01/31 10:58:41.825,2023/01/31 10:58:42.076,2023/01/31 10:58:42.326,2023/01/31 10:58:42.576,2023/01/31 10:58:43.327,21.296,21.296,21.296,21.297,21.297,21.297,21.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3453,2023/01/31 17:05:23.008,2023/01/31 17:05:23.208,2023/01/31 17:05:23.408,2023/01/31 17:05:23.609,2023/01/31 17:05:23.809,2023/01/31 17:05:24.009,2023/01/31 17:05:24.710,17640.431,17640.431,17640.431,17640.432,17640.432,17640.433,17640.932
3454,2023/01/31 17:05:27.982,2023/01/31 17:05:28.182,2023/01/31 17:05:28.382,2023/01/31 17:05:28.582,2023/01/31 17:05:28.782,2023/01/31 17:05:28.983,2023/01/31 17:05:29.684,17645.405,17645.405,17645.405,17645.405,17645.405,17645.407,17645.906
3455,2023/01/31 17:05:32.956,2023/01/31 17:05:33.156,2023/01/31 17:05:33.356,2023/01/31 17:05:33.557,2023/01/31 17:05:33.757,2023/01/31 17:05:33.957,2023/01/31 17:05:34.658,17650.379,17650.379,17650.379,17650.380,17650.380,17650.381,17650.880
3456,2023/01/31 17:05:37.930,2023/01/31 17:05:38.130,2023/01/31 17:05:38.330,2023/01/31 17:05:38.530,2023/01/31 17:05:38.730,2023/01/31 17:05:38.931,2023/01/31 17:05:39.632,17655.353,17655.353,17655.353,17655.353,17655.353,17655.355,17655.854
3457,2023/01/31 17:05:42.904,2023/01/31 17:05:43.104,2023/01/31 17:05:43.304,2023/01/31 17:05:43.504,2023/01/31 17:05:43.704,2023/01/31 17:05:43.905,2023/01/31 17:05:44.606,17660.327,17660.327,17660.327,17660.327,17660.327,17660.329,17660.828

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/01/31 10:58:20.029,2023/01/31 10:58:20.279,2023/01/31 10:58:20.529,2023/01/31 10:58:20.779,2023/01/31 10:58:21.029,2023/01/31 10:58:21.279,2023/01/31 10:58:22.031,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2023/01/31 10:58:25.353,2023/01/31 10:58:25.603,2023/01/31 10:58:25.853,2023/01/31 10:58:26.103,2023/01/31 10:58:26.353,2023/01/31 10:58:26.603,2023/01/31 10:58:27.355,5.324,5.324,5.324,5.324,5.324,5.324,5.324
4,2023/01/31 10:58:30.677,2023/01/31 10:58:30.927,2023/01/31 10:58:31.177,2023/01/31 10:58:31.428,2023/01/31 10:58:31.678,2023/01/31 10:58:31.928,2023/01/31 10:58:32.679,10.648,10.648,10.648,10.649,10.649,10.649,10.648
5,2023/01/31 10:58:36.001,2023/01/31 10:58:36.251,2023/01/31 10:58:36.501,2023/01/31 10:58:36.751,2023/01/31 10:58:37.001,2023/01/31 10:58:37.252,2023/01/31 10:58:38.003,15.972,15.972,15.972,15.972,15.972,15.973,15.972
6,2023/01/31 10:58:41.325,2023/01/31 10:58:41.575,2023/01/31 10:58:41.825,2023/01/31 10:58:42.076,2023/01/31 10:58:42.326,2023/01/31 10:58:42.576,2023/01/31 10:58:43.327,21.296,21.296,21.296,21.297,21.297,21.297,21.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3453,2023/01/31 17:05:23.008,2023/01/31 17:05:23.208,2023/01/31 17:05:23.408,2023/01/31 17:05:23.609,2023/01/31 17:05:23.809,2023/01/31 17:05:24.009,2023/01/31 17:05:24.710,17640.431,17640.431,17640.431,17640.432,17640.432,17640.433,17640.932
3454,2023/01/31 17:05:27.982,2023/01/31 17:05:28.182,2023/01/31 17:05:28.382,2023/01/31 17:05:28.582,2023/01/31 17:05:28.782,2023/01/31 17:05:28.983,2023/01/31 17:05:29.684,17645.405,17645.405,17645.405,17645.405,17645.405,17645.407,17645.906
3455,2023/01/31 17:05:32.956,2023/01/31 17:05:33.156,2023/01/31 17:05:33.356,2023/01/31 17:05:33.557,2023/01/31 17:05:33.757,2023/01/31 17:05:33.957,2023/01/31 17:05:34.658,17650.379,17650.379,17650.379,17650.380,17650.380,17650.381,17650.880
3456,2023/01/31 17:05:37.930,2023/01/31 17:05:38.130,2023/01/31 17:05:38.330,2023/01/31 17:05:38.530,2023/01/31 17:05:38.730,2023/01/31 17:05:38.931,2023/01/31 17:05:39.632,17655.353,17655.353,17655.353,17655.353,17655.353,17655.355,17655.854
3457,2023/01/31 17:05:42.904,2023/01/31 17:05:43.104,2023/01/31 17:05:43.304,2023/01/31 17:05:43.504,2023/01/31 17:05:43.704,2023/01/31 17:05:43.905,2023/01/31 17:05:44.606,17660.327,17660.327,17660.327,17660.327,17660.327,17660.329,17660.828

In [19]:
#Combining the MIDs
#read in the baseline MID
comb = pd.read_csv("combined MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
comb.drop([0,1,91,92], inplace=True)
print(comb)

                mass 2.0_time  mass 2.0_value           mass 12.0_time  \
2     2023/01/31 10:58:20.029    3.872950e-11  2023/01/31 10:58:20.279
3     2023/01/31 10:58:25.353    3.824580e-11  2023/01/31 10:58:25.603
4     2023/01/31 10:58:30.677    3.835760e-11  2023/01/31 10:58:30.927
5     2023/01/31 10:58:36.001    3.836570e-11  2023/01/31 10:58:36.251
6     2023/01/31 10:58:41.325    3.806030e-11  2023/01/31 10:58:41.575
...                       ...             ...                      ...
3544  2023/01/31 17:05:23.008    2.501950e-11  2023/01/31 17:05:23.208
3545  2023/01/31 17:05:27.982    2.496040e-11  2023/01/31 17:05:28.182
3546  2023/01/31 17:05:32.956    2.474430e-11  2023/01/31 17:05:33.156
3547  2023/01/31 17:05:37.930    2.477660e-11  2023/01/31 17:05:38.130
3548  2023/01/31 17:05:42.904    2.481960e-11  2023/01/31 17:05:43.104

      mass 12.0_value           mass 15.0_time  mass 15.0_value  \
2        2.081700e-12  2023/01/31 10:58:20.529     8.220000e-14
3        2.166200e-12  2023/01/31 10:58:25.853     1.413000e-13
4        2.187200e-12  2023/01/31 10:58:31.177     1.600000e-13
5        2.195200e-12  2023/01/31 10:58:36.501     1.620000e-13
6        2.180600e-12  2023/01/31 10:58:41.825     1.569000e-13
...               ...                      ...              ...
3544     6.875000e-13  2023/01/31 17:05:23.408     4.250000e-14
3545     6.814000e-13  2023/01/31 17:05:28.382     4.770000e-14
3546     6.818000e-13  2023/01/31 17:05:33.356     3.920000e-14
3547     7.418000e-13  2023/01/31 17:05:38.330     3.920000e-14
3548     6.993000e-13  2023/01/31 17:05:43.304     2.120000e-14

               mass 18.0_time  mass 18.0_value           mass 28.0_time  \
2     2023/01/31 10:58:20.779     1.612500e-12  2023/01/31 10:58:21.029
3     2023/01/31 10:58:26.103     1.704400e-12  2023/01/31 10:58:26.353
4     2023/01/31 10:58:31.428     1.639300e-12  2023/01/31 10:58:31.678
5     2023/01/31 10:58:36.751     1.690500e-12  2023/01/31 10:58:37.001
6     2023/01/31 10:58:42.076     1.715800e-12  2023/01/31 10:58:42.326
...                       ...              ...                      ...
3544  2023/01/31 17:05:23.609     7.400000e-13  2023/01/31 17:05:23.809
3545  2023/01/31 17:05:28.582     7.731000e-13  2023/01/31 17:05:28.782
3546  2023/01/31 17:05:33.557     7.915000e-13  2023/01/31 17:05:33.757
3547  2023/01/31 17:05:38.530     7.576000e-13  2023/01/31 17:05:38.730
3548  2023/01/31 17:05:43.504     8.265000e-13  2023/01/31 17:05:43.704

      mass 28.0_value           mass 32.0_time  mass 32.0_value  \
2        1.657100e-12  2023/01/31 10:58:21.279     1.118000e-13
3        1.758000e-12  2023/01/31 10:58:26.603     1.978000e-13
4        1.752900e-12  2023/01/31 10:58:31.928     1.905000e-13
5        1.748700e-12  2023/01/31 10:58:37.252     1.924000e-13
6        1.765200e-12  2023/01/31 10:58:42.576     2.110000e-13
...               ...                      ...              ...
3544     6.947000e-13  2023/01/31 17:05:24.009     4.530000e-14
3545     7.064000e-13  2023/01/31 17:05:28.983     3.630000e-14
3546     7.038000e-13  2023/01/31 17:05:33.957     2.850000e-14
3547     6.812000e-13  2023/01/31 17:05:38.931     4.740000e-14
3548     7.142000e-13  2023/01/31 17:05:43.905     4.100000e-14

               mass 44.0_time  mass 44.0_value
2     2023/01/31 10:58:22.031     2.456370e-11
3     2023/01/31 10:58:27.355     2.467120e-11
4     2023/01/31 10:58:32.679     2.461750e-11
5     2023/01/31 10:58:38.003     2.461750e-11
6     2023/01/31 10:58:43.327     2.461750e-11
...                       ...              ...
3544  2023/01/31 17:05:24.710     2.354250e-11
3545  2023/01/31 17:05:29.684     2.343500e-11
3546  2023/01/31 17:05:34.658     2.322000e-11
3547  2023/01/31 17:05:39.632     2.354250e-11
3548  2023/01/31 17:05:44.606     2.354250e-11

[3545 rows x 14 columns]
                mass 2.0_time  mass 2.0_value           mass 12.0_time  \
2     2023/01/31 10:58:20.029    3.872950e-11  2023/01/31 10:58:20.279
3     2023/01/31 10:58:25.353    3.824580e-11  2023/01/31 10:58:25.603
4     2023/01/31 10:58:30.677    3.835760e-11  2023/01/31 10:58:30.927
5     2023/01/31 10:58:36.001    3.836570e-11  2023/01/31 10:58:36.251
6     2023/01/31 10:58:41.325    3.806030e-11  2023/01/31 10:58:41.575
...                       ...             ...                      ...
3544  2023/01/31 17:05:23.008    2.501950e-11  2023/01/31 17:05:23.208
3545  2023/01/31 17:05:27.982    2.496040e-11  2023/01/31 17:05:28.182
3546  2023/01/31 17:05:32.956    2.474430e-11  2023/01/31 17:05:33.156
3547  2023/01/31 17:05:37.930    2.477660e-11  2023/01/31 17:05:38.130
3548  2023/01/31 17:05:42.904    2.481960e-11  2023/01/31 17:05:43.104

      mass 12.0_value           mass 15.0_time  mass 15.0_value  \
2        2.081700e-12  2023/01/31 10:58:20.529     8.220000e-14
3        2.166200e-12  2023/01/31 10:58:25.853     1.413000e-13
4        2.187200e-12  2023/01/31 10:58:31.177     1.600000e-13
5        2.195200e-12  2023/01/31 10:58:36.501     1.620000e-13
6        2.180600e-12  2023/01/31 10:58:41.825     1.569000e-13
...               ...                      ...              ...
3544     6.875000e-13  2023/01/31 17:05:23.408     4.250000e-14
3545     6.814000e-13  2023/01/31 17:05:28.382     4.770000e-14
3546     6.818000e-13  2023/01/31 17:05:33.356     3.920000e-14
3547     7.418000e-13  2023/01/31 17:05:38.330     3.920000e-14
3548     6.993000e-13  2023/01/31 17:05:43.304     2.120000e-14

               mass 18.0_time  mass 18.0_value           mass 28.0_time  \
2     2023/01/31 10:58:20.779     1.612500e-12  2023/01/31 10:58:21.029
3     2023/01/31 10:58:26.103     1.704400e-12  2023/01/31 10:58:26.353
4     2023/01/31 10:58:31.428     1.639300e-12  2023/01/31 10:58:31.678
5     2023/01/31 10:58:36.751     1.690500e-12  2023/01/31 10:58:37.001
6     2023/01/31 10:58:42.076     1.715800e-12  2023/01/31 10:58:42.326
...                       ...              ...                      ...
3544  2023/01/31 17:05:23.609     7.400000e-13  2023/01/31 17:05:23.809
3545  2023/01/31 17:05:28.582     7.731000e-13  2023/01/31 17:05:28.782
3546  2023/01/31 17:05:33.557     7.915000e-13  2023/01/31 17:05:33.757
3547  2023/01/31 17:05:38.530     7.576000e-13  2023/01/31 17:05:38.730
3548  2023/01/31 17:05:43.504     8.265000e-13  2023/01/31 17:05:43.704

      mass 28.0_value           mass 32.0_time  mass 32.0_value  \
2        1.657100e-12  2023/01/31 10:58:21.279     1.118000e-13
3        1.758000e-12  2023/01/31 10:58:26.603     1.978000e-13
4        1.752900e-12  2023/01/31 10:58:31.928     1.905000e-13
5        1.748700e-12  2023/01/31 10:58:37.252     1.924000e-13
6        1.765200e-12  2023/01/31 10:58:42.576     2.110000e-13
...               ...                      ...              ...
3544     6.947000e-13  2023/01/31 17:05:24.009     4.530000e-14
3545     7.064000e-13  2023/01/31 17:05:28.983     3.630000e-14
3546     7.038000e-13  2023/01/31 17:05:33.957     2.850000e-14
3547     6.812000e-13  2023/01/31 17:05:38.931     4.740000e-14
3548     7.142000e-13  2023/01/31 17:05:43.905     4.100000e-14

               mass 44.0_time  mass 44.0_value
2     2023/01/31 10:58:22.031     2.456370e-11
3     2023/01/31 10:58:27.355     2.467120e-11
4     2023/01/31 10:58:32.679     2.461750e-11
5     2023/01/31 10:58:38.003     2.461750e-11
6     2023/01/31 10:58:43.327     2.461750e-11
...                       ...              ...
3544  2023/01/31 17:05:24.710     2.354250e-11
3545  2023/01/31 17:05:29.684     2.343500e-11
3546  2023/01/31 17:05:34.658     2.322000e-11
3547  2023/01/31 17:05:39.632     2.354250e-11
3548  2023/01/31 17:05:44.606     2.354250e-11

[3545 rows x 14 columns]

### Plotting

In [20]:
#Plotting the all the relevant MID spectrums

plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M12')
plt.plot(time['Elapsed time, mass 15'],mid["mass 15.0_value"],marker=".", markersize=4,label='M15')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mass fractions", loc="upper right")
plt.title("TDS MID scan no pre-injection, dynamic vacuum")

plt.yscale('log')

In [21]:
#Plotting the baseline mid

plt.figure(figsize=(14,8))
plt.plot(time1['Elapsed time, mass 2'],basel["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time1['Elapsed time, mass 12'],basel["mass 12.0_value"],marker=".", markersize=4,label='M12')
plt.plot(time1['Elapsed time, mass 15'],basel["mass 15.0_value"],marker=".", markersize=4,label='M15')
plt.plot(time1['Elapsed time, mass 18'],basel["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time1['Elapsed time, mass 28'],basel["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time1['Elapsed time, mass 32'],basel["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time1["Elapsed time, mass 44"],basel["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("TDS MID baseline scan no pre-injection, dynamic vacuum")

plt.yscale('log')

In [22]:
#Plotting the combined MID
plt.figure(figsize=(14,8))
plt.plot(t_comb['Elapsed time, mass 2'],comb["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(t_comb['Elapsed time, mass 12'],comb["mass 12.0_value"],marker=".", markersize=4,label='M12')
plt.plot(t_comb['Elapsed time, mass 15'],comb["mass 15.0_value"],marker=".", markersize=4,label='M15')
plt.plot(t_comb['Elapsed time, mass 18'],comb["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(t_comb['Elapsed time, mass 28'],comb["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(t_comb['Elapsed time, mass 32'],comb["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(t_comb["Elapsed time, mass 44"],comb["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("TDS Combined baseline and MID scans no pre-injection, dynamic vacuum")

plt.yscale('log')

In [27]:
#Plotting BA2, BA1 pressure exc time when warm
plt.figure(figsize=(10,6))
plt.plot(cut_vaclog["Elapsed time"],cut_vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(cut_vaclog["Elapsed time"],cut_vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("TDS Total pressure evolution 2e18 M pre-injection, EGA fully in, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [24]:
# Plotting the temp evolution exc warm part
plt.figure()
plt.plot((cut_vaclog["Elapsed time"]),polyfit(A,cut_vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("TDS Temperature evolution 2e18 M pre-injection, EGA fully in, dynamic vacuum")
plt.yscale('linear')