In [1]:
import pandas as pd
from scipy.optimize import curve_fit
from scipy.integrate import quad
from sklearn.metrics import r2_score
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import math
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data

In [2]:
#read in the data
mid = pd.read_csv("MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())

#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
print(time.describe())
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,12,15,18,28,32,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)

#time["Elapsed time, mass 40"].describe()

       mass 2.0_value  mass 12.0_value  mass 15.0_value  mass 18.0_value  \
count    4.119000e+03     4.119000e+03     3.280000e+03     1.710000e+03
mean     8.394687e-11     3.860746e-13     5.354454e-14     5.744327e-14
std      1.433451e-10     2.674586e-13     7.174031e-14     1.402723e-13
min      9.314800e-12     0.000000e+00     0.000000e+00     0.000000e+00
25%      1.766485e-11     1.561500e-13     9.100000e-15     8.100000e-15
50%      3.507500e-11     3.316000e-13     2.645000e-14     1.950000e-14
75%      8.727315e-11     6.007000e-13     6.070000e-14     4.090000e-14
max      1.098640e-09     9.504000e-13     4.825000e-13     1.080800e-12

       mass 28.0_value  mass 32.0_value  mass 44.0_time  mass 44.0_value
count     3.800000e+01     2.400000e+01             0.0              0.0
mean      7.767816e-13     3.818750e-14             NaN              NaN
std       4.960037e-13     4.206864e-14             NaN              NaN
min       1.000000e-15     4.300000e-15             NaN              NaN
25%       2.470000e-14     1.572500e-14             NaN              NaN
50%       1.075750e-12     2.240000e-14             NaN              NaN
75%       1.089275e-12     4.395000e-14             NaN              NaN
max       1.207200e-12     1.956000e-13             NaN              NaN
       mass 44.0_time
count             0.0
mean              NaN
std               NaN
min               NaN
25%               NaN
50%               NaN
75%               NaN
max               NaN

,mass 2.0_time,mass 12.0_time,mass 15.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 44"
2,2023/02/24 11:36:58.327,2023/02/24 11:37:01.528,2023/02/24 11:37:01.728,2023/02/24 11:37:01.928,2023/02/24 11:37:02.128,2023/02/24 11:37:02.328,NaN,0.000,0.000,0.000,0.000,0.000,0.000,NaN
3,2023/02/24 11:37:03.300,2023/02/24 11:37:06.501,2023/02/24 11:37:06.701,2023/02/24 11:37:06.901,2023/02/24 11:37:07.101,2023/02/24 11:37:07.301,NaN,4.973,4.973,4.973,4.973,4.973,4.973,NaN
4,2023/02/24 11:37:08.273,2023/02/24 11:37:11.474,2023/02/24 11:37:11.674,2023/02/24 11:37:11.874,2023/02/24 11:37:12.074,2023/02/24 11:37:12.274,NaN,9.946,9.946,9.946,9.946,9.946,9.946,NaN
5,2023/02/24 11:37:13.246,2023/02/24 11:37:16.447,2023/02/24 11:37:16.647,2023/02/24 11:37:16.847,2023/02/24 11:37:17.048,2023/02/24 11:37:17.248,NaN,14.919,14.919,14.919,14.919,14.920,14.920,NaN
6,2023/02/24 11:37:18.220,2023/02/24 11:37:21.421,2023/02/24 11:37:21.621,2023/02/24 11:37:21.821,2023/02/24 11:37:22.021,2023/02/24 11:37:22.221,NaN,19.893,19.893,19.893,19.893,19.893,19.893,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4116,2023/02/24 17:18:03.938,2023/02/24 17:18:04.138,NaN,NaN,NaN,NaN,NaN,20465.611,20462.610,NaN,NaN,NaN,NaN,NaN
4117,2023/02/24 17:18:08.912,2023/02/24 17:18:09.112,2023/02/24 17:18:09.713,NaN,NaN,NaN,NaN,20470.585,20467.584,20467.985,NaN,NaN,NaN,NaN
4118,2023/02/24 17:18:13.886,2023/02/24 17:18:14.086,2023/02/24 17:18:14.486,2023/02/24 17:18:14.686,NaN,NaN,NaN,20475.559,20472.558,20472.758,20472.758,NaN,NaN,NaN
4119,2023/02/24 17:18:18.860,2023/02/24 17:18:19.060,2023/02/24 17:18:19.661,NaN,NaN,NaN,NaN,20480.533,20477.532,20477.933,NaN,NaN,NaN,NaN
4120,2023/02/24 17:18:23.834,2023/02/24 17:18:24.034,2023/02/24 17:18:24.634,NaN,NaN,NaN,NaN,20485.507,20482.506,20482.906,NaN,NaN,NaN,NaN

In [3]:
#read in the baseline mass scan

basel = pd.read_csv("baseline mass scan.tsv", sep="\t", skiprows=lambda x: x <=19,  on_bad_lines="skip")
basel.rename(columns={"Current": "Ion current"},inplace=True)
#basel.drop([0,1], inplace=True)
print(basel.head())

#bring the time data into a new df
# #add elapsed time columns
# def elapsed_time(df):
#     itr = 0
#     counter = len(df.columns)
#     masses = [2,4,5.5,12,15,16,18,28,32,40,44]
#     for i in df:
#         timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
#         runtime = (timestamp-timestamp[2]).dt.total_seconds()
#         colname = "Elapsed time, mass {}".format(masses[itr]) 
#         df.insert(counter, colname, runtime)
#         itr += 1
#         counter += 1
#     return(df)
# elapsed_time(time1)

# #time["Elapsed time, mass 40"].describe()

        Mass   Ion current
0  99.900002  2.600000e-15
1  99.800003  2.900000e-14
2  99.699997  1.290000e-14
3  99.599998  2.360000e-14
4  99.500000  1.000000e-15

In [4]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()

#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,24/02/2023 10:52:51,7.0,82.448,1.170000e-09,1.410000e-09,4.996000e-09,2.529000e-07,1.1,466.0,-5.275,4274.281,NaN,NaN
2,NaN,24/02/2023 10:52:58,14.0,82.447,1.170000e-09,1.400000e-09,4.996000e-09,2.526000e-07,1.1,466.0,-5.275,4274.506,NaN,NaN
3,NaN,24/02/2023 10:53:04,20.0,82.447,1.170000e-09,1.410000e-09,4.996000e-09,2.526000e-07,1.1,466.0,-5.050,4274.618,NaN,NaN
4,NaN,24/02/2023 10:53:11,27.0,82.452,1.170000e-09,1.430000e-09,4.996000e-09,2.529000e-07,1.1,466.0,-5.050,4274.730,NaN,NaN
5,NaN,24/02/2023 10:53:18,34.0,82.451,1.180000e-09,1.430000e-09,4.996000e-09,2.529000e-07,1.1,466.0,-5.163,4274.843,NaN,NaN

In [5]:
#Reading in the HiVolta measurement file 
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["I_em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
#hv["I_em"]=abs(hv["I_em"])
#hv["hv_grid"]=abs(hv["hv_grid"])
hv["datetime"] = pd.to_datetime(hv['Date'] + ' ' + hv['Time'],format="%d/%m/%Y %H:%M:%S.%f")
hv['datetime'] = hv['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S.%f')
#hv.insert(0,"datetime",hv["Date"]+" "+hv["Time"])

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)


hv

,Date,Time,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,...,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,Comment,hv_grid,I_em,datetime
0,24/02/2023,11:36:53.726,0.000,0.0,0.08,0.04,0.12,0.0,0.0,0.0,...,-0.0150,-0.0251,-0.0148,0.0142,-0.0066,-0.0157,NaN,8.010000e-08,-1.970000e-08,2023-02-24 11:36:53.726000
1,24/02/2023,11:36:54.894,1.168,0.0,0.08,0.04,0.12,0.0,0.0,0.0,...,-0.0150,-0.0251,-0.0148,0.0142,-0.0066,-0.0157,NaN,8.010000e-08,-1.970000e-08,2023-02-24 11:36:54.894000
2,24/02/2023,11:36:56.075,2.349,0.0,0.08,0.04,0.12,0.0,0.0,0.0,...,-0.0150,-0.0251,-0.0148,0.0142,-0.0066,-0.0157,NaN,8.010000e-08,-1.970000e-08,2023-02-24 11:36:56.075000
3,24/02/2023,11:36:57.243,3.517,0.0,0.08,0.04,0.12,0.0,0.0,0.0,...,-0.0150,-0.0251,-0.0148,0.0142,-0.0066,-0.0157,NaN,8.010000e-08,-1.970000e-08,2023-02-24 11:36:57.243000
4,24/02/2023,11:37:02.563,8.837,0.0,0.08,0.04,0.12,0.0,0.0,0.0,...,-0.0150,-0.0251,-0.0148,0.0142,-0.0066,-0.0152,NaN,4.200000e-09,1.800000e-09,2023-02-24 11:37:02.563000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16871,24/02/2023,17:18:29.048,20495.322,0.0,0.06,0.04,0.08,0.0,0.0,0.0,...,0.0776,0.1415,0.0368,0.0774,-0.0014,-0.0165,NaN,-2.800000e-09,1.064000e-07,2023-02-24 17:18:29.048000
16872,24/02/2023,17:18:30.261,20496.535,0.0,0.06,0.04,0.08,0.0,0.0,0.0,...,0.0776,0.1415,0.0368,0.0774,-0.0014,-0.0165,NaN,-2.800000e-09,1.064000e-07,2023-02-24 17:18:30.261000
16873,24/02/2023,17:18:31.506,20497.780,0.0,0.06,0.04,0.08,0.0,0.0,0.0,...,0.0776,0.1415,0.0368,0.0774,-0.0014,-0.0165,NaN,-2.800000e-09,1.064000e-07,2023-02-24 17:18:31.506000
16874,24/02/2023,17:18:32.709,20498.983,0.0,0.06,0.04,0.08,0.0,0.0,0.0,...,0.0776,0.1415,0.0368,0.0774,-0.0014,-0.0165,NaN,-2.800000e-09,1.064000e-07,2023-02-24 17:18:32.709000
16875,24/02/2023,17:18:33.924,20500.198,0.0,0.06,0.04,0.08,0.0,0.0,0.0,...,0.0776,0.1415,0.0368,0.0774,-0.0014,-0.0165,NaN,-2.800000e-09,1.064000e-07,2023-02-24 17:18:33.924000

In [6]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

## Point-by-point desorption - H2 partial pressure data manipulation

In [8]:
#make a sub-df from mid that includes only mass 2 data
h2 = mid.loc[:, ["mass 2.0_time", "mass 2.0_value"]]

#rename columns
h2 = h2.rename(columns={"mass 2.0_time": "datetime","mass 2.0_value": "Ion current"}).reset_index(drop=True)

print(h2)

                     datetime   Ion current
0     2023/02/24 11:36:58.327  1.024900e-09
1     2023/02/24 11:37:03.300  1.030810e-09
2     2023/02/24 11:37:08.273  1.037050e-09
3     2023/02/24 11:37:13.246  1.046720e-09
4     2023/02/24 11:37:18.220  1.056070e-09
...                       ...           ...
4114  2023/02/24 17:18:03.938  9.344900e-12
4115  2023/02/24 17:18:08.912  9.321300e-12
4116  2023/02/24 17:18:13.886  9.314800e-12
4117  2023/02/24 17:18:18.860  9.326600e-12
4118  2023/02/24 17:18:23.834  9.342800e-12

[4119 rows x 2 columns]

In [9]:
# Convert the 'time' column to datetime index for both dataframes
hv.index = (pd.to_datetime(hv['datetime']).dt.round(freq="S"))
h2.index = (pd.to_datetime(h2['datetime']).dt.round(freq="S"))
print(hv)

# Reindex df1 to match the datetime index of df2
hv = hv.reindex(h2.index, method='nearest', limit=1)

#Drop the "datetime" columns
hv.drop('datetime', axis=1, inplace=True)
h2.drop('datetime', axis=1, inplace=True)

# Now df1 and df2 have the same datetime index and can be joined or aligned
# by joining on the index
hv_aligned = hv.merge(h2,left_index=True, right_index=True, how="inner")

print("aligned",hv_aligned)
print(hv_aligned.describe())

                           Date          Time  Elapsed time  VMon1  VMon2  \
datetime
2023-02-24 11:36:54  24/02/2023  11:36:53.726         0.000    0.0   0.08
2023-02-24 11:36:55  24/02/2023  11:36:54.894         1.168    0.0   0.08
2023-02-24 11:36:56  24/02/2023  11:36:56.075         2.349    0.0   0.08
2023-02-24 11:36:57  24/02/2023  11:36:57.243         3.517    0.0   0.08
2023-02-24 11:37:03  24/02/2023  11:37:02.563         8.837    0.0   0.08
...                         ...           ...           ...    ...    ...
2023-02-24 17:18:29  24/02/2023  17:18:29.048     20495.322    0.0   0.06
2023-02-24 17:18:30  24/02/2023  17:18:30.261     20496.535    0.0   0.06
2023-02-24 17:18:32  24/02/2023  17:18:31.506     20497.780    0.0   0.06
2023-02-24 17:18:33  24/02/2023  17:18:32.709     20498.983    0.0   0.06
2023-02-24 17:18:34  24/02/2023  17:18:33.924     20500.198    0.0   0.06

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2023-02-24 11:36:54   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:36:55   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:36:56   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:36:57   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:37:03   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
...                    ...    ...    ...    ...    ...  ...     ...     ...
2023-02-24 17:18:29   0.04   0.08    0.0    0.0    0.0  ...  0.0776  0.1415
2023-02-24 17:18:30   0.04   0.08    0.0    0.0    0.0  ...  0.0776  0.1415
2023-02-24 17:18:32   0.04   0.08    0.0    0.0    0.0  ...  0.0776  0.1415
2023-02-24 17:18:33   0.04   0.08    0.0    0.0    0.0  ...  0.0776  0.1415
2023-02-24 17:18:34   0.04   0.08    0.0    0.0    0.0  ...  0.0776  0.1415

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2023-02-24 11:36:54 -0.0148  0.0142 -0.0066 -0.0157      NaN  8.010000e-08
2023-02-24 11:36:55 -0.0148  0.0142 -0.0066 -0.0157      NaN  8.010000e-08
2023-02-24 11:36:56 -0.0148  0.0142 -0.0066 -0.0157      NaN  8.010000e-08
2023-02-24 11:36:57 -0.0148  0.0142 -0.0066 -0.0157      NaN  8.010000e-08
2023-02-24 11:37:03 -0.0148  0.0142 -0.0066 -0.0152      NaN  4.200000e-09
...                     ...     ...     ...     ...      ...           ...
2023-02-24 17:18:29  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:30  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:32  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:33  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:34  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09

                             I_em                    datetime
datetime
2023-02-24 11:36:54 -1.970000e-08  2023-02-24 11:36:53.726000
2023-02-24 11:36:55 -1.970000e-08  2023-02-24 11:36:54.894000
2023-02-24 11:36:56 -1.970000e-08  2023-02-24 11:36:56.075000
2023-02-24 11:36:57 -1.970000e-08  2023-02-24 11:36:57.243000
2023-02-24 11:37:03  1.800000e-09  2023-02-24 11:37:02.563000
...                           ...                         ...
2023-02-24 17:18:29  1.064000e-07  2023-02-24 17:18:29.048000
2023-02-24 17:18:30  1.064000e-07  2023-02-24 17:18:30.261000
2023-02-24 17:18:32  1.064000e-07  2023-02-24 17:18:31.506000
2023-02-24 17:18:33  1.064000e-07  2023-02-24 17:18:32.709000
2023-02-24 17:18:34  1.064000e-07  2023-02-24 17:18:33.924000

[16876 rows x 23 columns]
aligned                            Date          Time  Elapsed time  VMon1  VMon2  \
datetime
2023-02-24 11:36:58  24/02/2023  11:36:57.243         3.517    0.0   0.08
2023-02-24 11:37:03  24/02/2023  11:37:02.563         8.837    0.0   0.08
2023-02-24 11:37:08  24/02/2023  11:37:08.555        14.829    0.0   0.08
2023-02-24 11:37:13  24/02/2023  11:37:13.585        19.859    0.0   0.08
2023-02-24 11:37:18  24/02/2023  11:37:18.581        24.855    0.0   0.08
...                         ...           ...           ...    ...    ...
2023-02-24 17:18:04  24/02/2023  17:18:04.663     20470.937    0.0   0.06
2023-02-24 17:18:09  24/02/2023  17:18:09.563     20475.837    0.0   0.06
2023-02-24 17:18:14  24/02/2023  17:18:14.477     20480.751    0.0   0.06
2023-02-24 17:18:19  24/02/2023  17:18:19.378     20485.652    0.0   0.06
2023-02-24 17:18:24  24/02/2023  17:18:24.216     20490.490    0.0   0.06

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2023-02-24 11:36:58   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:37:03   0.04   0.12    0.0    0.0    0.0  ... -0.0150 -0.0251
2023-02-24 11:37:08   0.04   0.12    0.0    0.0    0.0  ... -0.0159  0.0002
2023-02-24 11:37:13   0.04   0.10    0.0    0.0    0.0  ... -0.0159  0.0081
2023-02-24 11:37:18   0.04   0.10    0.0    0.0    0.0  ... -0.0159  0.0081
...                    ...    ...    ...    ...    ...  ...     ...     ...
2023-02-24 17:18:04   0.04   0.08    0.0    0.0    0.0  ...  0.0781  0.1415
2023-02-24 17:18:09   0.04   0.08    0.0    0.0    0.0  ...  0.0781  0.1415
2023-02-24 17:18:14   0.04   0.08    0.0    0.0    0.0  ...  0.0781  0.1415
2023-02-24 17:18:19   0.04   0.08    0.0    0.0    0.0  ...  0.0781  0.1415
2023-02-24 17:18:24   0.04   0.08    0.0    0.0    0.0  ...  0.0781  0.1415

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2023-02-24 11:36:58 -0.0148  0.0142 -0.0066 -0.0157      NaN  8.010000e-08
2023-02-24 11:37:03 -0.0148  0.0142 -0.0066 -0.0152      NaN  4.200000e-09
2023-02-24 11:37:08  0.0009  0.0142 -0.0066 -0.0149      NaN  6.200000e-09
2023-02-24 11:37:13  0.0002  0.0142 -0.0066 -0.0149      NaN  1.310000e-08
2023-02-24 11:37:18  0.0000  0.0142 -0.0066 -0.0149      NaN  1.160000e-08
...                     ...     ...     ...     ...      ...           ...
2023-02-24 17:18:04  0.0368  0.0774 -0.0013 -0.0165      NaN -4.000000e-09
2023-02-24 17:18:09  0.0368  0.0774 -0.0013 -0.0165      NaN -2.900000e-09
2023-02-24 17:18:14  0.0368  0.0774 -0.0013 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:19  0.0368  0.0774 -0.0013 -0.0165      NaN -2.800000e-09
2023-02-24 17:18:24  0.0368  0.0774 -0.0014 -0.0165      NaN -2.800000e-09

                             I_em   Ion current
datetime
2023-02-24 11:36:58 -1.970000e-08  1.024900e-09
2023-02-24 11:37:03  1.800000e-09  1.030810e-09
2023-02-24 11:37:08  8.700000e-09  1.037050e-09
2023-02-24 11:37:13  8.200000e-09  1.046720e-09
2023-02-24 11:37:18  8.200000e-09  1.056070e-09
...                           ...           ...
2023-02-24 17:18:04  1.064000e-07  9.344900e-12
2023-02-24 17:18:09  1.064000e-07  9.321300e-12
2023-02-24 17:18:14  1.064000e-07  9.314800e-12
2023-02-24 17:18:19  1.064000e-07  9.326600e-12
2023-02-24 17:18:24  1.064000e-07  9.342800e-12

[4119 rows x 23 columns]
       Elapsed time        VMon1        VMon2        VMon3        VMon4  \
count   4119.000000  4119.000000  4119.000000  4119.000000  4119.000000
mean   10248.115220   126.412265    58.917266   588.396596   588.499364
std     5915.907169   217.136101    49.212308   492.005825   492.062207
min        3.517000     0.000000     0.000000     0.000000     0.000000
25%     5127.353500     0.000000     0.080000     0.060000     0.100000
50%    10248.135000     0.060000   100.060000  1000.060000  1000.200000
75%    15370.475500   499.900000   100.080000  1000.080000  1000.220000
max    20490.490000   500.020000   100.180000  1000.140000  1000.240000

             VMon5        VMon6   VMon7        VMon8        IMon1  \
count  4119.000000  4119.000000  4119.0  4119.000000  4119.000000
mean    588.209765   294.070639     0.0     0.009925    -0.164324
std     492.146766   246.044293     0.0     0.010001     0.251096
min       0.000000     0.000000     0.0     0.000000    -0.585600
25%       0.000000     0.000000     0.0     0.000000    -0.486450
50%    1000.160000   499.960000     0.0     0.000000     0.010000
75%    1000.160000   499.980000     0.0     0.020000     0.014400
max    1000.360000   500.060000     0.0     0.020000     0.529000

             IMon2        IMon3        IMon4        IMon5        IMon6  \
count  4119.000000  4119.000000  4119.000000  4119.000000  4119.000000
mean      1.252583     7.285515     7.302730     7.276381     7.283541
std       1.732103     6.162939     6.170011     6.165135     6.159939
min      -3.236600    -1.007100    -0.981300    -1.004200    -0.468500
25%       0.012000     0.013200     0.013100     0.006400     0.015300
50%       0.023300    11.211300    11.234900    11.206700    11.211300
75%       3.472900    12.796000    12.826600    12.793300    12.796400
max       4.060000    14.104400    14.107000    14.074200    14.089600

             IMon7        IMon8       hv_grid          I_em   Ion current
count  4119.000000  4119.000000  4.119000e+03  4.119000e+03  4.119000e+03
mean     -0.001398    -0.013653 -1.643239e-07  1.252583e-06  8.394687e-11
std       0.001946     0.001486  2.510961e-07  1.732103e-06  1.433451e-10
min      -0.007000    -0.019400 -5.856000e-07 -3.236600e-06  9.314800e-12
25%      -0.002700    -0.014400 -4.864500e-07  1.200000e-08  1.766485e-11
50%      -0.001200    -0.013500  1.000000e-08  2.330000e-08  3.507500e-11
75%       0.000000    -0.012600  1.440000e-08  3.472900e-06  8.727315e-11
max       0.003000    -0.009800  5.290000e-07  4.060000e-06  1.098640e-09

### Cut away the starting part from datasets

In [10]:
#cut the hv_aligned dataframe to throw out RGA digitizer range change between 4000-5000s

cut_hv = hv_aligned.loc[hv_aligned["Elapsed time"] >= 5100]
#cut the mid and time dataframes

cut_time = time.loc[time['Elapsed time, mass 2'] >= 5095]
#print(cut_time)

#slicing mid to match time ["Elapsed time, mass 2']:
# Slice x using the index of y
cut_mid = mid.loc[cut_time.index, :]

# #remove the spike in emission current between elapsed time[1335:1367]
# spike = cut_hv[cut_hv["Elapsed time"].between(1335,1367)]
# print(cut_hv)
# #find indexes that correspond to these values
# #cut_hv.drop(cut_hv.loc[spike.index],inplace=True, axis=0)
# cut_hv = cut_hv.loc[(cut_hv.index < '2023-1-16 15:51:53') | (cut_hv.index > '2023-01-16 15:52:24')]
# print(cut_hv)

### Using linear regression, remove the pressure decrease from pumping

In [11]:
# Load the data
t = cut_time["Elapsed time, mass 2"]
print(t.describe())
I_ion = cut_hv["Ion current"]
print(I_ion.describe())
#The function for the ion current-time relationship is not known. 
#numpy method for creating a polynomial model
model = np.poly1d(np.polyfit(t, I_ion, 8))

# Print the original function
plt.figure(figsize=(12,6))
plt.plot(t, I_ion)

# Add labels and title
plt.xlabel('time (s)')
plt.ylabel('Ion current')
plt.title('Ion current vs time')

plt.yscale("log")
plt.show()

count     3095.000000
mean     12790.729000
std       4444.735897
min       5095.951000
25%       8943.340000
50%      12790.729000
75%      16638.118000
max      20485.507000
Name: Elapsed time, mass 2, dtype: float64
count    3.095000e+03
mean     3.221373e-11
std      2.198206e-11
min      9.314800e-12
25%      1.541650e-11
50%      2.484320e-11
75%      4.088540e-11
max      1.000140e-10
Name: Ion current, dtype: float64

In [12]:
#testing and plotting

# Define the range of positions to plot
x = np.linspace(5095.951000, 19700, 3095)


# Plot the function
plt.figure(figsize=(12,6))
plt.plot(x, model(x))

# Add labels and title
plt.xlabel('time (s)')
plt.ylabel('Ion current')
plt.title('Ion current vs time')

plt.yscale("log")
plt.show()

In [13]:
#subtract fitted data from real data
I_norm = I_ion/model(x)

# Plot the normalised ion current
plt.figure(figsize=(12,6))
plt.plot(t, I_norm)

# Add labels and title
plt.xlabel('time (s)')
plt.ylabel('normalised ion current (a.u.)')
plt.title('Ion current vs time')

plt.yscale("linear")
plt.show()

In [14]:
#find the middle of the desorption peaks
esd = cut_hv[cut_hv["Elapsed time"].between(10370,19530)]

#find the average of base ion current
base_I_ion = esd["Ion current"].mean()
print(base_I_ion)

#multiply normalised ion current by average of base ion current
I_ion_corr = I_norm*base_I_ion
print(I_ion_corr)

# Plot the result
plt.figure(figsize=(12,6))
plt.plot(t, I_ion_corr)

# Add labels and title
plt.xlabel('Time (s)')
plt.ylabel('Corrected H2 ion current (A)')
plt.title('Ion current vs time')

plt.yscale("linear")
plt.show()

2.0392717544812592e-11
datetime
2023-02-24 13:01:54    2.061916e-11
2023-02-24 13:01:59    2.063131e-11
2023-02-24 13:02:04    2.061804e-11
2023-02-24 13:02:09    2.061902e-11
2023-02-24 13:02:14    2.060931e-11
                           ...
2023-02-24 17:18:04    1.788213e-11
2023-02-24 17:18:09    1.785083e-11
2023-02-24 17:18:14    1.785226e-11
2023-02-24 17:18:19    1.788882e-11
2023-02-24 17:18:24    1.793390e-11
Name: Ion current, Length: 3095, dtype: float64

In [15]:
#add the new values to cut_hv dataframe
cut_hv.insert(23, "Corrected ion current", I_ion_corr)

--------------------------------------------------------------------

### Conversion from H2 ion current to partial pressure:

In [16]:
#Filtering background signal for resampled data

#take a mass with a signal known to be in the background as a definition of electronic noise
#Ignored because has negligeable impact (~1%)
#elec_bck = np.mean(mid["mass 5.5_value"])

# take the Ion current of H2 channel before emission start as a reference to base pressure:
#get the rows where there was no emission, before electron activity
res1 = cut_hv.loc[cut_hv["Comment"]=="electron activity"]
res2 = cut_hv.loc[cut_hv["Comment"]=="grid transparent"]

pre_EM = cut_hv.loc[cut_hv["Elapsed time"] <= res1["Elapsed time"][0]]

print(pre_EM.describe())

       Elapsed time       VMon1       VMon2       VMon3       VMon4  \
count    442.000000  442.000000  442.000000  442.000000  442.000000
mean    6197.439896   11.201131    1.574118   11.306290   10.585928
std      635.396903   73.111359   11.920434  101.628439   98.107561
min     5100.462000    0.000000    0.080000    0.000000    0.000000
25%     5648.226750    0.000000    0.080000    0.060000    0.100000
50%     6197.995000    0.000000    0.080000    0.060000    0.100000
75%     6745.953000    0.000000    0.080000    0.060000    0.100000
max     7294.240000  499.900000  100.180000  999.760000  999.760000

            VMon5       VMon6  VMon7  VMon8       IMon1  ...       IMon3  \
count  442.000000  442.000000  442.0  442.0  442.000000  ...  442.000000
mean     4.120452    4.573891    0.0    0.0    0.012434  ...    0.101103
std     57.430679   46.209509    0.0    0.0    0.031407  ...    0.745064
min      0.000000    0.000000    0.0    0.0    0.008700  ...    0.010500
25%      0.000000    0.000000    0.0    0.0    0.009900  ...    0.011700
50%      0.000000    0.000000    0.0    0.0    0.010000  ...    0.013700
75%      0.000000    0.000000    0.0    0.0    0.010600  ...    0.014400
max    999.660000  499.800000    0.0    0.0    0.529000  ...    8.366900

            IMon4       IMon5       IMon6       IMon7       IMon8  \
count  442.000000  442.000000  442.000000  442.000000  442.000000
mean     0.097138    0.084939    0.087000   -0.002279   -0.014028
std      0.727988    0.693189    0.652623    0.000725    0.000873
min      0.010200    0.004800    0.014800   -0.003700   -0.019400
25%      0.012300    0.006300    0.015900   -0.002900   -0.014200
50%      0.013000    0.006800    0.016400   -0.002200   -0.014000
75%      0.013200    0.007300    0.016900   -0.001700   -0.013600
max      8.357800    8.345000    8.338900   -0.000700   -0.012300

            hv_grid          I_em   Ion current  Corrected ion current
count  4.420000e+02  4.420000e+02  4.420000e+02           4.420000e+02
mean   1.243439e-08  3.925973e-08  7.639668e-11           2.009542e-11
std    3.140700e-08  2.690422e-07  1.229021e-11           1.716118e-13
min    8.700000e-09  7.000000e-09  5.765430e-11           1.994991e-11
25%    9.900000e-09  1.110000e-08  6.557515e-11           1.998118e-11
50%    1.000000e-08  1.200000e-08  7.515900e-11           2.001243e-11
75%    1.060000e-08  1.280000e-08  8.664725e-11           2.015862e-11
max    5.290000e-07  3.974900e-06  1.000140e-10           2.063131e-11

[8 rows x 21 columns]

In [17]:
dyn_bck = np.quantile(pre_EM["Corrected ion current"],0.25)
print(dyn_bck)

#apply background corrections 
#NB! replace hv_aligned["Ion current"] with 
cut_hv["mass 2 corr"] = cut_hv["Corrected ion current"] - dyn_bck #- static bck
#remove values below 0:
cut_hv["mass 2 corr"].clip(0, inplace=True)
print(cut_hv.head())

# Plot the result
plt.figure(figsize=(12,6))
plt.plot(t, cut_hv["mass 2 corr"])

# Add labels and title
plt.xlabel('Time (s)')
plt.ylabel('Background subtracted H2 ion current (A)')
plt.title('H2 Ion current vs time')
plt.xlim(10000,20000)
plt.yscale("linear")
plt.show()

1.998117697157342e-11
                           Date          Time  Elapsed time  VMon1  VMon2  \
datetime
2023-02-24 13:01:54  24/02/2023  13:01:54.188      5100.462    0.0   0.08
2023-02-24 13:01:59  24/02/2023  13:01:59.059      5105.333    0.0   0.08
2023-02-24 13:02:04  24/02/2023  13:02:03.952      5110.226    0.0   0.08
2023-02-24 13:02:09  24/02/2023  13:02:08.839      5115.113    0.0   0.08
2023-02-24 13:02:14  24/02/2023  13:02:13.735      5120.009    0.0   0.08

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...  IMon5   IMon6  \
datetime                                                ...
2023-02-24 13:01:54   0.06    0.1    0.0    0.0    0.0  ...  0.006  0.0148
2023-02-24 13:01:59   0.06    0.1    0.0    0.0    0.0  ...  0.006  0.0148
2023-02-24 13:02:04   0.06    0.1    0.0    0.0    0.0  ...  0.006  0.0148
2023-02-24 13:02:09   0.06    0.1    0.0    0.0    0.0  ...  0.006  0.0148
2023-02-24 13:02:14   0.06    0.1    0.0    0.0    0.0  ...  0.006  0.0148

                      IMon7  IMon8  Comment       hv_grid          I_em  \
datetime
2023-02-24 13:01:54 -0.0022 -0.013      NaN  1.240000e-08  1.350000e-08
2023-02-24 13:01:59 -0.0022 -0.013      NaN  1.240000e-08  1.350000e-08
2023-02-24 13:02:04 -0.0022 -0.013      NaN  1.240000e-08  1.350000e-08
2023-02-24 13:02:09 -0.0020 -0.013      NaN  1.240000e-08  1.350000e-08
2023-02-24 13:02:14 -0.0020 -0.013      NaN  1.240000e-08  1.350000e-08

                      Ion current  Corrected ion current   mass 2 corr
datetime
2023-02-24 13:01:54  1.000140e-10           2.061916e-11  6.379829e-13
2023-02-24 13:01:59  9.997160e-11           2.063131e-11  6.501291e-13
2023-02-24 13:02:04  9.980600e-11           2.061804e-11  6.368660e-13
2023-02-24 13:02:09  9.970930e-11           2.061902e-11  6.378404e-13
2023-02-24 13:02:14  9.956090e-11           2.060931e-11  6.281312e-13

[5 rows x 25 columns]

C:\Users\etiirine\AppData\Local\Temp\ipykernel_4564\1141486248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cut_hv["mass 2 corr"] = cut_hv["Corrected ion current"] - dyn_bck #- static bck
C:\Users\etiirine\AppData\Local\Temp\ipykernel_4564\1141486248.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cut_hv["mass 2 corr"].clip(0, inplace=True)

In [18]:
#From the signal, get the partial pressures 
h2_sens = 2.13e-3 #[A/mbar] approximation for faraday mode
p_h2_ip = cut_hv["mass 2 corr"]/(h2_sens*0.46) #H2 equivalent pressures


#account for the thermal transpiration factor (electrons thermalising to RT)
T2 = 4.2
T1 = 295.5
T_coef = np.sqrt(T2/T1)
p_h2_ip = p_h2_ip*T_coef

In [19]:
#insert partial pressures into the dataframe
cut_hv.insert(22,"hydrogen pp",p_h2_ip)
cut_hv.fillna(0,inplace=True)

cut_hv["hydrogen pp"].describe()

C:\Users\etiirine\AppData\Local\Temp\ipykernel_4564\3320292978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cut_hv.fillna(0,inplace=True)

count    3.095000e+03
mean     2.934376e-11
std      7.403668e-11
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      8.814219e-12
max      3.188494e-10
Name: hydrogen pp, dtype: float64

In [20]:
#calculation delta_p-s
#dp1 = (np.mean(p_h2)-np.mean(base_h2))*100
#print(dp1)

#Constants
k_B = 1.38e-23
T = 295.5
q_e = 1.6e-19
c_h2 = 37.91/1000
s_h2=42/1000
x_h2=1/((1/c_h2)+(1/s_h2))
print(x_h2)
#Conductance for CO in m3/s
c_co=10.13/1000
c_co2 = 8.08/1000
#Emission current
#averaging
I_em = np.nanmean(hv["I_em"].nlargest(30))
print(I_em)

0.01992516581153798
4.033596666666666e-06

## H2 Desorption yield point-by-point

$$
\eta=\frac{C_{H2}\cdot (p_{n,EM} - \overline{p}_{base}) \cdot q_e}{k_B\cdot T \cdot I_{n}}
$$

In [21]:
#partial pressure delta
#Wrong methodology below. Need to subtract p_duringEM form p_base, noEM
#p_delta = hv_aligned["hydrogen pp"].diff(periods=1).fillna(hv_aligned["hydrogen pp"])*100 #conversion to Pa
#p_delta = p_delta.clip(lower=0)

#Correct methodology
#for base pressure, use pre_EM datapoints
pre_EM_corr = cut_hv.loc[cut_hv["Elapsed time"] <= res1["Elapsed time"][0]]

mean_pbase = np.mean(pre_EM_corr["hydrogen pp"])
print(mean_pbase)

EM = cut_hv.loc[cut_hv["Elapsed time"] >= res2["Elapsed time"][0]]
p_delta = (EM["hydrogen pp"] - mean_pbase)*100 #mbar to Pa
p_delta.clip(0, inplace=True)
print(p_delta)

1.4229989370731008e-11
datetime
2023-02-24 14:30:17    0.000000e+00
2023-02-24 14:30:22    2.993355e-09
2023-02-24 14:30:27    8.296487e-09
2023-02-24 14:30:31    1.274449e-08
2023-02-24 14:30:36    1.602122e-08
                           ...
2023-02-24 17:18:04    0.000000e+00
2023-02-24 17:18:09    0.000000e+00
2023-02-24 17:18:14    0.000000e+00
2023-02-24 17:18:19    0.000000e+00
2023-02-24 17:18:24    0.000000e+00
Name: hydrogen pp, Length: 2029, dtype: float64

In [22]:
#constants are already defined
#emission current and H2 partial pressures are now available at the same sampling rates
I_n = EM["I_em"].replace(0, np.nan)

#pd.df.where(cond= "Where cond is True, keep the original value. Otherwise, replace with NaN")
I_n.where(EM["I_em"] >= 9e-7, np.nan, inplace=True) #--- this will cause minor misalignment if NaNs are thrown away
I_n.dropna(inplace=True)
print(I_n.describe())

eta = ((x_h2*p_delta*q_e)/(k_B*T*I_n)).dropna()
#ignore first row to match "i" dataset
eta = eta.loc[eta.index[1]:]

#eta = eta
print("desorption yields point-by-point:","\n", eta)

count    1.384000e+03
mean     3.676246e-06
std      2.062450e-07
min      3.114000e-06
25%      3.472250e-06
50%      3.636650e-06
75%      3.878600e-06
max      4.060000e-06
Name: I_em, dtype: float64
desorption yields point-by-point:
 datetime
2023-02-24 14:30:22    0.000709
2023-02-24 14:30:27    0.001969
2023-02-24 14:30:31    0.003026
2023-02-24 14:30:36    0.003809
2023-02-24 14:30:41    0.004505
                         ...
2023-02-24 16:58:30    0.005064
2023-02-24 16:58:35    0.004879
2023-02-24 16:58:40    0.004907
2023-02-24 16:58:45    0.004948
2023-02-24 16:58:50    0.004712
Length: 1383, dtype: float64

In [23]:
#slicing eta to match hv_aligned["Elapsed time"]:
# Slice x using the index of y
hv_downsampled = hv_aligned.loc[eta.index, :]
hv_downsampled.describe()

,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,VMon8,IMon1,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,hv_grid,I_em,Ion current
count,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1383.0,1.383000e+03,1383.000000,1383.000000,1383.00000,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1.383000e+03,1.383000e+03,1.383000e+03
mean,14047.059659,0.153348,100.077209,1000.075329,1000.216240,1000.168445,499.988547,0.0,2.000000e-02,-0.514178,3.676506,12.79898,12.823967,12.795684,12.795791,0.000184,-0.012789,-5.141775e-07,3.676506e-06,2.300762e-11
std,2344.199094,2.110417,0.012433,0.009404,0.012468,0.009882,0.012484,0.0,3.609530e-16,0.044309,0.206093,0.62603,0.626062,0.631182,0.627752,0.000986,0.001024,4.430944e-08,2.060931e-07,6.930986e-12
min,10408.607000,0.040000,100.000000,1000.040000,1000.180000,1000.160000,499.960000,0.0,2.000000e-02,-0.585600,3.114000,11.69200,11.715400,11.685100,11.690400,-0.001600,-0.014900,-5.856000e-07,3.114000e-06,1.186790e-11
25%,12126.395500,0.060000,100.060000,1000.060000,1000.200000,1000.160000,499.980000,0.0,2.000000e-02,-0.544250,3.472300,12.24225,12.269250,12.236150,12.239500,-0.000500,-0.013400,-5.442500e-07,3.472300e-06,1.732300e-11
50%,13845.292000,0.060000,100.080000,1000.080000,1000.220000,1000.160000,499.980000,0.0,2.000000e-02,-0.508100,3.636700,12.72830,12.754800,12.721000,12.725000,0.000200,-0.013000,-5.081000e-07,3.636700e-06,2.127850e-11
75%,15563.654500,0.080000,100.080000,1000.080000,1000.220000,1000.180000,500.000000,0.0,2.000000e-02,-0.486300,3.878600,13.28540,13.311750,13.279550,13.278550,0.000900,-0.012200,-4.863000e-07,3.878600e-06,2.861800e-11
max,19316.045000,60.340000,100.120000,1000.100000,1000.240000,1000.180000,500.020000,0.0,2.000000e-02,0.345300,4.060000,14.10440,14.107000,14.074200,14.089600,0.003000,-0.009800,3.453000e-07,4.060000e-06,3.886650e-11

## Electron dose

Find:

$$
Q = \int_{t_1}^{t_2} I \,dt
$$

Where $t_2$ and $t_1$ are the timestamps at which an emission current reading was taken

In [24]:
#Integrating the emission current

def integrand(t, i):
    return i*t

i = I_n.dropna().reset_index() 

#for testing:
#t2_2 = (hv_aligned["Elapsed time"].diff(periods=1).fillna(0))

#adding an elapsed time column
timestamp3=[]
for j in hv["Time"]:
    timestamp3.append(j)
    
#making the column into a datetime object
timestamps3=pd.to_datetime(i["datetime"],format="%H:%M:%S")
runtime3=(timestamps3-timestamps3[0]).dt.total_seconds()    
i.insert(2,"Elapsed time",runtime3)

#define the n, n-1 difference in a variable "t2"
t2 = (i["Elapsed time"].diff(periods=1).fillna(0))

#replace all values from t2 that are further away than 50% of the median (.. > 9) with the median value
t2.where(t2 <= 12,6,inplace=True)
print(t2)

#integration
ar = []
for x in t2:
    itr = 0
    I = quad(integrand, 0, x, args=(i["I_em"][itr]))
    ar.append(I[0])
    itr += 1
    #if previous value was not NaN, replace the value with the median of elapsed time
    #if

0       0.0
1       5.0
2       5.0
3       4.0
4       5.0
       ...
1379    5.0
1380    5.0
1381    5.0
1382    5.0
1383    5.0
Name: Elapsed time, Length: 1384, dtype: float64

In [25]:
#calculate the cumulative charge
Q_cumul = np.cumsum(ar)
Q_sum = sum(ar)
print("Total charge emitted from EGA during ~5000 seconds:", f"{Q_sum:.4E}", "C")

#cumulative nr of electrons emitted
N_e = Q_sum/1.6e-19
Ne_cumul = Q_cumul/1.6e-19
print("Total number of electron emitted during ~5000 seconds:", f"{N_e:.4E}", "e")
      
#To get the electron dose, divide n of electrons by sample surface area of 276 cm2, multiply by grid transmittance of 0.9
tot_dose = (N_e/276)*0.9
cumul_dose = (Ne_cumul/276)*0.9
print("Total electron dose on the sample ~5000 seconds:", f"{tot_dose:.4E}", "e-/cm^2")
      
#add these to the "i" dataframe:
i.insert(3,"Cumulative charge", Q_cumul)
i.insert(4,"Cumulative n. of electrons emitted from EGA", Ne_cumul)
i.insert(5,"Cumulative electron dose on the HL sample", cumul_dose)
i.set_index("datetime", drop=True, inplace=True)

#Ignore the first value, also, match the shape of eta
i = i.loc[i.index[1]:]
print(i)

Total charge emitted from EGA during ~5000 seconds: 5.6843E-02 C
Total number of electron emitted during ~5000 seconds: 3.5527E+17 e
Total electron dose on the sample ~5000 seconds: 1.1585E+15 e-/cm^2
                         I_em  Elapsed time  Cumulative charge  \
datetime
2023-02-24 14:30:22  0.000003           5.0           0.000041
2023-02-24 14:30:27  0.000003          10.0           0.000083
2023-02-24 14:30:31  0.000003          14.0           0.000109
2023-02-24 14:30:36  0.000003          19.0           0.000151
2023-02-24 14:30:41  0.000003          24.0           0.000192
...                       ...           ...                ...
2023-02-24 16:58:30  0.000004        8893.0           0.056678
2023-02-24 16:58:35  0.000004        8898.0           0.056719
2023-02-24 16:58:40  0.000004        8903.0           0.056761
2023-02-24 16:58:45  0.000004        8908.0           0.056802
2023-02-24 16:58:50  0.000004        8913.0           0.056843

                     Cumulative n. of electrons emitted from EGA  \
datetime
2023-02-24 14:30:22                                 2.591484e+14
2023-02-24 14:30:27                                 5.182969e+14
2023-02-24 14:30:31                                 6.841519e+14
2023-02-24 14:30:36                                 9.433003e+14
2023-02-24 14:30:41                                 1.202449e+15
...                                                          ...
2023-02-24 16:58:30                                 3.542352e+17
2023-02-24 16:58:35                                 3.544943e+17
2023-02-24 16:58:40                                 3.547535e+17
2023-02-24 16:58:45                                 3.550126e+17
2023-02-24 16:58:50                                 3.552718e+17

                     Cumulative electron dose on the HL sample
datetime
2023-02-24 14:30:22                               8.450493e+11
2023-02-24 14:30:27                               1.690099e+12
2023-02-24 14:30:31                               2.230930e+12
2023-02-24 14:30:36                               3.075979e+12
2023-02-24 14:30:41                               3.921029e+12
...                                                        ...
2023-02-24 16:58:30                               1.155115e+15
2023-02-24 16:58:35                               1.155960e+15
2023-02-24 16:58:40                               1.156805e+15
2023-02-24 16:58:45                               1.157650e+15
2023-02-24 16:58:50                               1.158495e+15

[1383 rows x 5 columns]

## Electron energies

In [26]:
#getting electron energies for plotting

# Plotting

In [27]:
#plot the aligned dataframe results

plt.figure(figsize=(12,6))
plt.plot(cut_hv["Elapsed time"],cut_hv["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.plot(cut_hv["Elapsed time"],cut_hv["I_em"],linestyle="-",marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 2e18 M pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [28]:
#plot the h2 mid 
#seems to be too little rows?

plt.figure(figsize=(12,6))
plt.plot(cut_hv["Elapsed time"],cut_hv["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(loc="upper right")
plt.title("Ion current evolution of H2, 7e18 M pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('linear')

In [36]:
#Plotting the all the relevant MID spectrums
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M12')
plt.plot(time['Elapsed time, mass 15'],mid["mass 15.0_value"],marker=".", markersize=4,label='M15')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID scan 7e18 M pre-injection, EGA fully in, dynamic vacuum")

plt.yscale('log')

In [37]:
#Plotting the baseline mid
plt.figure(figsize=(14,8))
plt.plot(basel["Mass"],basel["Ion current"],marker=".", markersize=4,label='')
plt.xlabel('Atomic masses (a.m.u)')
plt.ylabel('Ion current (A)')
plt.title("M1-M100 Baseline scan 7e18 M pre-injection, EGA fully in, dynamic vacuum")

plt.yscale('log')

In [31]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["I_em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 7e18 M pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [32]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution 7e18 M pre-injection, EGA fully in, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [33]:
# Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("Temperature evolution 7e18 M pre-injection, EGA fully in, dynamic vacuum")
plt.yscale('linear')

In [34]:
#plotting point-by-point eta
plt.figure(figsize=(10,6))
plt.plot(hv_downsampled["Elapsed time"],eta,marker=".", markersize=4,label='eta')
#plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Electon stimulated desorption yield (M/el) 7e18 M pre-injection')
plt.legend()
plt.title("ESD vs time, p_n - p_n-1")
ax = plt.gca()
ax.set_yscale('log')
ax.grid(which="major",axis="x")
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [35]:
#plotting ESD vs electron dose
plt.figure(figsize=(10,6))
plt.plot(i["Cumulative electron dose on the HL sample"],eta,marker=".", markersize=4,label='eta')
#plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Electron dose (e/cm^2)')
plt.ylabel('ESD yield (M/el)')
plt.legend()
plt.title("Electron stimulated desorption yield vs electron dose")
ax = plt.gca()
ax.set_yscale('linear')
ax.grid(which="major",axis="both")
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()