In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
import math
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inlineb
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#reading the Emission current, pressures
vaclog=pd.read_csv("overnight warmup_series2", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,30/11/2022 18:44:35,7.0,0.49413,6.960000e-09,7.520000e-09,7.085000e-09,5.579000e-07,0.000607,262.0,-5.387,4287.525,NaN,NaN
2,NaN,30/11/2022 18:44:43,15.0,0.49457,0.000000e+00,0.000000e+00,6.704000e-09,5.579000e-07,0.000634,262.0,-5.275,4287.525,NaN,NaN
3,NaN,30/11/2022 18:44:50,22.0,0.49398,0.000000e+00,0.000000e+00,6.632000e-09,5.579000e-07,0.000623,262.0,-5.163,4287.749,NaN,NaN
4,NaN,30/11/2022 18:44:57,29.0,0.49351,0.000000e+00,0.000000e+00,6.467000e-09,5.579000e-07,0.000632,262.0,-5.387,4287.749,NaN,NaN
5,NaN,30/11/2022 18:45:04,36.0,0.49430,0.000000e+00,0.000000e+00,6.490000e-09,5.586000e-07,0.000634,262.0,-5.387,4287.413,NaN,NaN

In [3]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [4]:
#Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='Overnight warmup')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("28.11 cooldown temperatures")
plt.yscale('linear')