In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import math
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data

In [2]:
#read in the data
mid = pd.read_csv("MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())
#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
print(time.describe())
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,4,5.5,12,15,16,18,28,32,40,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)

#time["Elapsed time, mass 40"].describe()

       mass 2.0_value  mass 4.0_value  mass 5.5_value  mass 12.0_value  \
count    4.750000e+02    4.750000e+02    4.750000e+02     4.750000e+02
mean     6.074262e-11    7.404977e-13    1.090263e-13     3.230105e-13
std      5.055042e-12    1.499339e-13    2.920879e-14     1.572528e-14
min      5.738620e-11    2.220000e-14    4.800000e-15     2.494000e-13
25%      5.897690e-11    7.666500e-13    1.080000e-13     3.125500e-13
50%      6.004630e-11    7.731000e-13    1.165000e-13     3.227000e-13
75%      6.118575e-11    7.801500e-13    1.244500e-13     3.336500e-13
max      9.361100e-11    8.057000e-13    1.537000e-13     3.648000e-13

       mass 15.0_value  mass 16.0_value  mass 18.0_value  mass 28.0_value  \
count     4.750000e+02     4.750000e+02     4.750000e+02     4.750000e+02
mean      1.894705e-13     6.075733e-13     1.350917e-12     1.924619e-12
std       1.176345e-14     1.970131e-14     3.097804e-14     7.769109e-14
min       1.021000e-13     5.186000e-13     1.224400e-12     1.750400e-12
25%       1.820500e-13     5.960500e-13     1.331900e-12     1.858300e-12
50%       1.897000e-13     6.069000e-13     1.352500e-12     1.922900e-12
75%       1.968500e-13     6.201500e-13     1.371550e-12     1.985650e-12
max       2.257000e-13     6.702000e-13     1.431100e-12     2.093200e-12

       mass 32.0_value  mass 40.0_value  mass 44.0_value
count     4.750000e+02     4.750000e+02     4.740000e+02
mean      1.954739e-13     8.258989e-14     2.402895e-11
std       1.128644e-14     1.147940e-12     2.583884e-13
min       1.101000e-13     7.600000e-15     2.338120e-11
25%       1.885000e-13     2.430000e-14     2.386500e-11
50%       1.957000e-13     2.850000e-14     2.402620e-11
75%       2.025000e-13     3.360000e-14     2.418750e-11
max       2.262000e-13     2.504750e-11     2.499370e-11
                  mass 2.0_time            mass 4.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:31.367  2023/01/12 17:14:34.618
freq                          1                        1

                  mass 5.5_time           mass 12.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:34.868  2023/01/12 17:14:35.118
freq                          1                        1

                 mass 15.0_time           mass 16.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:35.369  2023/01/12 17:14:35.619
freq                          1                        1

                 mass 18.0_time           mass 28.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:35.869  2023/01/12 17:14:36.119
freq                          1                        1

                 mass 32.0_time           mass 40.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:36.369  2023/01/12 17:14:37.371
freq                          1                        1

                 mass 44.0_time
count                       474
unique                      474
top     2023/01/12 17:14:43.696
freq                          1

,mass 2.0_time,mass 4.0_time,mass 5.5_time,mass 12.0_time,mass 15.0_time,mass 16.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 40.0_time,...,"Elapsed time, mass 4","Elapsed time, mass 5.5","Elapsed time, mass 12","Elapsed time, mass 15","Elapsed time, mass 16","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 40","Elapsed time, mass 44"
2,2023/01/12 17:14:31.367,2023/01/12 17:14:34.618,2023/01/12 17:14:34.868,2023/01/12 17:14:35.118,2023/01/12 17:14:35.369,2023/01/12 17:14:35.619,2023/01/12 17:14:35.869,2023/01/12 17:14:36.119,2023/01/12 17:14:36.369,2023/01/12 17:14:37.371,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN
3,2023/01/12 17:14:37.692,2023/01/12 17:14:40.943,2023/01/12 17:14:41.193,2023/01/12 17:14:41.443,2023/01/12 17:14:41.694,2023/01/12 17:14:41.944,2023/01/12 17:14:42.194,2023/01/12 17:14:42.444,2023/01/12 17:14:42.694,2023/01/12 17:14:42.945,...,6.325,6.325,6.325,6.325,6.325,6.325,6.325,6.325,5.574,NaN
4,2023/01/12 17:14:44.017,2023/01/12 17:14:47.268,2023/01/12 17:14:47.518,2023/01/12 17:14:47.768,2023/01/12 17:14:48.019,2023/01/12 17:14:48.269,2023/01/12 17:14:48.519,2023/01/12 17:14:48.769,2023/01/12 17:14:49.019,2023/01/12 17:14:49.270,...,12.650,12.650,12.650,12.650,12.650,12.650,12.650,12.650,11.899,NaN
5,2023/01/12 17:14:50.342,2023/01/12 17:14:53.593,2023/01/12 17:14:53.843,2023/01/12 17:14:54.093,2023/01/12 17:14:54.344,2023/01/12 17:14:54.594,2023/01/12 17:14:54.844,2023/01/12 17:14:55.094,2023/01/12 17:14:55.344,2023/01/12 17:14:55.595,...,18.975,18.975,18.975,18.975,18.975,18.975,18.975,18.975,18.224,NaN
6,2023/01/12 17:14:56.667,2023/01/12 17:14:59.918,2023/01/12 17:15:00.168,2023/01/12 17:15:00.418,2023/01/12 17:15:00.669,2023/01/12 17:15:00.919,2023/01/12 17:15:01.169,2023/01/12 17:15:01.419,2023/01/12 17:15:01.669,2023/01/12 17:15:01.920,...,25.300,25.300,25.300,25.300,25.300,25.300,25.300,25.300,24.549,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,2023/01/12 18:04:07.119,2023/01/12 18:04:07.369,2023/01/12 18:04:07.619,2023/01/12 18:04:07.869,2023/01/12 18:04:08.119,2023/01/12 18:04:08.370,2023/01/12 18:04:08.620,2023/01/12 18:04:08.871,2023/01/12 18:04:09.121,2023/01/12 18:04:09.371,...,2972.751,2972.751,2972.751,2972.750,2972.751,2972.751,2972.752,2972.752,2972.000,NaN
473,2023/01/12 18:04:13.444,2023/01/12 18:04:13.694,2023/01/12 18:04:13.944,2023/01/12 18:04:14.194,2023/01/12 18:04:14.444,2023/01/12 18:04:14.695,2023/01/12 18:04:14.945,2023/01/12 18:04:15.195,2023/01/12 18:04:15.446,2023/01/12 18:04:15.696,...,2979.076,2979.076,2979.076,2979.075,2979.076,2979.076,2979.076,2979.077,2978.325,NaN
474,2023/01/12 18:04:19.769,2023/01/12 18:04:20.019,2023/01/12 18:04:20.269,2023/01/12 18:04:20.519,2023/01/12 18:04:20.769,2023/01/12 18:04:21.020,2023/01/12 18:04:21.270,2023/01/12 18:04:21.520,2023/01/12 18:04:21.771,2023/01/12 18:04:22.021,...,2985.401,2985.401,2985.401,2985.400,2985.401,2985.401,2985.401,2985.402,2984.650,NaN
475,2023/01/12 18:04:26.094,2023/01/12 18:04:26.344,2023/01/12 18:04:26.594,2023/01/12 18:04:26.844,2023/01/12 18:04:27.094,2023/01/12 18:04:27.345,2023/01/12 18:04:27.595,2023/01/12 18:04:27.845,2023/01/12 18:04:28.096,2023/01/12 18:04:28.346,...,2991.726,2991.726,2991.726,2991.725,2991.726,2991.726,2991.726,2991.727,2990.975,NaN
476,2023/01/12 18:04:32.419,2023/01/12 18:04:32.669,2023/01/12 18:04:32.919,2023/01/12 18:04:33.169,2023/01/12 18:04:33.419,2023/01/12 18:04:33.670,2023/01/12 18:04:33.920,2023/01/12 18:04:34.170,2023/01/12 18:04:34.421,2023/01/12 18:04:34.671,...,2998.051,2998.051,2998.051,2998.050,2998.051,2998.051,2998.051,2998.052,2997.300,NaN

In [3]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,12/01/2023 14:57:11,7.0,-0.014883,1.900000e-09,1.000000e-09,4.996000e-09,4.533000e-07,0.000572,235.0,-5.163,4249.702,NaN,NaN
2,NaN,12/01/2023 14:57:18,14.0,-0.015426,1.900000e-09,9.970000e-10,4.996000e-09,4.533000e-07,0.000571,235.0,-5.163,4250.039,NaN,NaN
3,NaN,12/01/2023 14:57:26,22.0,-0.014883,1.890000e-09,9.890000e-10,4.996000e-09,4.533000e-07,0.000606,235.0,-5.050,4250.264,NaN,NaN
4,NaN,12/01/2023 14:57:33,29.0,-0.017521,1.890000e-09,9.920000e-10,4.996000e-09,4.533000e-07,0.000569,234.0,-5.275,4250.039,NaN,NaN
5,NaN,12/01/2023 14:57:40,36.0,-0.018877,1.890000e-09,9.960000e-10,4.996000e-09,4.533000e-07,0.000569,235.0,-5.163,4250.488,NaN,NaN

In [25]:
#Reading in the HiVolta measurement file 
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
#hv["em"]=abs(hv["em"])
#hv["hv_grid"]=abs(hv["hv_grid"])
hv["datetime"] = pd.to_datetime(hv['Date'] + ' ' + hv['Time'],format="%d/%m/%Y %H:%M:%S.%f")
hv['datetime'] = hv['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S.%f')
#hv.insert(0,"datetime",hv["Date"]+" "+hv["Time"])

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)


hv.describe()

,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,VMon8,IMon1,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,hv_grid,em
count,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.0,2.481000e+03,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2481.000000,2.481000e+03,2.481000e+03
mean,1487.791979,212.279339,72.953027,728.300032,728.463926,723.878210,363.743700,0.0,4.000000e-02,-0.114518,0.859706,7.470603,7.488840,7.456813,7.469833,-0.018642,-0.012017,-1.145177e-07,8.597060e-07
std,861.175741,245.965490,44.432670,443.768193,443.703064,445.932542,222.301784,0.0,1.742013e-15,0.199254,1.298677,4.615580,4.622695,4.614935,4.610082,0.002558,0.001548,1.992544e-07,1.298677e-06
min,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000,0.000000,0.0,4.000000e-02,-0.767000,-3.783400,-3.089600,-2.613500,-1.718200,-0.643600,-0.022600,-0.015900,-7.670000e-07,-3.783400e-06
25%,741.750000,0.060000,0.120000,0.220000,0.200000,0.100000,0.060000,0.0,4.000000e-02,-0.385700,0.015100,0.025200,0.044800,0.025600,0.043500,-0.021000,-0.012600,-3.857000e-07,1.510000e-08
50%,1487.534000,0.160000,100.060000,1000.000000,1000.120000,1000.080000,499.960000,0.0,4.000000e-02,-0.001600,0.023100,10.048600,10.067500,10.031800,10.044000,-0.018800,-0.011700,-1.600000e-09,2.310000e-08
75%,2233.819000,499.940000,100.080000,1000.020000,1000.160000,1000.100000,499.980000,0.0,4.000000e-02,0.018600,2.628900,10.798600,10.820500,10.785500,10.795300,-0.017300,-0.010900,1.860000e-08,2.628900e-06
max,2973.988000,499.980000,100.180000,1000.080000,1000.200000,1000.220000,500.100000,0.0,4.000000e-02,0.529700,3.847100,11.187000,11.206700,11.171800,11.179300,-0.013200,-0.009800,5.297000e-07,3.847100e-06

### Injection pressure linearity

In [5]:
#defining a function for the straight line
def func(x,a,b):
    return a*x + b
#curve fit for the data
y = vaclog["injection 1mbar"].values
x = (vaclog["Elapsed time"]/3600).values
params, cov = curve_fit(func,x,y)
#straight line parameters
a, b = params
print(f"Fitted line: y = {a:.2f}*x+{b:.2f}")

Fitted line: y = -0.02*x+0.26

In [6]:
#checking inj pressure linearity, graph
fig, ax = plt.subplots()
y_fit = func(x,a,b)
ax.plot((vaclog["Elapsed time"]/3600),vaclog["injection 1mbar"],marker=".", markersize=5,label='inj volume pressure')
ax.plot((vaclog["Elapsed time"]/3600),y_fit, "--",color="red", label="Y= -ax + b fit") 
ax.legend(loc="upper right")

ax.set_xlabel('Elapsed time (h)')
ax.set_ylabel('Pressure (mbar)')
ax.set_yscale('linear')
plt.title("Injection pressure evolution 1mbar conductance gauge")

Text(0.5, 1.0, 'Injection pressure evolution 1mbar conductance gauge')

### Data processing

In [7]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [8]:
#Filtering background signal

#Find the timestamp where emission was turned on and off
print("Result 1:",hv.loc[hv["Comment"]=="grid transparent"])
print("Result 2:", hv.loc[hv["Comment"]=="grid repelling"])
print("Result 3:", hv.loc[hv["Comment"]=="electron activity grid repelling"])

x=pd.Timestamp(2023, 1, 12, 17 ,23, 58)
y=pd.Timestamp(2023, 1, 12, 17, 28, 43)
z=pd.Timestamp(2023, 1, 12, 17, 20, 13)
#then find the time value closest to it in the MID scan file 
print("\n","Result 4:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - x).abs().argsort(),:])
print("\n","Result 5:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - y).abs().argsort(),:])
print("\n","Result 6:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - z).abs().argsort(),:])

#take a mass with a signal known to be in the background
bck=np.mean(mid["mass 40.0_value"])

#apply background correction to the rest of the mass spectrum
mid["mass 2, corr"]=mid["mass 2.0_value"]-bck

 
#From the signal, get the partial pressures 
h2_sens=2.13e-2
p_h2=mid["mass 2, corr"][91:136]/h2_sens
print(p_h2.describe())

#baseline for partial pressure delta
base_h2=mid["mass 2, corr"][56:91]/h2_sens
base_h2.describe()

Result 1:             Date          Time  Elapsed time   VMon1   VMon2    VMon3  \
481   12/01/2023  17:23:58.050       575.690    0.30  100.00   999.98
482   12/01/2023  17:23:59.249       576.889    0.24  100.02   999.98
483   12/01/2023  17:24:00.477       578.117    0.18  100.04   999.98
484   12/01/2023  17:24:01.678       579.318    0.18  100.04   999.98
819   12/01/2023  17:30:43.081       980.721  219.06  100.08  1000.00
820   12/01/2023  17:30:44.276       981.916   88.10  100.00  1000.04
821   12/01/2023  17:30:45.471       983.111    0.90  100.00  1000.02
822   12/01/2023  17:30:46.669       984.309    0.66  100.02  1000.02
1287  12/01/2023  17:40:07.180      1544.820    0.16  100.00  1000.02
1288  12/01/2023  17:40:08.373      1546.013    0.16  100.02  1000.02
1289  12/01/2023  17:40:09.602      1547.242    0.16  100.02  1000.02
1290  12/01/2023  17:40:10.808      1548.448    0.16  100.02  1000.02
1291  12/01/2023  17:40:12.011      1549.651    0.18  100.02  1000.02
1898  12/01/2023  17:52:22.461      2280.101  309.40  100.06  1000.02
1899  12/01/2023  17:52:23.665      2281.305  219.06  100.06  1000.02
1900  12/01/2023  17:52:24.867      2282.507   88.06   99.98  1000.04
1901  12/01/2023  17:52:26.071      2283.711    1.14   99.96  1000.02

        VMon4    VMon5   VMon6  VMon7  ...    IMon3    IMon4    IMon5  \
481   1000.06  1000.02  499.94    0.0  ...   9.0771   9.1024   9.0708
482   1000.06  1000.02  499.94    0.0  ...   9.0875   9.1126   9.0812
483   1000.06  1000.02  499.94    0.0  ...   9.1100   9.1320   9.0985
484   1000.06  1000.02  499.94    0.0  ...   9.1187   9.1383   9.1042
819   1000.12  1000.06  499.98    0.0  ...  10.0056  10.0352   9.9991
820   1000.14  1000.08  499.98    0.0  ...   9.6027   9.7601   9.8121
821   1000.12  1000.06  499.98    0.0  ...   9.9830  10.0205   9.9476
822   1000.12  1000.06  499.98    0.0  ...  10.0025  10.0336   9.9782
1287  1000.16  1000.10  499.98    0.0  ...  10.6484  10.6808  10.6371
1288  1000.16  1000.10  499.98    0.0  ...  10.6543  10.6828  10.6446
1289  1000.16  1000.10  499.98    0.0  ...  10.6587  10.6835  10.6470
1290  1000.16  1000.10  499.98    0.0  ...  10.6606  10.6847  10.6474
1291  1000.16  1000.10  499.98    0.0  ...  10.6606  10.6847  10.6474
1898  1000.16  1000.12  499.96    0.0  ...  11.0678  11.0913  11.0579
1899  1000.16  1000.12  499.96    0.0  ...  11.0605  11.0858  11.0549
1900  1000.18  1000.12  499.98    0.0  ...  10.6430  10.7977  10.8593
1901  1000.16  1000.12  499.98    0.0  ...  10.9793  11.0519  10.9967

        IMon6   IMon7   IMon8           Comment       hv_grid            em  \
481    9.0893 -0.0215 -0.0126  grid transparent -4.222000e-07  2.606400e-06
482    9.0966 -0.0215 -0.0126  grid transparent -4.123000e-07  2.619200e-06
483    9.1134 -0.0215 -0.0126  grid transparent -4.020000e-07  2.616700e-06
484    9.1181 -0.0215 -0.0126  grid transparent -3.931000e-07  2.617600e-06
819   10.0080 -0.0207 -0.0124  grid transparent -4.814000e-07  1.015000e-07
820    9.9361 -0.0205 -0.0124  grid transparent -4.322000e-07  2.034500e-06
821   10.0107 -0.0205 -0.0124  grid transparent -4.772000e-07  2.760400e-06
822   10.0140 -0.0205 -0.0124  grid transparent -4.549000e-07  2.791400e-06
1287  10.6457 -0.0185 -0.0123  grid transparent -4.539000e-07  2.929000e-06
1288  10.6534 -0.0185 -0.0123  grid transparent -4.424000e-07  2.929900e-06
1289  10.6550 -0.0185 -0.0123  grid transparent -4.363000e-07  2.928800e-06
1290  10.6550 -0.0185 -0.0123  grid transparent -4.289000e-07  2.921400e-06
1291  10.6550 -0.0185 -0.0123  grid transparent -4.216000e-07  2.916700e-06
1898  11.0684 -0.0173 -0.0100  grid transparent -4.469000e-07  2.770000e-08
1899  11.0671 -0.0173 -0.0100  grid transparent -4.685000e-07  1.029000e-07
1900  10.9920 -0.0173 -0.0100  grid transparent -5.068000e-07  1.873600e-06
1901  11.0066 -0.0173 -0.0100  grid transparent -5.508000e-07  2.976500e-06

                        datetime
481   2023-01-12 17:23:58.050000
482   2023-01-12 17:23:59.249000
483   2023-01-12 17:24:00.477000
484   2023-01-12 17:24:01.678000
819   2023-01-12 17:30:43.081000
820   2023-01-12 17:30:44.276000
821   2023-01-12 17:30:45.471000
822   2023-01-12 17:30:46.669000
1287  2023-01-12 17:40:07.180000
1288  2023-01-12 17:40:08.373000
1289  2023-01-12 17:40:09.602000
1290  2023-01-12 17:40:10.808000
1291  2023-01-12 17:40:12.011000
1898  2023-01-12 17:52:22.461000
1899  2023-01-12 17:52:23.665000
1900  2023-01-12 17:52:24.867000
1901  2023-01-12 17:52:26.071000

[17 rows x 23 columns]
Result 2:             Date          Time  Elapsed time   VMon1   VMon2    VMon3  \
719   12/01/2023  17:28:42.777       860.417  499.58  100.10  1000.02
720   12/01/2023  17:28:43.975       861.615  499.74  100.08  1000.02
721   12/01/2023  17:28:45.175       862.815  499.80  100.08  1000.02
722   12/01/2023  17:28:46.368       864.008  499.84  100.08  1000.02
1034  12/01/2023  17:35:02.158      1239.798  499.90  100.08  1000.00
1035  12/01/2023  17:35:03.362      1241.002  499.90  100.08  1000.00
1036  12/01/2023  17:35:04.567      1242.207  499.90  100.08  1000.00
1037  12/01/2023  17:35:05.763      1243.403  499.90  100.08  1000.00
1038  12/01/2023  17:35:06.963      1244.603  499.90  100.08  1000.00
1450  12/01/2023  17:43:23.157      1740.797  499.90  100.08  1000.02
1451  12/01/2023  17:43:24.360      1742.000  499.90  100.08  1000.02
1452  12/01/2023  17:43:25.563      1743.203  499.90  100.08  1000.02
1453  12/01/2023  17:43:26.767      1744.407  499.90  100.08  1000.02

        VMon4    VMon5   VMon6  VMon7  ...    IMon3    IMon4    IMon5  \
719   1000.12  1000.08  499.96    0.0  ...   9.8156   9.8400   9.8027
720   1000.12  1000.08  499.96    0.0  ...   9.8162   9.8399   9.8017
721   1000.12  1000.08  499.96    0.0  ...   9.8160   9.8408   9.8020
722   1000.12  1000.08  499.96    0.0  ...   9.8162   9.8422   9.8043
1034  1000.16  1000.10  499.98    0.0  ...  10.3934  10.4188  10.3815
1035  1000.16  1000.10  499.98    0.0  ...  10.3999  10.4248  10.3871
1036  1000.16  1000.10  499.98    0.0  ...  10.4068  10.4304  10.3911
1037  1000.16  1000.10  499.98    0.0  ...  10.4091  10.4355  10.3969
1038  1000.16  1000.10  499.98    0.0  ...  10.4076  10.4351  10.3969
1450  1000.16  1000.10  499.96    0.0  ...  10.8527  10.8711  10.8338
1451  1000.16  1000.10  499.96    0.0  ...  10.8578  10.8788  10.8429
1452  1000.16  1000.10  499.96    0.0  ...  10.8523  10.8746  10.8399
1453  1000.16  1000.10  499.96    0.0  ...  10.8409  10.8625  10.8279

        IMon6   IMon7   IMon8         Comment       hv_grid            em  \
719    9.8109 -0.0208 -0.0125  grid repelling  3.000000e-08  2.940000e-08
720    9.8110 -0.0208 -0.0125  grid repelling  2.670000e-08  2.530000e-08
721    9.8126 -0.0208 -0.0125  grid repelling  2.500000e-08  2.330000e-08
722    9.8194 -0.0208 -0.0125  grid repelling  2.240000e-08  2.330000e-08
1034  10.3951 -0.0189 -0.0113  grid repelling  1.940000e-08  2.260000e-08
1035  10.4002 -0.0189 -0.0113  grid repelling  1.940000e-08  2.260000e-08
1036  10.4036 -0.0189 -0.0113  grid repelling  1.940000e-08  2.260000e-08
1037  10.4104 -0.0189 -0.0114  grid repelling  1.940000e-08  2.260000e-08
1038  10.4107 -0.0189 -0.0114  grid repelling  1.940000e-08  2.260000e-08
1450  10.8448 -0.0175 -0.0114  grid repelling  2.170000e-08  2.380000e-08
1451  10.8547 -0.0175 -0.0114  grid repelling  2.170000e-08  2.380000e-08
1452  10.8515 -0.0175 -0.0114  grid repelling  2.130000e-08  2.360000e-08
1453  10.8383 -0.0175 -0.0114  grid repelling  2.130000e-08  2.250000e-08

                        datetime
719   2023-01-12 17:28:42.777000
720   2023-01-12 17:28:43.975000
721   2023-01-12 17:28:45.175000
722   2023-01-12 17:28:46.368000
1034  2023-01-12 17:35:02.158000
1035  2023-01-12 17:35:03.362000
1036  2023-01-12 17:35:04.567000
1037  2023-01-12 17:35:05.763000
1038  2023-01-12 17:35:06.963000
1450  2023-01-12 17:43:23.157000
1451  2023-01-12 17:43:24.360000
1452  2023-01-12 17:43:25.563000
1453  2023-01-12 17:43:26.767000

[13 rows x 23 columns]
Result 3:            Date          Time  Elapsed time  VMon1   VMon2   VMon3   VMon4  \
293  12/01/2023  17:20:12.911       350.551  499.9  100.12  999.78  999.74
294  12/01/2023  17:20:14.130       351.770  499.9  100.12  999.78  999.74
295  12/01/2023  17:20:15.315       352.955  499.9  100.12  999.78  999.74
296  12/01/2023  17:20:16.510       354.150  499.9  100.12  999.78  999.74

      VMon5   VMon6  VMon7  ...   IMon3   IMon4   IMon5   IMon6   IMon7  \
293  999.66  499.82    0.0  ...  8.1060  8.1070  8.0826  8.0819 -0.0224
294  999.66  499.82    0.0  ...  8.0922  8.0949  8.0711  8.0701 -0.0224
295  999.66  499.84    0.0  ...  8.0985  8.1045  8.0821  8.0821 -0.0224
296  999.68  499.84    0.0  ...  8.1216  8.1293  8.1077  8.1486 -0.0224

      IMon8                           Comment       hv_grid            em  \
293 -0.0138  electron activity grid repelling  1.790000e-08  4.340000e-08
294 -0.0138  electron activity grid repelling  1.790000e-08  3.830000e-08
295 -0.0138  electron activity grid repelling  1.790000e-08  3.250000e-08
296 -0.0138  electron activity grid repelling  1.790000e-08  3.170000e-08

                       datetime
293  2023-01-12 17:20:12.911000
294  2023-01-12 17:20:14.130000
295  2023-01-12 17:20:15.315000
296  2023-01-12 17:20:16.510000

[4 rows x 23 columns]

 Result 4:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
91   2023/01/12 17:23:57.294    6.408070e-11  2023/01/12 17:23:57.544
92   2023/01/12 17:24:03.619    6.317400e-11  2023/01/12 17:24:03.869
90   2023/01/12 17:23:50.969    6.102930e-11  2023/01/12 17:23:51.219
93   2023/01/12 17:24:09.944    6.271930e-11  2023/01/12 17:24:10.194
89   2023/01/12 17:23:44.644    6.105250e-11  2023/01/12 17:23:44.894
..                       ...             ...                      ...
472  2023/01/12 18:04:07.119    5.774840e-11  2023/01/12 18:04:07.369
473  2023/01/12 18:04:13.444    5.801880e-11  2023/01/12 18:04:13.694
474  2023/01/12 18:04:19.769    5.815160e-11  2023/01/12 18:04:20.019
475  2023/01/12 18:04:26.094    5.772000e-11  2023/01/12 18:04:26.344
476  2023/01/12 18:04:32.419    5.771570e-11  2023/01/12 18:04:32.669

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
91     7.785000e-13  2023/01/12 17:23:57.794    1.037000e-13
92     7.934000e-13  2023/01/12 17:24:04.119    1.020000e-13
90     7.821000e-13  2023/01/12 17:23:51.469    1.196000e-13
93     7.868000e-13  2023/01/12 17:24:10.444    1.124000e-13
89     7.720000e-13  2023/01/12 17:23:45.144    1.096000e-13
..              ...                      ...             ...
472    7.664000e-13  2023/01/12 18:04:07.619    2.350000e-14
473    7.606000e-13  2023/01/12 18:04:13.944    4.130000e-14
474    7.773000e-13  2023/01/12 18:04:20.269    4.130000e-14
475    7.746000e-13  2023/01/12 18:04:26.594    3.290000e-14
476    7.544000e-13  2023/01/12 18:04:32.919    3.750000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
91   2023/01/12 17:23:58.044     3.001000e-13  2023/01/12 17:23:58.294
92   2023/01/12 17:24:04.369     3.278000e-13  2023/01/12 17:24:04.619
90   2023/01/12 17:23:51.719     3.173000e-13  2023/01/12 17:23:51.969
93   2023/01/12 17:24:10.694     3.256000e-13  2023/01/12 17:24:10.944
89   2023/01/12 17:23:45.394     3.304000e-13  2023/01/12 17:23:45.644
..                       ...              ...                      ...
472  2023/01/12 18:04:07.869     3.176000e-13  2023/01/12 18:04:08.119
473  2023/01/12 18:04:14.194     3.087000e-13  2023/01/12 18:04:14.444
474  2023/01/12 18:04:20.519     3.251000e-13  2023/01/12 18:04:20.769
475  2023/01/12 18:04:26.844     3.404000e-13  2023/01/12 18:04:27.094
476  2023/01/12 18:04:33.169     3.206000e-13  2023/01/12 18:04:33.419

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
91      1.954000e-13  ...  2023/01/12 17:23:58.795     1.401600e-12
92      1.848000e-13  ...  2023/01/12 17:24:05.120     1.283200e-12
90      2.052000e-13  ...  2023/01/12 17:23:52.470     1.322500e-12
93      1.972000e-13  ...  2023/01/12 17:24:11.445     1.389000e-12
89      1.915000e-13  ...  2023/01/12 17:23:46.145     1.368700e-12
..               ...  ...                      ...              ...
472     1.873000e-13  ...  2023/01/12 18:04:08.620     1.381600e-12
473     1.828000e-13  ...  2023/01/12 18:04:14.945     1.366800e-12
474     1.855000e-13  ...  2023/01/12 18:04:21.270     1.368600e-12
475     1.715000e-13  ...  2023/01/12 18:04:27.595     1.350700e-12
476     1.906000e-13  ...  2023/01/12 18:04:33.920     1.333500e-12

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
91   2023/01/12 17:23:59.045     1.994900e-12  2023/01/12 17:23:59.296
92   2023/01/12 17:24:05.370     2.002000e-12  2023/01/12 17:24:05.621
90   2023/01/12 17:23:52.720     2.018500e-12  2023/01/12 17:23:52.971
93   2023/01/12 17:24:11.695     1.989000e-12  2023/01/12 17:24:11.946
89   2023/01/12 17:23:46.395     2.011200e-12  2023/01/12 17:23:46.646
..                       ...              ...                      ...
472  2023/01/12 18:04:08.871     1.750400e-12  2023/01/12 18:04:09.121
473  2023/01/12 18:04:15.195     1.780400e-12  2023/01/12 18:04:15.446
474  2023/01/12 18:04:21.520     1.822100e-12  2023/01/12 18:04:21.771
475  2023/01/12 18:04:27.845     1.793100e-12  2023/01/12 18:04:28.096
476  2023/01/12 18:04:34.170     1.827300e-12  2023/01/12 18:04:34.421

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
91      2.002000e-13  2023/01/12 17:23:59.546     2.570000e-14
92      2.034000e-13  2023/01/12 17:24:05.871     3.390000e-14
90      2.024000e-13  2023/01/12 17:23:53.221     2.810000e-14
93      2.130000e-13  2023/01/12 17:24:12.196     2.510000e-14
89      1.705000e-13  2023/01/12 17:23:46.896     2.890000e-14
..               ...                      ...              ...
472     1.648000e-13  2023/01/12 18:04:09.371     3.140000e-14
473     1.933000e-13  2023/01/12 18:04:15.696     2.890000e-14
474     1.914000e-13  2023/01/12 18:04:22.021     2.360000e-14
475     1.890000e-13  2023/01/12 18:04:28.346     2.760000e-14
476     1.995000e-13  2023/01/12 18:04:34.671     2.510000e-14

              mass 44.0_time  mass 44.0_value
91   2023/01/12 17:24:00.297     2.397250e-11
92   2023/01/12 17:24:06.622     2.386500e-11
90   2023/01/12 17:23:53.972     2.375750e-11
93   2023/01/12 17:24:12.947     2.391870e-11
89   2023/01/12 17:23:47.647     2.418750e-11
..                       ...              ...
472  2023/01/12 18:04:10.122     2.365000e-11
473  2023/01/12 18:04:16.447     2.375750e-11
474  2023/01/12 18:04:22.772     2.370370e-11
475  2023/01/12 18:04:29.097     2.413370e-11
476  2023/01/12 18:04:35.422     2.375750e-11

[475 rows x 22 columns]

 Result 5:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
136  2023/01/12 17:28:41.919    6.087030e-11  2023/01/12 17:28:42.169
137  2023/01/12 17:28:48.244    6.072190e-11  2023/01/12 17:28:48.494
135  2023/01/12 17:28:35.594    6.163620e-11  2023/01/12 17:28:35.844
138  2023/01/12 17:28:54.569    6.066870e-11  2023/01/12 17:28:54.819
134  2023/01/12 17:28:29.269    6.131850e-11  2023/01/12 17:28:29.519
..                       ...             ...                      ...
472  2023/01/12 18:04:07.119    5.774840e-11  2023/01/12 18:04:07.369
473  2023/01/12 18:04:13.444    5.801880e-11  2023/01/12 18:04:13.694
474  2023/01/12 18:04:19.769    5.815160e-11  2023/01/12 18:04:20.019
475  2023/01/12 18:04:26.094    5.772000e-11  2023/01/12 18:04:26.344
476  2023/01/12 18:04:32.419    5.771570e-11  2023/01/12 18:04:32.669

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
136    7.587000e-13  2023/01/12 17:28:42.419    1.379000e-13
137    7.644000e-13  2023/01/12 17:28:48.744    1.076000e-13
135    7.782000e-13  2023/01/12 17:28:36.094    1.285000e-13
138    7.796000e-13  2023/01/12 17:28:55.069    1.212000e-13
134    7.783000e-13  2023/01/12 17:28:29.769    1.260000e-13
..              ...                      ...             ...
472    7.664000e-13  2023/01/12 18:04:07.619    2.350000e-14
473    7.606000e-13  2023/01/12 18:04:13.944    4.130000e-14
474    7.773000e-13  2023/01/12 18:04:20.269    4.130000e-14
475    7.746000e-13  2023/01/12 18:04:26.594    3.290000e-14
476    7.544000e-13  2023/01/12 18:04:32.919    3.750000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
136  2023/01/12 17:28:42.669     3.349000e-13  2023/01/12 17:28:42.919
137  2023/01/12 17:28:48.994     3.133000e-13  2023/01/12 17:28:49.244
135  2023/01/12 17:28:36.344     3.398000e-13  2023/01/12 17:28:36.594
138  2023/01/12 17:28:55.319     3.176000e-13  2023/01/12 17:28:55.569
134  2023/01/12 17:28:30.019     3.600000e-13  2023/01/12 17:28:30.269
..                       ...              ...                      ...
472  2023/01/12 18:04:07.869     3.176000e-13  2023/01/12 18:04:08.119
473  2023/01/12 18:04:14.194     3.087000e-13  2023/01/12 18:04:14.444
474  2023/01/12 18:04:20.519     3.251000e-13  2023/01/12 18:04:20.769
475  2023/01/12 18:04:26.844     3.404000e-13  2023/01/12 18:04:27.094
476  2023/01/12 18:04:33.169     3.206000e-13  2023/01/12 18:04:33.419

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
136     2.033000e-13  ...  2023/01/12 17:28:43.420     1.360400e-12
137     1.975000e-13  ...  2023/01/12 17:28:49.745     1.331000e-12
135     2.002000e-13  ...  2023/01/12 17:28:37.095     1.346300e-12
138     1.947000e-13  ...  2023/01/12 17:28:56.070     1.356000e-12
134     1.939000e-13  ...  2023/01/12 17:28:30.770     1.353200e-12
..               ...  ...                      ...              ...
472     1.873000e-13  ...  2023/01/12 18:04:08.620     1.381600e-12
473     1.828000e-13  ...  2023/01/12 18:04:14.945     1.366800e-12
474     1.855000e-13  ...  2023/01/12 18:04:21.270     1.368600e-12
475     1.715000e-13  ...  2023/01/12 18:04:27.595     1.350700e-12
476     1.906000e-13  ...  2023/01/12 18:04:33.920     1.333500e-12

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
136  2023/01/12 17:28:43.670     1.992100e-12  2023/01/12 17:28:43.921
137  2023/01/12 17:28:49.995     1.971900e-12  2023/01/12 17:28:50.246
135  2023/01/12 17:28:37.345     1.971200e-12  2023/01/12 17:28:37.596
138  2023/01/12 17:28:56.320     1.992400e-12  2023/01/12 17:28:56.571
134  2023/01/12 17:28:31.020     1.967100e-12  2023/01/12 17:28:31.271
..                       ...              ...                      ...
472  2023/01/12 18:04:08.871     1.750400e-12  2023/01/12 18:04:09.121
473  2023/01/12 18:04:15.195     1.780400e-12  2023/01/12 18:04:15.446
474  2023/01/12 18:04:21.520     1.822100e-12  2023/01/12 18:04:21.771
475  2023/01/12 18:04:27.845     1.793100e-12  2023/01/12 18:04:28.096
476  2023/01/12 18:04:34.170     1.827300e-12  2023/01/12 18:04:34.421

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
136     2.106000e-13  2023/01/12 17:28:44.171     3.020000e-14
137     2.032000e-13  2023/01/12 17:28:50.496     1.750000e-14
135     1.925000e-13  2023/01/12 17:28:37.846     2.990000e-14
138     1.938000e-13  2023/01/12 17:28:56.821     2.390000e-14
134     2.110000e-13  2023/01/12 17:28:31.521     2.200000e-14
..               ...                      ...              ...
472     1.648000e-13  2023/01/12 18:04:09.371     3.140000e-14
473     1.933000e-13  2023/01/12 18:04:15.696     2.890000e-14
474     1.914000e-13  2023/01/12 18:04:22.021     2.360000e-14
475     1.890000e-13  2023/01/12 18:04:28.346     2.760000e-14
476     1.995000e-13  2023/01/12 18:04:34.671     2.510000e-14

              mass 44.0_time  mass 44.0_value
136  2023/01/12 17:28:44.922     2.359620e-11
137  2023/01/12 17:28:51.247     2.386500e-11
135  2023/01/12 17:28:38.597     2.348870e-11
138  2023/01/12 17:28:57.572     2.375750e-11
134  2023/01/12 17:28:32.272     2.370370e-11

 Result 6:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
56   2023/01/12 17:20:15.919    6.143140e-11  2023/01/12 17:20:16.169
55   2023/01/12 17:20:09.594    6.136210e-11  2023/01/12 17:20:09.844
57   2023/01/12 17:20:22.244    6.106590e-11  2023/01/12 17:20:22.494
54   2023/01/12 17:20:03.269    6.157120e-11  2023/01/12 17:20:03.519
58   2023/01/12 17:20:28.569    6.128950e-11  2023/01/12 17:20:28.819
..                       ...             ...                      ...
472  2023/01/12 18:04:07.119    5.774840e-11  2023/01/12 18:04:07.369
473  2023/01/12 18:04:13.444    5.801880e-11  2023/01/12 18:04:13.694
474  2023/01/12 18:04:19.769    5.815160e-11  2023/01/12 18:04:20.019
475  2023/01/12 18:04:26.094    5.772000e-11  2023/01/12 18:04:26.344
476  2023/01/12 18:04:32.419    5.771570e-11  2023/01/12 18:04:32.669

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
56     7.918000e-13  2023/01/12 17:20:16.419    1.275000e-13
55     7.767000e-13  2023/01/12 17:20:10.094    9.260000e-14
57     7.966000e-13  2023/01/12 17:20:22.744    1.138000e-13
54     7.716000e-13  2023/01/12 17:20:03.769    1.225000e-13
58     7.790000e-13  2023/01/12 17:20:29.069    1.269000e-13
..              ...                      ...             ...
472    7.664000e-13  2023/01/12 18:04:07.619    2.350000e-14
473    7.606000e-13  2023/01/12 18:04:13.944    4.130000e-14
474    7.773000e-13  2023/01/12 18:04:20.269    4.130000e-14
475    7.746000e-13  2023/01/12 18:04:26.594    3.290000e-14
476    7.544000e-13  2023/01/12 18:04:32.919    3.750000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
56   2023/01/12 17:20:16.669     3.534000e-13  2023/01/12 17:20:16.919
55   2023/01/12 17:20:10.344     3.438000e-13  2023/01/12 17:20:10.594
57   2023/01/12 17:20:22.994     3.454000e-13  2023/01/12 17:20:23.244
54   2023/01/12 17:20:04.019     3.316000e-13  2023/01/12 17:20:04.269
58   2023/01/12 17:20:29.319     3.235000e-13  2023/01/12 17:20:29.569
..                       ...              ...                      ...
472  2023/01/12 18:04:07.869     3.176000e-13  2023/01/12 18:04:08.119
473  2023/01/12 18:04:14.194     3.087000e-13  2023/01/12 18:04:14.444
474  2023/01/12 18:04:20.519     3.251000e-13  2023/01/12 18:04:20.769
475  2023/01/12 18:04:26.844     3.404000e-13  2023/01/12 18:04:27.094
476  2023/01/12 18:04:33.169     3.206000e-13  2023/01/12 18:04:33.419

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
56      1.946000e-13  ...  2023/01/12 17:20:17.420     1.367200e-12
55      1.812000e-13  ...  2023/01/12 17:20:11.095     1.349400e-12
57      1.967000e-13  ...  2023/01/12 17:20:23.745     1.336800e-12
54      2.093000e-13  ...  2023/01/12 17:20:04.770     1.354800e-12
58      1.843000e-13  ...  2023/01/12 17:20:30.070     1.353300e-12
..               ...  ...                      ...              ...
472     1.873000e-13  ...  2023/01/12 18:04:08.620     1.381600e-12
473     1.828000e-13  ...  2023/01/12 18:04:14.945     1.366800e-12
474     1.855000e-13  ...  2023/01/12 18:04:21.270     1.368600e-12
475     1.715000e-13  ...  2023/01/12 18:04:27.595     1.350700e-12
476     1.906000e-13  ...  2023/01/12 18:04:33.920     1.333500e-12

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
56   2023/01/12 17:20:17.670     2.052600e-12  2023/01/12 17:20:17.921
55   2023/01/12 17:20:11.345     2.093200e-12  2023/01/12 17:20:11.596
57   2023/01/12 17:20:23.995     2.036700e-12  2023/01/12 17:20:24.246
54   2023/01/12 17:20:05.020     2.090300e-12  2023/01/12 17:20:05.271
58   2023/01/12 17:20:30.320     2.063000e-12  2023/01/12 17:20:30.571
..                       ...              ...                      ...
472  2023/01/12 18:04:08.871     1.750400e-12  2023/01/12 18:04:09.121
473  2023/01/12 18:04:15.195     1.780400e-12  2023/01/12 18:04:15.446
474  2023/01/12 18:04:21.520     1.822100e-12  2023/01/12 18:04:21.771
475  2023/01/12 18:04:27.845     1.793100e-12  2023/01/12 18:04:28.096
476  2023/01/12 18:04:34.170     1.827300e-12  2023/01/12 18:04:34.421

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
56      1.936000e-13  2023/01/12 17:20:18.171     2.310000e-14
55      2.055000e-13  2023/01/12 17:20:11.846     3.330000e-14
57      2.141000e-13  2023/01/12 17:20:24.496     1.370000e-14
54      2.203000e-13  2023/01/12 17:20:05.521     2.210000e-14
58      2.025000e-13  2023/01/12 17:20:30.821     1.730000e-14
..               ...                      ...              ...
472     1.648000e-13  2023/01/12 18:04:09.371     3.140000e-14
473     1.933000e-13  2023/01/12 18:04:15.696     2.890000e-14
474     1.914000e-13  2023/01/12 18:04:22.021     2.360000e-14
475     1.890000e-13  2023/01/12 18:04:28.346     2.760000e-14
476     1.995000e-13  2023/01/12 18:04:34.671     2.510000e-14

              mass 44.0_time  mass 44.0_value
56   2023/01/12 17:20:18.922     2.386500e-11
55   2023/01/12 17:20:12.597     2.391870e-11
57   2023/01/12 17:20:25.247     2.402620e-11
54   2023/01/12 17:20:06.272     2.397250e-11
58   2023/01/12 17:20:31.572     2.381120e-11
..                       ...              ...
472  2023/01/12 18:04:10.122     2.365000e-11
473  2023/01/12 18:04:16.447     2.375750e-11
474  2023/01/12 18:04:22.772     2.370370e-11
475  2023/01/12 18:04:29.097     2.413370e-11
476  2023/01/12 18:04:35.422     2.375750e-11

[475 rows x 22 columns]
count    4.500000e+01
mean     2.899779e-09
std      1.736224e-11
min      2.846916e-09
25%      2.889841e-09
50%      2.900085e-09
75%      2.910381e-09
max      2.940691e-09
Name: mass 2, corr, dtype: float64

count    3.500000e+01
mean     2.879128e-09
std      2.774300e-11
min      2.859813e-09
25%      2.866385e-09
50%      2.873160e-09
75%      2.879266e-09
max      3.004606e-09
Name: mass 2, corr, dtype: float64

## Point-by-point desorption

In [9]:
#make a sub-df from mid that includes only mass 2 data
h2 = mid.loc[:, ["mass 2.0_time", "mass 2.0_value"]]
#rename columns
h2 = h2.rename(columns={"mass 2.0_time": "datetime","mass 2.0_value": "Ion current"}).reset_index(drop=True)

print(h2)

                    datetime   Ion current
0    2023/01/12 17:14:31.367  9.361100e-11
1    2023/01/12 17:14:37.692  9.281010e-11
2    2023/01/12 17:14:44.017  9.198780e-11
3    2023/01/12 17:14:50.342  9.152550e-11
4    2023/01/12 17:14:56.667  9.081060e-11
..                       ...           ...
470  2023/01/12 18:04:07.119  5.774840e-11
471  2023/01/12 18:04:13.444  5.801880e-11
472  2023/01/12 18:04:19.769  5.815160e-11
473  2023/01/12 18:04:26.094  5.772000e-11
474  2023/01/12 18:04:32.419  5.771570e-11

[475 rows x 2 columns]

In [10]:
# Convert the 'time' column to datetime index for both dataframes
hv.index = (pd.to_datetime(hv['datetime']).dt.round(freq="S"))
h2.index = (pd.to_datetime(h2['datetime']).dt.round(freq="S"))
print(hv)

# Reindex df1 to match the datetime index of df2
hv = hv.reindex(h2.index, method='nearest', limit=1)

#Drop the "datetime" columns
hv.drop('datetime', axis=1, inplace=True)
h2.drop('datetime', axis=1, inplace=True)

# Now df1 and df2 have the same datetime index and can be joined or aligned
# by joining on the index
hv_aligned = hv.merge(h2,left_index=True, right_index=True, how="inner")

print("aligned",hv_aligned)
print(hv_aligned.describe())

                           Date          Time  Elapsed time  VMon1  VMon2  \
datetime
2023-01-12 17:14:22  12/01/2023  17:14:22.360         0.000   0.00   0.08
2023-01-12 17:14:24  12/01/2023  17:14:23.542         1.182   0.00   0.08
2023-01-12 17:14:25  12/01/2023  17:14:24.726         2.366   0.00   0.08
2023-01-12 17:14:26  12/01/2023  17:14:25.906         3.546   0.00   0.08
2023-01-12 17:14:27  12/01/2023  17:14:27.079         4.719   0.00   0.08
...                         ...           ...           ...    ...    ...
2023-01-12 18:03:52  12/01/2023  18:03:51.622      2969.262   0.06   0.08
2023-01-12 18:03:53  12/01/2023  18:03:52.798      2970.438   0.06   0.08
2023-01-12 18:03:54  12/01/2023  18:03:53.983      2971.623   0.06   0.08
2023-01-12 18:03:55  12/01/2023  18:03:55.164      2972.804   0.06   0.08
2023-01-12 18:03:56  12/01/2023  18:03:56.348      2973.988   0.06   0.08

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2023-01-12 17:14:22   0.20   0.18   0.08   0.02    0.0  ...  0.0242 -0.0522
2023-01-12 17:14:24   0.26   0.14   0.10   0.06    0.0  ...  0.0206  0.0239
2023-01-12 17:14:25   0.18   0.16   0.14   0.08    0.0  ...  0.0165  0.0214
2023-01-12 17:14:26   0.22   0.16   0.08   0.04    0.0  ...  0.0165 -0.0251
2023-01-12 17:14:27   0.24   0.14   0.06   0.06    0.0  ...  0.0216  0.0429
...                    ...    ...    ...    ...    ...  ...     ...     ...
2023-01-12 18:03:52   0.14   0.14   0.06   0.02    0.0  ...  0.0233  0.0284
2023-01-12 18:03:53   0.14   0.14   0.06   0.02    0.0  ...  0.0233  0.0284
2023-01-12 18:03:54   0.14   0.14   0.06   0.02    0.0  ...  0.0233  0.0284
2023-01-12 18:03:55   0.14   0.14   0.02   0.02    0.0  ...  0.0233  0.0284
2023-01-12 18:03:56   0.14   0.14   0.02   0.02    0.0  ...  0.0233  0.0284

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2023-01-12 17:14:22 -0.0288  0.0401 -0.0226 -0.0159      NaN  3.200000e-09
2023-01-12 17:14:24  0.0256  0.0314 -0.0226 -0.0159      NaN  3.100000e-09
2023-01-12 17:14:25 -0.0388 -0.0404 -0.0226 -0.0159      NaN  3.100000e-09
2023-01-12 17:14:26 -0.0225  0.0280 -0.0226 -0.0159      NaN  2.700000e-09
2023-01-12 17:14:27 -0.0046  0.0206 -0.0226 -0.0159      NaN  2.600000e-09
...                     ...     ...     ...     ...      ...           ...
2023-01-12 18:03:52  0.0158  0.0268 -0.0176 -0.0127      NaN -6.000000e-10
2023-01-12 18:03:53  0.0139  0.0268 -0.0176 -0.0127      NaN -8.000000e-10
2023-01-12 18:03:54  0.0096  0.0268 -0.0177 -0.0127      NaN -8.000000e-10
2023-01-12 18:03:55  0.0168  0.0268 -0.0177 -0.0127      NaN -2.000000e-09
2023-01-12 18:03:56  0.0168  0.0268 -0.0177 -0.0127      NaN -2.400000e-09

                               em                    datetime
datetime
2023-01-12 17:14:22  6.900000e-09  2023-01-12 17:14:22.360000
2023-01-12 17:14:24  6.900000e-09  2023-01-12 17:14:23.542000
2023-01-12 17:14:25  6.900000e-09  2023-01-12 17:14:24.726000
2023-01-12 17:14:26  7.300000e-09  2023-01-12 17:14:25.906000
2023-01-12 17:14:27  7.700000e-09  2023-01-12 17:14:27.079000
...                           ...                         ...
2023-01-12 18:03:52  1.140000e-08  2023-01-12 18:03:51.622000
2023-01-12 18:03:53  1.140000e-08  2023-01-12 18:03:52.798000
2023-01-12 18:03:54  1.140000e-08  2023-01-12 18:03:53.983000
2023-01-12 18:03:55  1.140000e-08  2023-01-12 18:03:55.164000
2023-01-12 18:03:56  1.140000e-08  2023-01-12 18:03:56.348000

[2481 rows x 23 columns]
aligned                            Date          Time  Elapsed time  VMon1  VMon2  \
datetime
2023-01-12 17:14:31  12/01/2023  17:14:30.626         8.266   0.00   0.08
2023-01-12 17:14:38  12/01/2023  17:14:37.704        15.344   0.02   0.10
2023-01-12 17:14:44  12/01/2023  17:14:43.604        21.244   0.02   0.10
2023-01-12 17:14:50  12/01/2023  17:14:49.508        27.148   0.02   0.10
2023-01-12 17:14:57  12/01/2023  17:14:56.576        34.216   0.02   0.10
...                         ...           ...           ...    ...    ...
2023-01-12 18:04:07         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:13         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:20         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:26         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:32         NaN           NaN           NaN    NaN    NaN

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2023-01-12 17:14:31   0.18   0.16   0.10   0.06    0.0  ...  0.0191  0.0018
2023-01-12 17:14:38   0.18   0.18   0.14   0.08    0.0  ...  0.0200 -0.0554
2023-01-12 17:14:44   0.20   0.16   0.08   0.06    0.0  ...  0.0291  0.0353
2023-01-12 17:14:50   0.24   0.14   0.06   0.02    0.0  ...  0.0205  0.0313
2023-01-12 17:14:57   0.24   0.14   0.08   0.04    0.0  ...  0.0189  0.0404
...                    ...    ...    ...    ...    ...  ...     ...     ...
2023-01-12 18:04:07    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:13    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:20    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:26    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:32    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2023-01-12 17:14:31  0.0064 -0.0483 -0.0226 -0.0159      NaN  2.100000e-09
2023-01-12 17:14:38 -0.0035 -0.0311 -0.0226 -0.0159      NaN  1.500000e-09
2023-01-12 17:14:44  0.0233  0.0236 -0.0226 -0.0159      NaN  6.000000e-10
2023-01-12 17:14:50  0.0351  0.0354 -0.0226 -0.0159      NaN  0.000000e+00
2023-01-12 17:14:57  0.0168  0.0311 -0.0226 -0.0159      NaN -5.000000e-10
...                     ...     ...     ...     ...      ...           ...
2023-01-12 18:04:07     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:13     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:20     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:26     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:32     NaN     NaN     NaN     NaN      NaN           NaN

                               em   Ion current
datetime
2023-01-12 17:14:31  6.900000e-09  9.361100e-11
2023-01-12 17:14:38  6.900000e-09  9.281010e-11
2023-01-12 17:14:44  6.900000e-09  9.198780e-11
2023-01-12 17:14:50  6.900000e-09  9.152550e-11
2023-01-12 17:14:57  7.800000e-09  9.081060e-11
...                           ...           ...
2023-01-12 18:04:07           NaN  5.774840e-11
2023-01-12 18:04:13           NaN  5.801880e-11
2023-01-12 18:04:20           NaN  5.815160e-11
2023-01-12 18:04:26           NaN  5.772000e-11
2023-01-12 18:04:32           NaN  5.771570e-11

[475 rows x 23 columns]
       Elapsed time       VMon1       VMon2        VMon3        VMon4  \
count    470.000000  470.000000  470.000000   470.000000   470.000000
mean    1495.226585  213.399191   73.265957   731.513702   731.723021
std      859.181471  246.110007   44.330363   442.190365   442.072561
min        8.266000    0.000000    0.060000     0.140000     0.100000
25%      753.114000    0.060000    0.120000     0.220000     0.200000
50%     1494.754000    0.160000  100.060000  1000.020000  1000.140000
75%     2236.825250  499.940000  100.080000  1000.020000  1000.160000
max     2973.988000  499.980000  100.140000  1000.040000  1000.180000

             VMon5       VMon6  VMon7         VMon8       IMon1       IMon2  \
count   470.000000  470.000000  470.0  4.700000e+02  470.000000  470.000000
mean    727.220766  365.445447    0.0  4.000000e-02   -0.113986    0.864965
std     444.561615  221.509281    0.0  4.792938e-16    0.201282    1.307412
min       0.000000    0.000000    0.0  4.000000e-02   -0.506800   -3.783400
25%       0.100000    0.060000    0.0  4.000000e-02   -0.385625    0.015100
50%    1000.080000  499.960000    0.0  4.000000e-02   -0.001600    0.023200
75%    1000.100000  499.980000    0.0  4.000000e-02    0.018600    2.627475
max    1000.120000  500.100000    0.0  4.000000e-02    0.517500    3.784400

            IMon3       IMon4       IMon5       IMon6       IMon7       IMon8  \
count  470.000000  470.000000  470.000000  470.000000  470.000000  470.000000
mean     7.505526    7.522846    7.491476    7.505381   -0.018623   -0.012002
std      4.600246    4.607938    4.598765    4.593288    0.002557    0.001531
min     -2.220000   -1.766000   -0.789600   -0.048300   -0.022600   -0.015900
25%      0.026675    0.044925    0.023000    0.046725   -0.021000   -0.012600
50%     10.062650   10.085000   10.049250   10.060700   -0.018650   -0.011700
75%     10.799075   10.820275   10.785300   10.795975   -0.017300   -0.010900
max     11.187000   11.206700   11.171800   11.179300   -0.013200   -0.009800

            hv_grid            em   Ion current
count  4.700000e+02  4.700000e+02  4.750000e+02
mean  -1.139864e-07  8.649653e-07  6.074262e-11
std    2.012824e-07  1.307412e-06  5.055042e-12
min   -5.068000e-07 -3.783400e-06  5.738620e-11
25%   -3.856250e-07  1.510000e-08  5.897690e-11
50%   -1.600000e-09  2.320000e-08  6.004630e-11
75%    1.860000e-08  2.627475e-06  6.118575e-11
max    5.175000e-07  3.784400e-06  9.361100e-11

In [11]:
#Filtering background signal for interpolated datasets

#take a mass with a signal known to be in the background
bck = np.mean(mid["mass 5.5_value"])

#apply background correction to the rest of the mass spectrum
hv_aligned["mass 2 corr"]=hv_aligned["Ion current"]-bck

#From the signal, get the partial pressures 
h2_sens = 2.13e-2 #A/mbar
p_h2_ip = hv_aligned["mass 2 corr"]/(h2_sens*0.46) #H2 equivalent pressures

#account for the thermal transpiration factor
T2 = 4.2
T1 = 296.5
T_coef = np.sqrt(T2/T1)
p_h2_ip = p_h2_ip*T_coef 

#insert partial pressures into the dataframe
hv_aligned.insert(22,"hydrogen pp",p_h2_ip)

In [12]:
hv_aligned.fillna(0,inplace=True)
hv_aligned["hydrogen pp"].describe()

count    4.750000e+02
mean     7.365261e-10
std      6.140442e-11
min      6.957552e-10
25%      7.150777e-10
50%      7.280678e-10
75%      7.419089e-10
max      1.135784e-09
Name: hydrogen pp, dtype: float64

# Primary desorption calculation method
### Elena's formula for the cryo setup
$$
\eta=\frac{C_{H2}\cdot (\Delta p_1 - \Delta p_2)q_e}{k_B\cdot T \cdot I_e}
$$

Where $\Delta p_i=p(t)_i - p(t=0)_i$ and $i=1,2$
In the case of the 4K setup, we know the exact conductance of gasses. The formula above applies well.

Due to the EGA being fully retracted, it is safe to assume that the desorption takes place at approximately room temperature

In [13]:
#calculation delta_p-s
dp1 = (np.mean(p_h2)-np.mean(base_h2))*100
print(dp1)

#Constants
k_B = 1.38e-23
T = 293
print(T)
q_e = 1.6e-19
c_h2 = 37.91/1000
s_h2=42/1000
x_h2=1/((1/c_h2)+(1/s_h2))
print(x_h2)
#Emission current

I_em = np.nanmean(hv["em"].nlargest(30))
print(I_em)
#Conductance for CO in m3/s
c_co=10.13/1000
c_co2 = 8.08/1000

2.065057008718916e-09
293
0.01992516581153798
3.0179133333333332e-06

In [14]:
#Desorption yield
eta_h2 = (x_h2*dp1*q_e)/(k_B*T*I_em)
#eta_co = (c_co*(dp1-dp2)*q_e)/(k_B*T*I_em)
print("The desorption yield for H2 [mol/el]:",eta_h2,"\n",)#""The desorption yield for CO2 [mol/el]:",eta_co2)

The desorption yield for H2 [mol/el]: 0.0005395112457673308

## Desorption yield point-by-point

$$
\eta=\frac{C_{H2}\cdot (p_{n} - p_{n-1}) \cdot q_e}{k_B\cdot T \cdot I_{n}}
$$

In [15]:
#partial pressure delta

p_delta = hv_aligned["hydrogen pp"].diff(periods=5).fillna(hv_aligned["hydrogen pp"])*100
p_delta = p_delta.clip(lower=0)
print(p_delta)
#hv_shifted = hv_aligned.shift(periods=1)
#print(hv_shifted)
#p_delta = hv_aligned["hydrogen pp"] - hv_shifted["hydrogen pp"]
#print(hv_aligned["hydrogen pp"].describe())
#print(hv_shifted["hydrogen pp"].describe())
print(p_delta.describe())

datetime
2023-01-12 17:14:31    1.135784e-07
2023-01-12 17:14:38    1.126055e-07
2023-01-12 17:14:44    1.116066e-07
2023-01-12 17:14:50    1.110451e-07
2023-01-12 17:14:57    1.101767e-07
                           ...
2023-01-12 18:04:07    4.399702e-10
2023-01-12 18:04:13    0.000000e+00
2023-01-12 18:04:20    4.466512e-10
2023-01-12 18:04:26    0.000000e+00
2023-01-12 18:04:32    2.448868e-10
Name: hydrogen pp, Length: 475, dtype: float64
count    4.750000e+02
mean     1.347887e-09
std      1.141198e-08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.952656e-10
max      1.135784e-07
Name: hydrogen pp, dtype: float64

In [16]:
#constants are already defined
#emission current and H2 partial pressures are now available at the same sampling rates
print(hv_aligned.describe())
I_n = hv_aligned["em"].replace(0, np.nan).dropna()

I_n.where(hv_aligned["em"] >= 8e-7, np.nan, inplace=True)
#pd.df.where(cond= "Where cond is True, keep the original value. Otherwise, replace with NaN")
print(I_n.describe())

eta = ((x_h2*p_delta*q_e)/(k_B*T*I_n)).dropna()
eta = eta.loc[eta.index[1]:]
print("desorption yields point-by-point:","\n", eta)

       Elapsed time       VMon1       VMon2        VMon3        VMon4  \
count    475.000000  475.000000  475.000000   475.000000   475.000000
mean    1479.487358  211.152884   72.494737   723.813558   724.020674
std      868.182625  245.777389   44.726711   446.155768   446.043826
min        0.000000    0.000000    0.000000     0.000000     0.000000
25%      729.199500    0.060000    0.120000     0.220000     0.180000
50%     1480.319000    0.160000  100.060000  1000.000000  1000.120000
75%     2228.405000  499.940000  100.080000  1000.020000  1000.160000
max     2973.988000  499.980000  100.140000  1000.040000  1000.180000

             VMon5       VMon6  VMon7       VMon8       IMon1  ...  \
count   475.000000  475.000000  475.0  475.000000  475.000000  ...
mean    719.565811  361.598653    0.0    0.039579   -0.112787  ...
std     448.408449  223.478666    0.0    0.004087    0.200556  ...
min       0.000000    0.000000    0.0    0.000000   -0.506800  ...
25%       0.100000    0.050000    0.0    0.040000   -0.384900  ...
50%    1000.080000  499.960000    0.0    0.040000   -0.001500  ...
75%    1000.100000  499.980000    0.0    0.040000    0.018600  ...
max    1000.120000  500.100000    0.0    0.040000    0.517500  ...

            IMon4       IMon5       IMon6       IMon7       IMon8  \
count  475.000000  475.000000  475.000000  475.000000  475.000000
mean     7.443658    7.412618    7.426377   -0.018427   -0.011876
std      4.647559    4.638031    4.632892    0.003176    0.001956
min     -1.766000   -0.789600   -0.048300   -0.022600   -0.015900
25%      0.041400    0.021800    0.041750   -0.021000   -0.012600
50%     10.056300   10.020600   10.032000   -0.018500   -0.011700
75%     10.818850   10.784600   10.794150   -0.017300   -0.010800
max     11.206700   11.171800   11.179300    0.000000    0.000000

            hv_grid            em   hydrogen pp   Ion current   mass 2 corr
count  4.750000e+02  4.750000e+02  4.750000e+02  4.750000e+02  4.750000e+02
mean  -1.127865e-07  8.558604e-07  7.365261e-10  6.074262e-11  6.063359e-11
std    2.005564e-07  1.303497e-06  6.140442e-11  5.055042e-12  5.055042e-12
min   -5.068000e-07 -3.783400e-06  6.957552e-10  5.738620e-11  5.727717e-11
25%   -3.849000e-07  1.450000e-08  7.150777e-10  5.897690e-11  5.886787e-11
50%   -1.500000e-09  2.320000e-08  7.280678e-10  6.004630e-11  5.993727e-11
75%    1.860000e-08  2.623750e-06  7.419089e-10  6.118575e-11  6.107672e-11
max    5.175000e-07  3.784400e-06  1.135784e-09  9.361100e-11  9.350197e-11

[8 rows x 22 columns]
count    1.450000e+02
mean     2.793597e-06
std      1.785676e-07
min      1.873600e-06
25%      2.661000e-06
50%      2.783200e-06
75%      2.900900e-06
max      3.784400e-06
Name: em, dtype: float64
desorption yields point-by-point:
 datetime
2023-01-12 17:19:51    0.000000
2023-01-12 17:23:57    0.001098
2023-01-12 17:24:04    0.000796
2023-01-12 17:24:10    0.000577
2023-01-12 17:24:16    0.000516
                         ...
2023-01-12 17:55:28    0.000002
2023-01-12 17:55:35    0.000016
2023-01-12 17:55:41    0.000046
2023-01-12 17:55:47    0.000054
2023-01-12 17:55:54    0.000000
Length: 144, dtype: float64

In [17]:
#slicing eta to match hv_aligned["Elapsed time"]:
# Slice x using the index of y
hv_downsampled = hv_aligned.loc[eta.index, :]

# Plotting

In [18]:
#plot the aligned dataframe results
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.plot(hv_aligned["Elapsed time"],hv_aligned["em"],linestyle="-",marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [19]:
#plot the h2 mid 
#seems to be too little rows?
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(loc="upper right")
plt.title("Ion current evolution of H2, 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('linear')

In [20]:
#Plotting the all the relevant MID spectrums
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 4'],mid["mass 4.0_value"],marker=".", markersize=4,label='M4')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M14')
plt.plot(time['Elapsed time, mass 16'],mid["mass 16.0_value"],marker=".", markersize=4,label='M16')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time['Elapsed time, mass 40'],mid["mass 40.0_value"],marker=".", markersize=4,label='M40')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID scan 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")

plt.yscale('log')

In [21]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [22]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [23]:
## Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("Temperature evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")
plt.yscale('linear')

In [24]:
#plotting point-by-point eta
plt.figure(figsize=(10,6))
plt.plot(hv_downsampled["Elapsed time"],eta,marker=".", markersize=4,label='eta')
#plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Electon stimulated desorption yield (M/el)')
plt.legend()
plt.title("ESD vs time, p_n - p_n-5")
ax = plt.gca()
ax.set_yscale('log')
ax.grid(which="major",axis="x")
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()