In [14]:
import pandas as pd
import scipy.constants
from scipy.optimize import curve_fit
from scipy.integrate import quad
from sklearn.metrics import r2_score
import seaborn
seaborn.set(style='whitegrid')
import numpy as np
import math
import matplotlib.pyplot as plt
import matplotlib.dates as md
import matplotlib.transforms as transforms
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
import datetime as dt

## Reading in the data and preparing DataFrames

#### MID

In [15]:
#read in the data
mid = pd.read_csv("MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())
#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
print(time.describe())
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,4,5.5,12,15,16,18,28,32,40,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)

time_sliced = time.iloc[:,11:].fillna(0)
print(time_sliced)

#convert elapsed times in time-dataframe back to a timestamp
def h2_time(df1,df2):
    startdate = pd.to_datetime(df1.iloc[2,0],format="%Y/%m/%d %H:%M:%S.%f")
    dic= {}
    itr = 0
    masses = [2,4,5.5,12,15,16,18,28,32,40,44]
    key = "Timestamp, mass {}".format(masses[itr])
    for label,content in df2.items():
        key = "Timestamp, mass {}".format(masses[itr])
        #.strftime('%d-%m-%Y %H:%M:%S') not used
        for row in content:
            dic.setdefault(key,[]).append((startdate+dt.timedelta(milliseconds=row*1000)))
        itr += 1
    new_df = pd.DataFrame.from_dict(dic)
    return(new_df)

new_df = h2_time(time,time_sliced)
new_df

       mass 2.0_value  mass 4.0_value  mass 5.5_value  mass 12.0_value  \
count    4.750000e+02    4.750000e+02    4.750000e+02     4.750000e+02
mean     6.074262e-11    7.404977e-13    1.090263e-13     3.230105e-13
std      5.055042e-12    1.499339e-13    2.920879e-14     1.572528e-14
min      5.738620e-11    2.220000e-14    4.800000e-15     2.494000e-13
25%      5.897690e-11    7.666500e-13    1.080000e-13     3.125500e-13
50%      6.004630e-11    7.731000e-13    1.165000e-13     3.227000e-13
75%      6.118575e-11    7.801500e-13    1.244500e-13     3.336500e-13
max      9.361100e-11    8.057000e-13    1.537000e-13     3.648000e-13

       mass 15.0_value  mass 16.0_value  mass 18.0_value  mass 28.0_value  \
count     4.750000e+02     4.750000e+02     4.750000e+02     4.750000e+02
mean      1.894705e-13     6.075733e-13     1.350917e-12     1.924619e-12
std       1.176345e-14     1.970131e-14     3.097804e-14     7.769109e-14
min       1.021000e-13     5.186000e-13     1.224400e-12     1.750400e-12
25%       1.820500e-13     5.960500e-13     1.331900e-12     1.858300e-12
50%       1.897000e-13     6.069000e-13     1.352500e-12     1.922900e-12
75%       1.968500e-13     6.201500e-13     1.371550e-12     1.985650e-12
max       2.257000e-13     6.702000e-13     1.431100e-12     2.093200e-12

       mass 32.0_value  mass 40.0_value  mass 44.0_value
count     4.750000e+02     4.750000e+02     4.740000e+02
mean      1.954739e-13     8.258989e-14     2.402895e-11
std       1.128644e-14     1.147940e-12     2.583884e-13
min       1.101000e-13     7.600000e-15     2.338120e-11
25%       1.885000e-13     2.430000e-14     2.386500e-11
50%       1.957000e-13     2.850000e-14     2.402620e-11
75%       2.025000e-13     3.360000e-14     2.418750e-11
max       2.262000e-13     2.504750e-11     2.499370e-11
                  mass 2.0_time            mass 4.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:31.367  2023/01/12 17:14:34.618
freq                          1                        1

                  mass 5.5_time           mass 12.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:34.868  2023/01/12 17:14:35.118
freq                          1                        1

                 mass 15.0_time           mass 16.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:35.369  2023/01/12 17:14:35.619
freq                          1                        1

                 mass 18.0_time           mass 28.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:35.869  2023/01/12 17:14:36.119
freq                          1                        1

                 mass 32.0_time           mass 40.0_time  \
count                       475                      475
unique                      475                      475
top     2023/01/12 17:14:36.369  2023/01/12 17:14:37.371
freq                          1                        1

                 mass 44.0_time
count                       474
unique                      474
top     2023/01/12 17:14:43.696
freq                          1
     Elapsed time, mass 2  Elapsed time, mass 4  Elapsed time, mass 5.5  \
2                   0.000                 0.000                   0.000
3                   6.325                 6.325                   6.325
4                  12.650                12.650                  12.650
5                  18.975                18.975                  18.975
6                  25.300                25.300                  25.300
..                    ...                   ...                     ...
472              2975.752              2972.751                2972.751
473              2982.077              2979.076                2979.076
474              2988.402              2985.401                2985.401
475              2994.727              2991.726                2991.726
476              3001.052              2998.051                2998.051

     Elapsed time, mass 12  Elapsed time, mass 15  Elapsed time, mass 16  \
2                    0.000                  0.000                  0.000
3                    6.325                  6.325                  6.325
4                   12.650                 12.650                 12.650
5                   18.975                 18.975                 18.975
6                   25.300                 25.300                 25.300
..                     ...                    ...                    ...
472               2972.751               2972.750               2972.751
473               2979.076               2979.075               2979.076
474               2985.401               2985.400               2985.401
475               2991.726               2991.725               2991.726
476               2998.051               2998.050               2998.051

     Elapsed time, mass 18  Elapsed time, mass 28  Elapsed time, mass 32  \
2                    0.000                  0.000                  0.000
3                    6.325                  6.325                  6.325
4                   12.650                 12.650                 12.650
5                   18.975                 18.975                 18.975
6                   25.300                 25.300                 25.300
..                     ...                    ...                    ...
472               2972.751               2972.752               2972.752
473               2979.076               2979.076               2979.077
474               2985.401               2985.401               2985.402
475               2991.726               2991.726               2991.727
476               2998.051               2998.051               2998.052

     Elapsed time, mass 40  Elapsed time, mass 44
2                    0.000                    0.0
3                    5.574                    0.0
4                   11.899                    0.0
5                   18.224                    0.0
6                   24.549                    0.0
..                     ...                    ...
472               2972.000                    0.0
473               2978.325                    0.0
474               2984.650                    0.0
475               2990.975                    0.0
476               2997.300                    0.0

[475 rows x 11 columns]

,"Timestamp, mass 2","Timestamp, mass 4","Timestamp, mass 5.5","Timestamp, mass 12","Timestamp, mass 15","Timestamp, mass 16","Timestamp, mass 18","Timestamp, mass 28","Timestamp, mass 32","Timestamp, mass 40","Timestamp, mass 44"
0,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017,2023-01-12 17:14:44.017
1,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:50.342,2023-01-12 17:14:49.591,2023-01-12 17:14:44.017
2,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:56.667,2023-01-12 17:14:55.916,2023-01-12 17:14:44.017
3,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.992,2023-01-12 17:15:02.241,2023-01-12 17:14:44.017
4,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:09.317,2023-01-12 17:15:08.566,2023-01-12 17:14:44.017
...,...,...,...,...,...,...,...,...,...,...,...
470,2023-01-12 18:04:19.769,2023-01-12 18:04:16.768,2023-01-12 18:04:16.768,2023-01-12 18:04:16.768,2023-01-12 18:04:16.767,2023-01-12 18:04:16.768,2023-01-12 18:04:16.768,2023-01-12 18:04:16.769,2023-01-12 18:04:16.769,2023-01-12 18:04:16.017,2023-01-12 17:14:44.017
471,2023-01-12 18:04:26.094,2023-01-12 18:04:23.093,2023-01-12 18:04:23.093,2023-01-12 18:04:23.093,2023-01-12 18:04:23.092,2023-01-12 18:04:23.093,2023-01-12 18:04:23.093,2023-01-12 18:04:23.093,2023-01-12 18:04:23.094,2023-01-12 18:04:22.342,2023-01-12 17:14:44.017
472,2023-01-12 18:04:32.419,2023-01-12 18:04:29.418,2023-01-12 18:04:29.418,2023-01-12 18:04:29.418,2023-01-12 18:04:29.417,2023-01-12 18:04:29.418,2023-01-12 18:04:29.418,2023-01-12 18:04:29.418,2023-01-12 18:04:29.419,2023-01-12 18:04:28.667,2023-01-12 17:14:44.017
473,2023-01-12 18:04:38.744,2023-01-12 18:04:35.743,2023-01-12 18:04:35.743,2023-01-12 18:04:35.743,2023-01-12 18:04:35.742,2023-01-12 18:04:35.743,2023-01-12 18:04:35.743,2023-01-12 18:04:35.743,2023-01-12 18:04:35.744,2023-01-12 18:04:34.992,2023-01-12 17:14:44.017
474,2023-01-12 18:04:45.069,2023-01-12 18:04:42.068,2023-01-12 18:04:42.068,2023-01-12 18:04:42.068,2023-01-12 18:04:42.067,2023-01-12 18:04:42.068,2023-01-12 18:04:42.068,2023-01-12 18:04:42.068,2023-01-12 18:04:42.069,2023-01-12 18:04:41.317,2023-01-12 17:14:44.017

#### Vaclogger

In [16]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()
#adding an elapsed time column
#making the column into a datetime object
vac_timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(vac_timestamps-vac_timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
#drop index column (not necessary)
# vaclog.drop(index=vaclog.index[0], 
#         axis=0, 
#         inplace=True)
vaclog["Time"] = vac_timestamps.dt.strftime('%d-%m-%Y %H:%M:%S')
vaclog["Time"] = pd.to_datetime(vaclog["Time"],format='%d-%m-%Y %H:%M:%S')

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
0,NaN,2023-01-12 14:57:04,0.0,-0.018483,1.900000e-09,1.000000e-09,4.996000e-09,4.528000e-07,0.000569,235.0,-5.163,4249.253,NaN,NaN
1,NaN,2023-01-12 14:57:11,7.0,-0.014883,1.900000e-09,1.000000e-09,4.996000e-09,4.533000e-07,0.000572,235.0,-5.163,4249.702,NaN,NaN
2,NaN,2023-01-12 14:57:18,14.0,-0.015426,1.900000e-09,9.970000e-10,4.996000e-09,4.533000e-07,0.000571,235.0,-5.163,4250.039,NaN,NaN
3,NaN,2023-01-12 14:57:26,22.0,-0.014883,1.890000e-09,9.890000e-10,4.996000e-09,4.533000e-07,0.000606,235.0,-5.050,4250.264,NaN,NaN
4,NaN,2023-01-12 14:57:33,29.0,-0.017521,1.890000e-09,9.920000e-10,4.996000e-09,4.533000e-07,0.000569,234.0,-5.275,4250.039,NaN,NaN

#### HiVolta log

In [17]:
#Reading in the HiVolta measurement file 
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
hv["em"]=abs(hv["em"])
hv["hv_grid"]=abs(hv["hv_grid"])

#adding a datetime column
datetime = pd.to_datetime(hv['Date'] + ' ' + hv['Time'],format="%d/%m/%Y %H:%M:%S.%f")
datetime = datetime.dt.strftime('%d-%m-%Y %H:%M:%S')
datetime = pd.to_datetime(datetime, format='%d-%m-%Y %H:%M:%S')
hv.insert(0,"datetime",datetime)
    
#making the column into a datetime object
hv_timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(hv_timestamps-hv_timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)

hv.head()

,datetime,Date,Elapsed time,Time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,...,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,Comment,hv_grid,em
0,2023-01-12 17:14:22,12/01/2023,0.000,17:14:22.360,0.0,0.08,0.20,0.18,0.08,0.02,...,0.0069,0.0242,-0.0522,-0.0288,0.0401,-0.0226,-0.0159,NaN,3.200000e-09,6.900000e-09
1,2023-01-12 17:14:23,12/01/2023,1.182,17:14:23.542,0.0,0.08,0.26,0.14,0.10,0.06,...,0.0069,0.0206,0.0239,0.0256,0.0314,-0.0226,-0.0159,NaN,3.100000e-09,6.900000e-09
2,2023-01-12 17:14:24,12/01/2023,2.366,17:14:24.726,0.0,0.08,0.18,0.16,0.14,0.08,...,0.0069,0.0165,0.0214,-0.0388,-0.0404,-0.0226,-0.0159,NaN,3.100000e-09,6.900000e-09
3,2023-01-12 17:14:25,12/01/2023,3.546,17:14:25.906,0.0,0.08,0.22,0.16,0.08,0.04,...,0.0073,0.0165,-0.0251,-0.0225,0.0280,-0.0226,-0.0159,NaN,2.700000e-09,7.300000e-09
4,2023-01-12 17:14:27,12/01/2023,4.719,17:14:27.079,0.0,0.08,0.24,0.14,0.06,0.06,...,0.0077,0.0216,0.0429,-0.0046,0.0206,-0.0226,-0.0159,NaN,2.600000e-09,7.700000e-09

## Checking injection volume pressure drop linearity

In [18]:
#defining a function for the straight line
def fit(x,a,b):
    return a*x + b
#curve fit for the data
y_val = vaclog["injection 1mbar"].values
x_val = (vaclog["Elapsed time"]/3600).values
params, cov = curve_fit(fit,x_val,y_val)
#straight line parameters
a, b = params
print(f"Fitted line: y = {a:.2f}*x+{b:.2f}")

Fitted line: y = -0.02*x+0.26

### Data processing

In [19]:
#print vaclog comments
print(pd.unique(vaclog["Live comments"]))

[nan 'closed turbo valve' 'starting injection' 'injection complete'
 'restarted pumping']

In [20]:
#print hv comments
print(pd.unique(hv["Comment"]))
hv_comm = hv["Comment"].dropna()
hv_comm.index

[nan 'no electron activity' 'electron activity grid repelling'
 'grid transparent' 'grid repelling']

Int64Index([   9,   10,   11,   12,  293,  294,  295,  296,  481,  482,  483,
             484,  719,  720,  721,  722,  819,  820,  821,  822, 1034, 1035,
            1036, 1037, 1038, 1287, 1288, 1289, 1290, 1291, 1450, 1451, 1452,
            1453, 1898, 1899, 1900, 1901, 2092, 2093, 2094, 2095],
           dtype='int64')

In [21]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

### Data preparation for calculating desorption yield, point-by-point

In [22]:
#Filtering background signal

#Find the timestamp where emission was turned on and off
print("Result 1:",hv.loc[hv["Comment"]=="grid transparent"])
print("Result 2:", hv.loc[hv["Comment"]=="grid repelling"])
print("Result 3:", hv.loc[hv["Comment"]=="electron activity grid repelling"])

x=pd.Timestamp(2023, 1, 12, 17 ,23, 58)
y=pd.Timestamp(2023, 1, 12, 17, 28, 43)
z=pd.Timestamp(2023, 1, 12, 17, 20, 13)
#then find the time value closest to it in the MID scan file 
print("\n","Result 4:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - x).abs().argsort(),:])
print("\n","Result 5:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - y).abs().argsort(),:])
print("\n","Result 6:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - z).abs().argsort(),:])

#take a mass with a signal known to be in the background
bck=np.mean(mid["mass 5.5_value"])

#apply background correction to the rest of the mass spectrum
mid["mass 2, corr"]=mid["mass 2.0_value"]-bck

 
#From the signal, get the partial pressures 
h2_sens=2.13e-2
p_h2=mid["mass 2, corr"][91:136]/h2_sens
print(p_h2.describe())

#baseline for partial pressure delta
base_h2=mid["mass 2, corr"][56:91]/h2_sens
base_h2.describe()

Result 1:                 datetime        Date  Elapsed time          Time   VMon1  \
481  2023-01-12 17:23:58  12/01/2023       575.690  17:23:58.050    0.30
482  2023-01-12 17:23:59  12/01/2023       576.889  17:23:59.249    0.24
483  2023-01-12 17:24:00  12/01/2023       578.117  17:24:00.477    0.18
484  2023-01-12 17:24:01  12/01/2023       579.318  17:24:01.678    0.18
819  2023-01-12 17:30:43  12/01/2023       980.721  17:30:43.081  219.06
820  2023-01-12 17:30:44  12/01/2023       981.916  17:30:44.276   88.10
821  2023-01-12 17:30:45  12/01/2023       983.111  17:30:45.471    0.90
822  2023-01-12 17:30:46  12/01/2023       984.309  17:30:46.669    0.66
1287 2023-01-12 17:40:07  12/01/2023      1544.820  17:40:07.180    0.16
1288 2023-01-12 17:40:08  12/01/2023      1546.013  17:40:08.373    0.16
1289 2023-01-12 17:40:09  12/01/2023      1547.242  17:40:09.602    0.16
1290 2023-01-12 17:40:10  12/01/2023      1548.448  17:40:10.808    0.16
1291 2023-01-12 17:40:12  12/01/2023      1549.651  17:40:12.011    0.18
1898 2023-01-12 17:52:22  12/01/2023      2280.101  17:52:22.461  309.40
1899 2023-01-12 17:52:23  12/01/2023      2281.305  17:52:23.665  219.06
1900 2023-01-12 17:52:24  12/01/2023      2282.507  17:52:24.867   88.06
1901 2023-01-12 17:52:26  12/01/2023      2283.711  17:52:26.071    1.14

       VMon2    VMon3    VMon4    VMon5   VMon6  ...   IMon2    IMon3  \
481   100.00   999.98  1000.06  1000.02  499.94  ...  2.6064   9.0771
482   100.02   999.98  1000.06  1000.02  499.94  ...  2.6192   9.0875
483   100.04   999.98  1000.06  1000.02  499.94  ...  2.6167   9.1100
484   100.04   999.98  1000.06  1000.02  499.94  ...  2.6176   9.1187
819   100.08  1000.00  1000.12  1000.06  499.98  ...  0.1015  10.0056
820   100.00  1000.04  1000.14  1000.08  499.98  ...  2.0345   9.6027
821   100.00  1000.02  1000.12  1000.06  499.98  ...  2.7604   9.9830
822   100.02  1000.02  1000.12  1000.06  499.98  ...  2.7914  10.0025
1287  100.00  1000.02  1000.16  1000.10  499.98  ...  2.9290  10.6484
1288  100.02  1000.02  1000.16  1000.10  499.98  ...  2.9299  10.6543
1289  100.02  1000.02  1000.16  1000.10  499.98  ...  2.9288  10.6587
1290  100.02  1000.02  1000.16  1000.10  499.98  ...  2.9214  10.6606
1291  100.02  1000.02  1000.16  1000.10  499.98  ...  2.9167  10.6606
1898  100.06  1000.02  1000.16  1000.12  499.96  ...  0.0277  11.0678
1899  100.06  1000.02  1000.16  1000.12  499.96  ...  0.1029  11.0605
1900   99.98  1000.04  1000.18  1000.12  499.98  ...  1.8736  10.6430
1901   99.96  1000.02  1000.16  1000.12  499.98  ...  2.9765  10.9793

        IMon4    IMon5    IMon6   IMon7   IMon8           Comment  \
481    9.1024   9.0708   9.0893 -0.0215 -0.0126  grid transparent
482    9.1126   9.0812   9.0966 -0.0215 -0.0126  grid transparent
483    9.1320   9.0985   9.1134 -0.0215 -0.0126  grid transparent
484    9.1383   9.1042   9.1181 -0.0215 -0.0126  grid transparent
819   10.0352   9.9991  10.0080 -0.0207 -0.0124  grid transparent
820    9.7601   9.8121   9.9361 -0.0205 -0.0124  grid transparent
821   10.0205   9.9476  10.0107 -0.0205 -0.0124  grid transparent
822   10.0336   9.9782  10.0140 -0.0205 -0.0124  grid transparent
1287  10.6808  10.6371  10.6457 -0.0185 -0.0123  grid transparent
1288  10.6828  10.6446  10.6534 -0.0185 -0.0123  grid transparent
1289  10.6835  10.6470  10.6550 -0.0185 -0.0123  grid transparent
1290  10.6847  10.6474  10.6550 -0.0185 -0.0123  grid transparent
1291  10.6847  10.6474  10.6550 -0.0185 -0.0123  grid transparent
1898  11.0913  11.0579  11.0684 -0.0173 -0.0100  grid transparent
1899  11.0858  11.0549  11.0671 -0.0173 -0.0100  grid transparent
1900  10.7977  10.8593  10.9920 -0.0173 -0.0100  grid transparent
1901  11.0519  10.9967  11.0066 -0.0173 -0.0100  grid transparent

           hv_grid            em
481   4.222000e-07  2.606400e-06
482   4.123000e-07  2.619200e-06
483   4.020000e-07  2.616700e-06
484   3.931000e-07  2.617600e-06
819   4.814000e-07  1.015000e-07
820   4.322000e-07  2.034500e-06
821   4.772000e-07  2.760400e-06
822   4.549000e-07  2.791400e-06
1287  4.539000e-07  2.929000e-06
1288  4.424000e-07  2.929900e-06
1289  4.363000e-07  2.928800e-06
1290  4.289000e-07  2.921400e-06
1291  4.216000e-07  2.916700e-06
1898  4.469000e-07  2.770000e-08
1899  4.685000e-07  1.029000e-07
1900  5.068000e-07  1.873600e-06
1901  5.508000e-07  2.976500e-06

[17 rows x 23 columns]
Result 2:                 datetime        Date  Elapsed time          Time   VMon1  \
719  2023-01-12 17:28:42  12/01/2023       860.417  17:28:42.777  499.58
720  2023-01-12 17:28:43  12/01/2023       861.615  17:28:43.975  499.74
721  2023-01-12 17:28:45  12/01/2023       862.815  17:28:45.175  499.80
722  2023-01-12 17:28:46  12/01/2023       864.008  17:28:46.368  499.84
1034 2023-01-12 17:35:02  12/01/2023      1239.798  17:35:02.158  499.90
1035 2023-01-12 17:35:03  12/01/2023      1241.002  17:35:03.362  499.90
1036 2023-01-12 17:35:04  12/01/2023      1242.207  17:35:04.567  499.90
1037 2023-01-12 17:35:05  12/01/2023      1243.403  17:35:05.763  499.90
1038 2023-01-12 17:35:06  12/01/2023      1244.603  17:35:06.963  499.90
1450 2023-01-12 17:43:23  12/01/2023      1740.797  17:43:23.157  499.90
1451 2023-01-12 17:43:24  12/01/2023      1742.000  17:43:24.360  499.90
1452 2023-01-12 17:43:25  12/01/2023      1743.203  17:43:25.563  499.90
1453 2023-01-12 17:43:26  12/01/2023      1744.407  17:43:26.767  499.90

       VMon2    VMon3    VMon4    VMon5   VMon6  ...   IMon2    IMon3  \
719   100.10  1000.02  1000.12  1000.08  499.96  ...  0.0294   9.8156
720   100.08  1000.02  1000.12  1000.08  499.96  ...  0.0253   9.8162
721   100.08  1000.02  1000.12  1000.08  499.96  ...  0.0233   9.8160
722   100.08  1000.02  1000.12  1000.08  499.96  ...  0.0233   9.8162
1034  100.08  1000.00  1000.16  1000.10  499.98  ...  0.0226  10.3934
1035  100.08  1000.00  1000.16  1000.10  499.98  ...  0.0226  10.3999
1036  100.08  1000.00  1000.16  1000.10  499.98  ...  0.0226  10.4068
1037  100.08  1000.00  1000.16  1000.10  499.98  ...  0.0226  10.4091
1038  100.08  1000.00  1000.16  1000.10  499.98  ...  0.0226  10.4076
1450  100.08  1000.02  1000.16  1000.10  499.96  ...  0.0238  10.8527
1451  100.08  1000.02  1000.16  1000.10  499.96  ...  0.0238  10.8578
1452  100.08  1000.02  1000.16  1000.10  499.96  ...  0.0236  10.8523
1453  100.08  1000.02  1000.16  1000.10  499.96  ...  0.0225  10.8409

        IMon4    IMon5    IMon6   IMon7   IMon8         Comment       hv_grid  \
719    9.8400   9.8027   9.8109 -0.0208 -0.0125  grid repelling  3.000000e-08
720    9.8399   9.8017   9.8110 -0.0208 -0.0125  grid repelling  2.670000e-08
721    9.8408   9.8020   9.8126 -0.0208 -0.0125  grid repelling  2.500000e-08
722    9.8422   9.8043   9.8194 -0.0208 -0.0125  grid repelling  2.240000e-08
1034  10.4188  10.3815  10.3951 -0.0189 -0.0113  grid repelling  1.940000e-08
1035  10.4248  10.3871  10.4002 -0.0189 -0.0113  grid repelling  1.940000e-08
1036  10.4304  10.3911  10.4036 -0.0189 -0.0113  grid repelling  1.940000e-08
1037  10.4355  10.3969  10.4104 -0.0189 -0.0114  grid repelling  1.940000e-08
1038  10.4351  10.3969  10.4107 -0.0189 -0.0114  grid repelling  1.940000e-08
1450  10.8711  10.8338  10.8448 -0.0175 -0.0114  grid repelling  2.170000e-08
1451  10.8788  10.8429  10.8547 -0.0175 -0.0114  grid repelling  2.170000e-08
1452  10.8746  10.8399  10.8515 -0.0175 -0.0114  grid repelling  2.130000e-08
1453  10.8625  10.8279  10.8383 -0.0175 -0.0114  grid repelling  2.130000e-08

                em
719   2.940000e-08
720   2.530000e-08
721   2.330000e-08
722   2.330000e-08
1034  2.260000e-08
1035  2.260000e-08
1036  2.260000e-08
1037  2.260000e-08
1038  2.260000e-08
1450  2.380000e-08
1451  2.380000e-08
1452  2.360000e-08
1453  2.250000e-08

[13 rows x 23 columns]
Result 3:                datetime        Date  Elapsed time          Time  VMon1  \
293 2023-01-12 17:20:12  12/01/2023       350.551  17:20:12.911  499.9
294 2023-01-12 17:20:14  12/01/2023       351.770  17:20:14.130  499.9
295 2023-01-12 17:20:15  12/01/2023       352.955  17:20:15.315  499.9
296 2023-01-12 17:20:16  12/01/2023       354.150  17:20:16.510  499.9

      VMon2   VMon3   VMon4   VMon5   VMon6  ...   IMon2   IMon3   IMon4  \
293  100.12  999.78  999.74  999.66  499.82  ...  0.0434  8.1060  8.1070
294  100.12  999.78  999.74  999.66  499.82  ...  0.0383  8.0922  8.0949
295  100.12  999.78  999.74  999.66  499.84  ...  0.0325  8.0985  8.1045
296  100.12  999.78  999.74  999.68  499.84  ...  0.0317  8.1216  8.1293

      IMon5   IMon6   IMon7   IMon8                           Comment  \
293  8.0826  8.0819 -0.0224 -0.0138  electron activity grid repelling
294  8.0711  8.0701 -0.0224 -0.0138  electron activity grid repelling
295  8.0821  8.0821 -0.0224 -0.0138  electron activity grid repelling
296  8.1077  8.1486 -0.0224 -0.0138  electron activity grid repelling

          hv_grid            em
293  1.790000e-08  4.340000e-08
294  1.790000e-08  3.830000e-08
295  1.790000e-08  3.250000e-08
296  1.790000e-08  3.170000e-08

[4 rows x 23 columns]

 Result 4:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
91   2023/01/12 17:23:57.294    6.408070e-11  2023/01/12 17:23:57.544
92   2023/01/12 17:24:03.619    6.317400e-11  2023/01/12 17:24:03.869
90   2023/01/12 17:23:50.969    6.102930e-11  2023/01/12 17:23:51.219
93   2023/01/12 17:24:09.944    6.271930e-11  2023/01/12 17:24:10.194
89   2023/01/12 17:23:44.644    6.105250e-11  2023/01/12 17:23:44.894
..                       ...             ...                      ...
472  2023/01/12 18:04:07.119    5.774840e-11  2023/01/12 18:04:07.369
473  2023/01/12 18:04:13.444    5.801880e-11  2023/01/12 18:04:13.694
474  2023/01/12 18:04:19.769    5.815160e-11  2023/01/12 18:04:20.019
475  2023/01/12 18:04:26.094    5.772000e-11  2023/01/12 18:04:26.344
476  2023/01/12 18:04:32.419    5.771570e-11  2023/01/12 18:04:32.669

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
91     7.785000e-13  2023/01/12 17:23:57.794    1.037000e-13
92     7.934000e-13  2023/01/12 17:24:04.119    1.020000e-13
90     7.821000e-13  2023/01/12 17:23:51.469    1.196000e-13
93     7.868000e-13  2023/01/12 17:24:10.444    1.124000e-13
89     7.720000e-13  2023/01/12 17:23:45.144    1.096000e-13
..              ...                      ...             ...
472    7.664000e-13  2023/01/12 18:04:07.619    2.350000e-14
473    7.606000e-13  2023/01/12 18:04:13.944    4.130000e-14
474    7.773000e-13  2023/01/12 18:04:20.269    4.130000e-14
475    7.746000e-13  2023/01/12 18:04:26.594    3.290000e-14
476    7.544000e-13  2023/01/12 18:04:32.919    3.750000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
91   2023/01/12 17:23:58.044     3.001000e-13  2023/01/12 17:23:58.294
92   2023/01/12 17:24:04.369     3.278000e-13  2023/01/12 17:24:04.619
90   2023/01/12 17:23:51.719     3.173000e-13  2023/01/12 17:23:51.969
93   2023/01/12 17:24:10.694     3.256000e-13  2023/01/12 17:24:10.944
89   2023/01/12 17:23:45.394     3.304000e-13  2023/01/12 17:23:45.644
..                       ...              ...                      ...
472  2023/01/12 18:04:07.869     3.176000e-13  2023/01/12 18:04:08.119
473  2023/01/12 18:04:14.194     3.087000e-13  2023/01/12 18:04:14.444
474  2023/01/12 18:04:20.519     3.251000e-13  2023/01/12 18:04:20.769
475  2023/01/12 18:04:26.844     3.404000e-13  2023/01/12 18:04:27.094
476  2023/01/12 18:04:33.169     3.206000e-13  2023/01/12 18:04:33.419

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
91      1.954000e-13  ...  2023/01/12 17:23:58.795     1.401600e-12
92      1.848000e-13  ...  2023/01/12 17:24:05.120     1.283200e-12
90      2.052000e-13  ...  2023/01/12 17:23:52.470     1.322500e-12
93      1.972000e-13  ...  2023/01/12 17:24:11.445     1.389000e-12
89      1.915000e-13  ...  2023/01/12 17:23:46.145     1.368700e-12
..               ...  ...                      ...              ...
472     1.873000e-13  ...  2023/01/12 18:04:08.620     1.381600e-12
473     1.828000e-13  ...  2023/01/12 18:04:14.945     1.366800e-12
474     1.855000e-13  ...  2023/01/12 18:04:21.270     1.368600e-12
475     1.715000e-13  ...  2023/01/12 18:04:27.595     1.350700e-12
476     1.906000e-13  ...  2023/01/12 18:04:33.920     1.333500e-12

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
91   2023/01/12 17:23:59.045     1.994900e-12  2023/01/12 17:23:59.296
92   2023/01/12 17:24:05.370     2.002000e-12  2023/01/12 17:24:05.621
90   2023/01/12 17:23:52.720     2.018500e-12  2023/01/12 17:23:52.971
93   2023/01/12 17:24:11.695     1.989000e-12  2023/01/12 17:24:11.946
89   2023/01/12 17:23:46.395     2.011200e-12  2023/01/12 17:23:46.646
..                       ...              ...                      ...
472  2023/01/12 18:04:08.871     1.750400e-12  2023/01/12 18:04:09.121
473  2023/01/12 18:04:15.195     1.780400e-12  2023/01/12 18:04:15.446
474  2023/01/12 18:04:21.520     1.822100e-12  2023/01/12 18:04:21.771
475  2023/01/12 18:04:27.845     1.793100e-12  2023/01/12 18:04:28.096
476  2023/01/12 18:04:34.170     1.827300e-12  2023/01/12 18:04:34.421

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
91      2.002000e-13  2023/01/12 17:23:59.546     2.570000e-14
92      2.034000e-13  2023/01/12 17:24:05.871     3.390000e-14
90      2.024000e-13  2023/01/12 17:23:53.221     2.810000e-14
93      2.130000e-13  2023/01/12 17:24:12.196     2.510000e-14
89      1.705000e-13  2023/01/12 17:23:46.896     2.890000e-14
..               ...                      ...              ...
472     1.648000e-13  2023/01/12 18:04:09.371     3.140000e-14
473     1.933000e-13  2023/01/12 18:04:15.696     2.890000e-14
474     1.914000e-13  2023/01/12 18:04:22.021     2.360000e-14
475     1.890000e-13  2023/01/12 18:04:28.346     2.760000e-14
476     1.995000e-13  2023/01/12 18:04:34.671     2.510000e-14

              mass 44.0_time  mass 44.0_value
91   2023/01/12 17:24:00.297     2.397250e-11
92   2023/01/12 17:24:06.622     2.386500e-11
90   2023/01/12 17:23:53.972     2.375750e-11
93   2023/01/12 17:24:12.947     2.391870e-11
89   2023/01/12 17:23:47.647     2.418750e-11
..                       ...              ...
472  2023/01/12 18:04:10.122     2.365000e-11
473  2023/01/12 18:04:16.447     2.375750e-11
474  2023/01/12 18:04:22.772     2.370370e-11
475  2023/01/12 18:04:29.097     2.413370e-11
476  2023/01/12 18:04:35.422     2.375750e-11

[475 rows x 22 columns]

 Result 5:                mass 2.0_time  mass 2.0_value            mass 4.0_time  \
136  2023/01/12 17:28:41.919    6.087030e-11  2023/01/12 17:28:42.169
137  2023/01/12 17:28:48.244    6.072190e-11  2023/01/12 17:28:48.494
135  2023/01/12 17:28:35.594    6.163620e-11  2023/01/12 17:28:35.844
138  2023/01/12 17:28:54.569    6.066870e-11  2023/01/12 17:28:54.819
134  2023/01/12 17:28:29.269    6.131850e-11  2023/01/12 17:28:29.519
..                       ...             ...                      ...
472  2023/01/12 18:04:07.119    5.774840e-11  2023/01/12 18:04:07.369
473  2023/01/12 18:04:13.444    5.801880e-11  2023/01/12 18:04:13.694
474  2023/01/12 18:04:19.769    5.815160e-11  2023/01/12 18:04:20.019
475  2023/01/12 18:04:26.094    5.772000e-11  2023/01/12 18:04:26.344
476  2023/01/12 18:04:32.419    5.771570e-11  2023/01/12 18:04:32.669

     mass 4.0_value            mass 5.5_time  mass 5.5_value  \
136    7.587000e-13  2023/01/12 17:28:42.419    1.379000e-13
137    7.644000e-13  2023/01/12 17:28:48.744    1.076000e-13
135    7.782000e-13  2023/01/12 17:28:36.094    1.285000e-13
138    7.796000e-13  2023/01/12 17:28:55.069    1.212000e-13
134    7.783000e-13  2023/01/12 17:28:29.769    1.260000e-13
..              ...                      ...             ...
472    7.664000e-13  2023/01/12 18:04:07.619    2.350000e-14
473    7.606000e-13  2023/01/12 18:04:13.944    4.130000e-14
474    7.773000e-13  2023/01/12 18:04:20.269    4.130000e-14
475    7.746000e-13  2023/01/12 18:04:26.594    3.290000e-14
476    7.544000e-13  2023/01/12 18:04:32.919    3.750000e-14

              mass 12.0_time  mass 12.0_value           mass 15.0_time  \
136  2023/01/12 17:28:42.669     3.349000e-13  2023/01/12 17:28:42.919
137  2023/01/12 17:28:48.994     3.133000e-13  2023/01/12 17:28:49.244
135  2023/01/12 17:28:36.344     3.398000e-13  2023/01/12 17:28:36.594
138  2023/01/12 17:28:55.319     3.176000e-13  2023/01/12 17:28:55.569
134  2023/01/12 17:28:30.019     3.600000e-13  2023/01/12 17:28:30.269
..                       ...              ...                      ...
472  2023/01/12 18:04:07.869     3.176000e-13  2023/01/12 18:04:08.119
473  2023/01/12 18:04:14.194     3.087000e-13  2023/01/12 18:04:14.444
474  2023/01/12 18:04:20.519     3.251000e-13  2023/01/12 18:04:20.769
475  2023/01/12 18:04:26.844     3.404000e-13  2023/01/12 18:04:27.094
476  2023/01/12 18:04:33.169     3.206000e-13  2023/01/12 18:04:33.419

     mass 15.0_value  ...           mass 18.0_time  mass 18.0_value  \
136     2.033000e-13  ...  2023/01/12 17:28:43.420     1.360400e-12
137     1.975000e-13  ...  2023/01/12 17:28:49.745     1.331000e-12
135     2.002000e-13  ...  2023/01/12 17:28:37.095     1.346300e-12
138     1.947000e-13  ...  2023/01/12 17:28:56.070     1.356000e-12
134     1.939000e-13  ...  2023/01/12 17:28:30.770     1.353200e-12
..               ...  ...                      ...              ...
472     1.873000e-13  ...  2023/01/12 18:04:08.620     1.381600e-12
473     1.828000e-13  ...  2023/01/12 18:04:14.945     1.366800e-12
474     1.855000e-13  ...  2023/01/12 18:04:21.270     1.368600e-12
475     1.715000e-13  ...  2023/01/12 18:04:27.595     1.350700e-12
476     1.906000e-13  ...  2023/01/12 18:04:33.920     1.333500e-12

              mass 28.0_time  mass 28.0_value           mass 32.0_time  \
136  2023/01/12 17:28:43.670     1.992100e-12  2023/01/12 17:28:43.921
137  2023/01/12 17:28:49.995     1.971900e-12  2023/01/12 17:28:50.246
135  2023/01/12 17:28:37.345     1.971200e-12  2023/01/12 17:28:37.596
138  2023/01/12 17:28:56.320     1.992400e-12  2023/01/12 17:28:56.571
134  2023/01/12 17:28:31.020     1.967100e-12  2023/01/12 17:28:31.271
..                       ...              ...                      ...
472  2023/01/12 18:04:08.871     1.750400e-12  2023/01/12 18:04:09.121
473  2023/01/12 18:04:15.195     1.780400e-12  2023/01/12 18:04:15.446
474  2023/01/12 18:04:21.520     1.822100e-12  2023/01/12 18:04:21.771
475  2023/01/12 18:04:27.845     1.793100e-12  2023/01/12 18:04:28.096
476  2023/01/12 18:04:34.170     1.827300e-12  2023/01/12 18:04:34.421

     mass 32.0_value           mass 40.0_time  mass 40.0_value  \
136     2.106000e-13  2023/01/12 17:28:44.171     3.020000e-14
137     2.032000e-13  2023/01/12 17:28:50.496     1.750000e-14
135     1.925000e-13  2023/01/12 17:28:37.846     2.990000e-14
138     1.938000e-13  2023/01/12 17:28:56.821     2.390000e-14
134     2.110000e-13  2023/01/12 17:28:31.521     2.200000e-14
..               ...                      ...              ...
472     1.648000e-13  2023/01/12 18:04:09.371     3.140000e-14
473     1.933000e-13  2023/01/12 18:04:15.696     2.890000e-14
474     1.914000e-13  2023/01/12 18:04:22.021     2.360000e-14
475     1.890000e-13  2023/01/12 18:04:28.346     2.760000e-14
476     1.995000e-13  2023/01/12 18:04:34.671     2.510000e-14

              mass 44.0_time  mass 44.0_value
136  2023/01/12 17:28:44.922     2.359620e-11
137  2023/01/12 17:28:51.247     2.386500e-11
135  2023/01/12 17:28:38.597     2.348870e-11
138  2023/01/12 17:28:57.572     2.375750e-11
134  2023/01/12 17:28:32.272     2.370370e-11
..                       ...              ...
472  2023/01/12 18:04:10.122     2.365000e-11
473  2023/01/12 18:04:16.447     2.375750e-11
474  2023/01/12 18:04:22.772     2.370370e-11
475  2023/01/12 18:04:29.097     2.413370e-11
476  2023/01/12 18:04:35.422     2.375750e-11


count    3.500000e+01
mean     2.877887e-09
std      2.774300e-11
min      2.858572e-09
25%      2.865144e-09
50%      2.871919e-09
75%      2.878025e-09
max      3.003365e-09
Name: mass 2, corr, dtype: float64

In [23]:
#make a sub-df from mid that includes only mass 2 data
h2 = mid.loc[:, ["mass 2.0_time", "mass 2.0_value"]]
#rename columns
h2 = h2.rename(columns={"mass 2.0_time": "datetime","mass 2.0_value": "Ion current"}).reset_index(drop=True)

print(h2)

                    datetime   Ion current
0    2023/01/12 17:14:31.367  9.361100e-11
1    2023/01/12 17:14:37.692  9.281010e-11
2    2023/01/12 17:14:44.017  9.198780e-11
3    2023/01/12 17:14:50.342  9.152550e-11
4    2023/01/12 17:14:56.667  9.081060e-11
..                       ...           ...
470  2023/01/12 18:04:07.119  5.774840e-11
471  2023/01/12 18:04:13.444  5.801880e-11
472  2023/01/12 18:04:19.769  5.815160e-11
473  2023/01/12 18:04:26.094  5.772000e-11
474  2023/01/12 18:04:32.419  5.771570e-11

[475 rows x 2 columns]

In [24]:
# Convert the 'time' column to datetime index for both dataframes
hv.index = (pd.to_datetime(hv['datetime']).dt.round(freq="S"))
h2.index = (pd.to_datetime(h2['datetime']).dt.round(freq="S"))
print(hv)

# Reindex df1 to match the datetime index of df2
hv = hv.reindex(h2.index, method='nearest', limit=1)

#Drop the "datetime" columns
hv.drop('datetime', axis=1, inplace=True)
h2.drop('datetime', axis=1, inplace=True)

# Now df1 and df2 have the same datetime index and can be joined or aligned
# by joining on the index
hv_aligned = hv.merge(h2,left_index=True, right_index=True, how="inner")

print("aligned",hv_aligned)
print(hv_aligned.describe())

                               datetime        Date  Elapsed time  \
datetime
2023-01-12 17:14:22 2023-01-12 17:14:22  12/01/2023         0.000
2023-01-12 17:14:23 2023-01-12 17:14:23  12/01/2023         1.182
2023-01-12 17:14:24 2023-01-12 17:14:24  12/01/2023         2.366
2023-01-12 17:14:25 2023-01-12 17:14:25  12/01/2023         3.546
2023-01-12 17:14:27 2023-01-12 17:14:27  12/01/2023         4.719
...                                 ...         ...           ...
2023-01-12 18:03:51 2023-01-12 18:03:51  12/01/2023      2969.262
2023-01-12 18:03:52 2023-01-12 18:03:52  12/01/2023      2970.438
2023-01-12 18:03:53 2023-01-12 18:03:53  12/01/2023      2971.623
2023-01-12 18:03:55 2023-01-12 18:03:55  12/01/2023      2972.804
2023-01-12 18:03:56 2023-01-12 18:03:56  12/01/2023      2973.988

                             Time  VMon1  VMon2  VMon3  VMon4  VMon5  VMon6  \
datetime
2023-01-12 17:14:22  17:14:22.360   0.00   0.08   0.20   0.18   0.08   0.02
2023-01-12 17:14:23  17:14:23.542   0.00   0.08   0.26   0.14   0.10   0.06
2023-01-12 17:14:24  17:14:24.726   0.00   0.08   0.18   0.16   0.14   0.08
2023-01-12 17:14:25  17:14:25.906   0.00   0.08   0.22   0.16   0.08   0.04
2023-01-12 17:14:27  17:14:27.079   0.00   0.08   0.24   0.14   0.06   0.06
...                           ...    ...    ...    ...    ...    ...    ...
2023-01-12 18:03:51  18:03:51.622   0.06   0.08   0.14   0.14   0.06   0.02
2023-01-12 18:03:52  18:03:52.798   0.06   0.08   0.14   0.14   0.06   0.02
2023-01-12 18:03:53  18:03:53.983   0.06   0.08   0.14   0.14   0.06   0.02
2023-01-12 18:03:55  18:03:55.164   0.06   0.08   0.14   0.14   0.02   0.02
2023-01-12 18:03:56  18:03:56.348   0.06   0.08   0.14   0.14   0.02   0.02

                     ...   IMon2   IMon3   IMon4   IMon5   IMon6   IMon7  \
datetime             ...
2023-01-12 17:14:22  ...  0.0069  0.0242 -0.0522 -0.0288  0.0401 -0.0226
2023-01-12 17:14:23  ...  0.0069  0.0206  0.0239  0.0256  0.0314 -0.0226
2023-01-12 17:14:24  ...  0.0069  0.0165  0.0214 -0.0388 -0.0404 -0.0226
2023-01-12 17:14:25  ...  0.0073  0.0165 -0.0251 -0.0225  0.0280 -0.0226
2023-01-12 17:14:27  ...  0.0077  0.0216  0.0429 -0.0046  0.0206 -0.0226
...                  ...     ...     ...     ...     ...     ...     ...
2023-01-12 18:03:51  ...  0.0114  0.0233  0.0284  0.0158  0.0268 -0.0176
2023-01-12 18:03:52  ...  0.0114  0.0233  0.0284  0.0139  0.0268 -0.0176
2023-01-12 18:03:53  ...  0.0114  0.0233  0.0284  0.0096  0.0268 -0.0177
2023-01-12 18:03:55  ...  0.0114  0.0233  0.0284  0.0168  0.0268 -0.0177
2023-01-12 18:03:56  ...  0.0114  0.0233  0.0284  0.0168  0.0268 -0.0177

                      IMon8  Comment       hv_grid            em
datetime
2023-01-12 17:14:22 -0.0159      NaN  3.200000e-09  6.900000e-09
2023-01-12 17:14:23 -0.0159      NaN  3.100000e-09  6.900000e-09
2023-01-12 17:14:24 -0.0159      NaN  3.100000e-09  6.900000e-09
2023-01-12 17:14:25 -0.0159      NaN  2.700000e-09  7.300000e-09
2023-01-12 17:14:27 -0.0159      NaN  2.600000e-09  7.700000e-09
...                     ...      ...           ...           ...
2023-01-12 18:03:51 -0.0127      NaN  6.000000e-10  1.140000e-08
2023-01-12 18:03:52 -0.0127      NaN  8.000000e-10  1.140000e-08
2023-01-12 18:03:53 -0.0127      NaN  8.000000e-10  1.140000e-08
2023-01-12 18:03:55 -0.0127      NaN  2.000000e-09  1.140000e-08
2023-01-12 18:03:56 -0.0127      NaN  2.400000e-09  1.140000e-08

[2481 rows x 23 columns]
aligned                            Date  Elapsed time          Time  VMon1  VMon2  \
datetime
2023-01-12 17:14:31  12/01/2023         9.439  17:14:31.799   0.00   0.08
2023-01-12 17:14:38  12/01/2023        16.525  17:14:38.885   0.02   0.10
2023-01-12 17:14:44  12/01/2023        22.424  17:14:44.784   0.02   0.10
2023-01-12 17:14:50  12/01/2023        28.319  17:14:50.679   0.02   0.10
2023-01-12 17:14:57  12/01/2023        35.402  17:14:57.762   0.02   0.10
...                         ...           ...           ...    ...    ...
2023-01-12 18:04:07         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:13         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:20         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:26         NaN           NaN           NaN    NaN    NaN
2023-01-12 18:04:32         NaN           NaN           NaN    NaN    NaN

                     VMon3  VMon4  VMon5  VMon6  VMon7  ...   IMon3   IMon4  \
datetime                                                ...
2023-01-12 17:14:31   0.22   0.18   0.08   0.04    0.0  ...  0.0191  0.0021
2023-01-12 17:14:38   0.26   0.16   0.06   0.04    0.0  ...  0.0198 -0.0343
2023-01-12 17:14:44   0.20   0.20   0.10   0.06    0.0  ...  0.0247 -0.0360
2023-01-12 17:14:50   0.22   0.16   0.10   0.06    0.0  ...  0.0287  0.0254
2023-01-12 17:14:57   0.26   0.14   0.08   0.04    0.0  ...  0.0189  0.0353
...                    ...    ...    ...    ...    ...  ...     ...     ...
2023-01-12 18:04:07    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:13    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:20    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:26    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN
2023-01-12 18:04:32    NaN    NaN    NaN    NaN    NaN  ...     NaN     NaN

                      IMon5   IMon6   IMon7   IMon8  Comment       hv_grid  \
datetime
2023-01-12 17:14:31 -0.0342  0.0328 -0.0226 -0.0159      NaN  2.100000e-09
2023-01-12 17:14:38  0.0019  0.0372 -0.0226 -0.0159      NaN  8.000000e-10
2023-01-12 17:14:44 -0.0581 -0.0348 -0.0226 -0.0159      NaN  2.000000e-10
2023-01-12 17:14:50  0.0230  0.0280 -0.0226 -0.0159      NaN  0.000000e+00
2023-01-12 17:14:57  0.0171  0.0260 -0.0226 -0.0159      NaN  5.000000e-10
...                     ...     ...     ...     ...      ...           ...
2023-01-12 18:04:07     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:13     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:20     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:26     NaN     NaN     NaN     NaN      NaN           NaN
2023-01-12 18:04:32     NaN     NaN     NaN     NaN      NaN           NaN

                               em   Ion current
datetime
2023-01-12 17:14:31  6.900000e-09  9.361100e-11
2023-01-12 17:14:38  6.900000e-09  9.281010e-11
2023-01-12 17:14:44  6.900000e-09  9.198780e-11
2023-01-12 17:14:50  6.900000e-09  9.152550e-11
2023-01-12 17:14:57  7.800000e-09  9.081060e-11
...                           ...           ...
2023-01-12 18:04:07           NaN  5.774840e-11
2023-01-12 18:04:13           NaN  5.801880e-11
2023-01-12 18:04:20           NaN  5.815160e-11
2023-01-12 18:04:26           NaN  5.772000e-11
2023-01-12 18:04:32           NaN  5.771570e-11

[475 rows x 23 columns]
       Elapsed time       VMon1       VMon2        VMon3        VMon4  \
count    470.000000  470.000000  470.000000   470.000000   470.000000
mean    1495.734517  213.743191   73.394426   731.354553   731.554255
std      859.175470  246.605199   44.205112   442.436354   442.264902
min        9.439000    0.000000    0.060000     0.000000     0.000000
25%      754.309500    0.060000    0.120000     0.220000     0.200000
50%     1495.957500    0.160000  100.060000  1000.010000  1000.140000
75%     2238.021750  499.940000  100.080000  1000.020000  1000.160000
max     2973.988000  499.980000  100.140000  1000.040000  1000.160000

             VMon5       VMon6  VMon7         VMon8       IMon1       IMon2  \
count   470.000000  470.000000  470.0  4.700000e+02  470.000000  470.000000
mean    727.050596  365.307745    0.0  4.000000e-02   -0.114769    0.871895
std     444.690974  221.714141    0.0  4.792938e-16    0.201757    1.310850
min       0.000000    0.000000    0.0  4.000000e-02   -0.550800   -3.783400
25%       0.105000    0.060000    0.0  4.000000e-02   -0.385450    0.015850
50%    1000.080000  499.960000    0.0  4.000000e-02   -0.001600    0.023150
75%    1000.100000  499.980000    0.0  4.000000e-02    0.018600    2.631700
max    1000.120000  500.100000    0.0  4.000000e-02    0.528900    3.784400

            IMon3       IMon4       IMon5       IMon6       IMon7       IMon8  \
count  470.000000  470.000000  470.000000  470.000000  470.000000  470.000000
mean     7.508768    7.525745    7.492351    7.505167   -0.018624   -0.012000
std      4.600178    4.607398    4.600650    4.595640    0.002556    0.001527
min     -3.089600   -2.613500   -1.718200   -0.280000   -0.022600   -0.015900
25%      0.026825    0.047050    0.022925    0.047200   -0.021000   -0.012600
50%     10.062650   10.085000   10.049250   10.060700   -0.018550   -0.011700
75%     10.800775   10.820950   10.787450   10.797325   -0.017300   -0.010900
max     11.187000   11.206700   11.171800   11.179300   -0.013200   -0.009800

            hv_grid            em   Ion current
count  4.700000e+02  4.700000e+02  4.750000e+02
mean   1.387745e-07  8.948368e-07  6.074262e-11
std    1.860283e-07  1.295265e-06  5.055042e-12
min    0.000000e+00  1.300000e-09  5.738620e-11
25%    3.900000e-09  1.720000e-08  5.897690e-11
50%    1.940000e-08  2.320000e-08  6.004630e-11
75%    3.885000e-07  2.636775e-06  6.118575e-11
max    5.508000e-07  3.784400e-06  9.361100e-11

In [25]:
#Filtering background signal for interpolated datasets

#take a mass with a signal known to be in the background
bck = np.mean(mid["mass 5.5_value"])

#apply background correction to the rest of the mass spectrum
hv_aligned["mass 2 corr"]=hv_aligned["Ion current"]-bck

#From the signal, get the partial pressures 
h2_sens = 2.13e-2 #A/mbar
h2_equiv = 0.46 #H2 equivalent pressures from N2 reading
p_h2_ip = hv_aligned["mass 2 corr"]/(h2_sens*h2_equiv) 

#account for the thermal transpiration factor
T2 = 4.2
T1 = 296.5
T_coef = np.sqrt(T2/T1)
p_h2_ip = p_h2_ip*T_coef 

#insert partial pressures into the dataframe
hv_aligned.insert(22,"hydrogen pp",p_h2_ip)

In [26]:
hv_aligned.fillna(0,inplace=True)
hv_aligned["hydrogen pp"].describe()

count    4.750000e+02
mean     7.365261e-10
std      6.140442e-11
min      6.957552e-10
25%      7.150777e-10
50%      7.280678e-10
75%      7.419089e-10
max      1.135784e-09
Name: hydrogen pp, dtype: float64

# Apparent desorption yield calculation for H2
### Formula for the cryo setup
$$
\eta_{app}=\frac{C_{comb}\cdot (p_{n,EM} - \overline{p}_{base}) \cdot q_e}{k_B\cdot T \cdot I_{n}}
$$

T here is @RT and therefore thermal transpiration compensation should be applied afterwards to $\Delta p$.

$C_{comb}$ takes into account the conductance from the sample via the copper tube for H2 and the pumping speed for turbo pump

In [29]:
#calculation of delta_p-s
dp1 = (np.mean(p_h2)-np.mean(base_h2))*100
print(dp1)

#Constants
k_B = scipy.constants.value("Boltzmann constant")
T = 293
q_e = scipy.constants.value("elementary charge")
c_h2 = 37.91/1000
s_h2=42/1000
x_h2=1/((1/c_h2)+(1/s_h2))
print(x_h2)

#Emission current
I_em = np.nanmean(hv["em"].nlargest(30))
print(I_em)

2.065057008718916e-09
0.01992516581153798
3.0452133333333334e-06

In [30]:
#Desorption yield
eta_h2 = (x_h2*dp1*q_e)/(k_B*T*I_em)
#eta_co = (c_co*(dp1-dp2)*q_e)/(k_B*T*I_em)
print("The desorption yield for H2 [mol/el]:",eta_h2,"\n",)#""The desorption yield for CO2 [mol/el]:",eta_co2)

The desorption yield for H2 [mol/el]: 0.0005351502808042496

## Desorption yield point-by-point

$$
\eta_{app}=\frac{C_{comb}\cdot (p_{n,EM} - \overline{p}_{base}) \cdot q_e}{k_B\cdot T \cdot I_{n}}
$$

In [15]:
#partial pressure delta

p_delta = hv_aligned["hydrogen pp"].diff(periods=5).fillna(hv_aligned["hydrogen pp"])*100
p_delta = p_delta.clip(lower=0)
print(p_delta)
#hv_shifted = hv_aligned.shift(periods=1)
#print(hv_shifted)
#p_delta = hv_aligned["hydrogen pp"] - hv_shifted["hydrogen pp"]
#print(hv_aligned["hydrogen pp"].describe())
#print(hv_shifted["hydrogen pp"].describe())
print(p_delta.describe())

datetime
2023-01-12 17:14:31    1.135784e-07
2023-01-12 17:14:38    1.126055e-07
2023-01-12 17:14:44    1.116066e-07
2023-01-12 17:14:50    1.110451e-07
2023-01-12 17:14:57    1.101767e-07
                           ...
2023-01-12 18:04:07    4.399702e-10
2023-01-12 18:04:13    0.000000e+00
2023-01-12 18:04:20    4.466512e-10
2023-01-12 18:04:26    0.000000e+00
2023-01-12 18:04:32    2.448868e-10
Name: hydrogen pp, Length: 475, dtype: float64
count    4.750000e+02
mean     1.347887e-09
std      1.141198e-08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.952656e-10
max      1.135784e-07
Name: hydrogen pp, dtype: float64

In [16]:
#constants are already defined
#emission current and H2 partial pressures are now available at the same sampling rates
print(hv_aligned.describe())
I_n = hv_aligned["em"].replace(0, np.nan).dropna()

I_n.where(hv_aligned["em"] >= 5e-7, np.nan, inplace=True)
#pd.df.where(cond= "Where cond is True, keep the original value. Otherwise, replace with NaN")
print(I_n.describe())

eta = ((x_h2*p_delta*q_e)/(k_B*T*I_n)).dropna()
eta = eta.loc[eta.index[1]:]
print("desorption yields point-by-point:","\n", eta)

       Elapsed time       VMon1       VMon2        VMon3        VMon4  \
count    475.000000  475.000000  475.000000   475.000000   475.000000
mean    1479.487358  211.152884   72.494737   723.813558   724.020674
std      868.182625  245.777389   44.726711   446.155768   446.043826
min        0.000000    0.000000    0.000000     0.000000     0.000000
25%      729.199500    0.060000    0.120000     0.220000     0.180000
50%     1480.319000    0.160000  100.060000  1000.000000  1000.120000
75%     2228.405000  499.940000  100.080000  1000.020000  1000.160000
max     2973.988000  499.980000  100.140000  1000.040000  1000.180000

             VMon5       VMon6  VMon7       VMon8       IMon1  ...  \
count   475.000000  475.000000  475.0  475.000000  475.000000  ...
mean    719.565811  361.598653    0.0    0.039579   -0.112787  ...
std     448.408449  223.478666    0.0    0.004087    0.200556  ...
min       0.000000    0.000000    0.0    0.000000   -0.506800  ...
25%       0.100000    0.050000    0.0    0.040000   -0.384900  ...
50%    1000.080000  499.960000    0.0    0.040000   -0.001500  ...
75%    1000.100000  499.980000    0.0    0.040000    0.018600  ...
max    1000.120000  500.100000    0.0    0.040000    0.517500  ...

            IMon4       IMon5       IMon6       IMon7       IMon8  \
count  475.000000  475.000000  475.000000  475.000000  475.000000
mean     7.443658    7.412618    7.426377   -0.018427   -0.011876
std      4.647559    4.638031    4.632892    0.003176    0.001956
min     -1.766000   -0.789600   -0.048300   -0.022600   -0.015900
25%      0.041400    0.021800    0.041750   -0.021000   -0.012600
50%     10.056300   10.020600   10.032000   -0.018500   -0.011700
75%     10.818850   10.784600   10.794150   -0.017300   -0.010800
max     11.206700   11.171800   11.179300    0.000000    0.000000

            hv_grid            em   hydrogen pp   Ion current   mass 2 corr
count  4.750000e+02  4.750000e+02  4.750000e+02  4.750000e+02  4.750000e+02
mean  -1.127865e-07  8.558604e-07  7.365261e-10  6.074262e-11  6.063359e-11
std    2.005564e-07  1.303497e-06  6.140442e-11  5.055042e-12  5.055042e-12
min   -5.068000e-07 -3.783400e-06  6.957552e-10  5.738620e-11  5.727717e-11
25%   -3.849000e-07  1.450000e-08  7.150777e-10  5.897690e-11  5.886787e-11
50%   -1.500000e-09  2.320000e-08  7.280678e-10  6.004630e-11  5.993727e-11
75%    1.860000e-08  2.623750e-06  7.419089e-10  6.118575e-11  6.107672e-11
max    5.175000e-07  3.784400e-06  1.135784e-09  9.361100e-11  9.350197e-11

[8 rows x 22 columns]
count    1.450000e+02
mean     2.793597e-06
std      1.785676e-07
min      1.873600e-06
25%      2.661000e-06
50%      2.783200e-06
75%      2.900900e-06
max      3.784400e-06
Name: em, dtype: float64
desorption yields point-by-point:
 datetime
2023-01-12 17:19:51    0.000000
2023-01-12 17:23:57    0.001098
2023-01-12 17:24:04    0.000796
2023-01-12 17:24:10    0.000577
2023-01-12 17:24:16    0.000516
                         ...
2023-01-12 17:55:28    0.000002
2023-01-12 17:55:35    0.000016
2023-01-12 17:55:41    0.000046
2023-01-12 17:55:47    0.000054
2023-01-12 17:55:54    0.000000
Length: 144, dtype: float64

In [17]:
#slicing eta to match hv_aligned["Elapsed time"]:
# Slice x using the index of y
hv_downsampled = hv_aligned.loc[eta.index, :]

## Electron dose

Find:

$$
Q = \int_{t_1}^{t_2} I \,dt
$$

Where $t_2$ and $t_1$ are the timestamps at which an emission current reading was taken

In [ ]:
#Integrating the emission current
def integrand(t, i):
    return i*t

i = I_n.dropna().reset_index() 

#for testing:
#t2_2 = (hv_aligned["Elapsed time"].diff(periods=1).fillna(0))

#adding an elapsed time column
timestamp3=[]
for j in hv["Time"]:
    timestamp3.append(j)
    
#making the column into a datetime object
timestamps3=pd.to_datetime(i["datetime"],format="%H:%M:%S")
runtime3=(timestamps3-timestamps3[0]).dt.total_seconds()    
i.insert(2,"Elapsed time",runtime3)

#define the n, n-1 difference in a variable "t2"
t2 = (i["Elapsed time"].diff(periods=1).fillna(0))

#replace all values from t2 that are further away than 50% of the median of the sampling rate (.. > 9) with the median value
t2.where(t2 <= 12,6,inplace=True)
print(t2)

#integration
ar = []
for x in t2:
    itr = 0
    I = quad(integrand, 0, x, args=(i["I_em"][itr]))
    ar.append(I[0])
    itr += 1
    #if previous value was not NaN, replace the value with the median of elapsed time
    #if

In [ ]:
#calculate the cumulative charge
Q_cumul = np.cumsum(ar)
Q_sum = sum(ar)
print("Total charge emitted from EGA during ~5000 seconds:", f"{Q_sum:.4E}", "C")

#cumulative nr of electrons emitted
N_e = Q_sum/1.6e-19
Ne_cumul = Q_cumul/1.6e-19
print("Total number of electron emitted during ~5000 seconds:", f"{N_e:.4E}", "e")
      
#To get the electron dose, divide n of electrons by sample surface area of 276 cm2, multiply by grid transmittance of 0.9
tot_dose = (N_e/276)*0.9
cumul_dose = (Ne_cumul/276)*0.9
print("Total electron dose on the sample ~5000 seconds:", f"{tot_dose:.4E}", "e-/cm^2")
      
#add these to the "i" dataframe:
i.insert(3,"Cumulative charge", Q_cumul)
i.insert(4,"Cumulative n. of electrons emitted from EGA", Ne_cumul)
i.insert(5,"Cumulative electron dose on the HL sample", cumul_dose)
i.set_index("datetime", drop=True, inplace=True)

#Ignore the first value, also, match the shape of eta
i = i.loc[i.index[1]:]
print(i)

Total charge emitted from EGA during ~5000 seconds: 6.6102E-02 C
Total number of electron emitted during ~5000 seconds: 4.1313E+17 e
Total electron dose on the sample ~5000 seconds: 1.3472E+15 e-/cm^2
                             I_em  Elapsed time  Cumulative charge  \
datetime
2023-02-24 14:30:22  3.298600e-06           5.0           0.000041
2023-02-24 14:30:27  3.294800e-06          10.0           0.000083
2023-02-24 14:30:31  3.293100e-06          14.0           0.000109
2023-02-24 14:30:36  3.288200e-06          19.0           0.000151
2023-02-24 14:30:41  3.276700e-06          24.0           0.000192
...                           ...           ...                ...
2023-02-24 17:18:04  1.064000e-07       10067.0           0.065936
2023-02-24 17:18:09  1.064000e-07       10072.0           0.065977
2023-02-24 17:18:14  1.064000e-07       10077.0           0.066019
2023-02-24 17:18:19  1.064000e-07       10082.0           0.066060
2023-02-24 17:18:24  1.064000e-07       10087.0           0.066102

                     Cumulative n. of electrons emitted from EGA  \
datetime
2023-02-24 14:30:22                                 2.591484e+14
2023-02-24 14:30:27                                 5.182969e+14
2023-02-24 14:30:31                                 6.841519e+14
2023-02-24 14:30:36                                 9.433003e+14
2023-02-24 14:30:41                                 1.202449e+15
...                                                          ...
2023-02-24 17:18:04                                 4.120978e+17
2023-02-24 17:18:09                                 4.123570e+17
2023-02-24 17:18:14                                 4.126161e+17
2023-02-24 17:18:19                                 4.128753e+17
2023-02-24 17:18:24                                 4.131344e+17

                     Cumulative electron dose on the HL sample
datetime
2023-02-24 14:30:22                               8.450493e+11
2023-02-24 14:30:27                               1.690099e+12
2023-02-24 14:30:31                               2.230930e+12
2023-02-24 14:30:36                               3.075979e+12
2023-02-24 14:30:41                               3.921029e+12
...                                                        ...
2023-02-24 17:18:04                               1.343797e+15
2023-02-24 17:18:09                               1.344642e+15
2023-02-24 17:18:14                               1.345487e+15
2023-02-24 17:18:19                               1.346332e+15
2023-02-24 17:18:24                               1.347178e+15

[1608 rows x 5 columns]

# Plotting

In [18]:
#plot the aligned dataframe results
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.plot(hv_aligned["Elapsed time"],hv_aligned["em"],linestyle="-",marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [19]:
#plot the h2 mid 
#seems to be too little rows?
plt.figure(figsize=(12,6))
plt.plot(hv_aligned["Elapsed time"],hv_aligned["Ion current"],linestyle="-",marker=".", markersize=4,label='H2 ion current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(loc="upper right")
plt.title("Ion current evolution of H2, 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('linear')

In [20]:
#Plotting the all the relevant MID spectrums
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 4'],mid["mass 4.0_value"],marker=".", markersize=4,label='M4')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M14')
plt.plot(time['Elapsed time, mass 16'],mid["mass 16.0_value"],marker=".", markersize=4,label='M16')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time['Elapsed time, mass 40'],mid["mass 40.0_value"],marker=".", markersize=4,label='M40')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID scan 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")

plt.yscale('log')

In [21]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")


plt.yscale('log')

In [22]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [23]:
## Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("Temperature evolution 1 ML tech. surface pre-injection, EGA fully in, dynamic vacuum")
plt.yscale('linear')

In [ ]:
#checking inj pressure linearity, graph
fig, ax = plt.subplots()
y_fit = func(x,a,b)
ax.plot((vaclog["Elapsed time"]/3600),vaclog["injection 1mbar"],marker=".", markersize=5,label='inj volume pressure')
ax.plot((vaclog["Elapsed time"]/3600),y_fit, "--",color="red", label="Y= -ax + b fit") 
ax.legend(loc="upper right")

ax.set_xlabel('Elapsed time (h)')
ax.set_ylabel('Pressure (mbar)')
ax.set_yscale('linear')
plt.title("Injection pressure evolution 1mbar conductance gauge")

In [24]:
#plotting point-by-point eta
plt.figure(figsize=(10,6))
plt.plot(hv_downsampled["Elapsed time"],eta,marker=".", markersize=4,label='eta')
#plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Electon stimulated desorption yield (M/el)')
plt.legend()
plt.title("ESD vs time, p_n - p_n-5")
ax = plt.gca()
ax.set_yscale('log')
ax.grid(which="major",axis="x")
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()